@import "_mixins/font-face";

@include font-face("Montserrat-Regular", "../fonts/Montserrat-Regular/Montserrat-Regular");
@include font-face("Montserrat-Bold", "../fonts/Montserrat-Bold/Montserrat-Bold", bold);
@include font-face("Montserrat-Medium", "../fonts/Montserrat-Medium/Montserrat-Medium", 500);
@include font-face("Montserrat-SemiBold", "../fonts/Montserrat-SemiBold/Montserrat-SemiBold", 500);

@include font-face("AlegreyaSans-Bold", "../fonts/AlegreyaSans-Bold/AlegreyaSans-Bold", bold);


$mont-r: "Montserrat-Regular";
$mont-b: "Montserrat-Bold";
$mont-m: "Montserrat-Medium";
$mont-sb: "Montserrat-SemiBold";
$aleg-b: "AlegreyaSans-Bold";