$font-family-base: "Montserrat-Regular";
$text: #333;
// $font-weight-base: normal;
// $line-height-base: 1.2;
$body-color: #8f7e78;
$body-bg: #faf6f3;
$transmition: all 0.3s;



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 738px, lg: 960px, xl: 1200px);

$gutter: $grid-gutter-width;