@import "vars";
@import "fonts";
@import "libs";

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

::placeholder {
	color: #666;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

input,
a {

	&:hover,
	&:active,
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

section.light_bg {
	background-color: #faf6f3;
}

section.dark_bg {
	background-color: #f8f0e9;
}

.lock {
	overflow: hidden;
	position: fixed;
	height: 100vh;
}

@media (max-width: 575px) {
	.row {
		>div {
			padding: 0 20px;
		}
	}
}

section {
	h1 {
		color: #6f4838;
		font-size: 54px;
		line-height: 60px;
		font-family: "AlegreyaSans-Bold";

		@media (max-width: 991px) {
			text-align: center;
		}

		@media (max-width: 575px) {
			font-size: 38px;
			line-height: 36px;
		}
	}

	h2 {
		font-size: 54px;
		line-height: 60px;
		font-family: "AlegreyaSans-Bold";
		font-weight: 300;
		color: #6f4838;

		@media (max-width: 575px) {
			font-size: 38px;
			line-height: 36px;
		}


	}

	h3 {
		font-size: 28px;
		line-height: 60px;
		font-family: "AlegreyaSans-Bold";
		font-weight: 300;
		color: #6f4838;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	p {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 40px;

		@media (max-width: 575px) {
			font-size: 16px;
			line-height: 24px;
		}

		a {
			font-family: "Montserrat-SemiBold";
			text-decoration: underline;
			color: #6f4838;
			transition: $transmition;

			&:hover {
				color: inherit;
			}
		}
	}

	@media (max-width: 991px) {
		h2 {
			text-align: center;
		}
	}
}

.play__link {
	font-size: 18px;
	line-height: 28px;
	color: #a95634;
	text-decoration: none;
	transition: 0.3s;
	display: inline-block;

	&:hover {
		text-decoration: none;
		color: #a95634;
	}

	span {
		position: relative;
		padding-left: 35px;

		&::before {
			content: '';
			position: absolute;
			left: 0px;
			top: -1px;
			border-radius: 50%;
			background-image: url('../img/icon/play.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 25px;
			height: 25px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			border-bottom: 1px dashed #a95634;
			left: 35px;
			width: calc(100% - 35px);
		}
	}
}

.btn__brown {
	display: inline-block;
	background-color: #a95634;
	box-shadow: 0px 5px 15px 0px rgba(169, 86, 52, 0.3), 0px 3px 0px 0px rgba(114, 57, 34, 1);
	border-radius: 40px;
	color: white;
	text-decoration: none;
	font-family: "Montserrat-SemiBold";
	font-size: 18px;
	line-height: 28px;
	padding: 21px 10px;
	text-align: center;
	transition: 0.3s;
	min-width: 370px;
	// padding-top: 22px;
	// padding-bottom: 20px;

	@media(max-width: 768px) {
		min-width: 370px;
	}

	@media(max-wdith: 576px) {
		min-width: 420px;
	}

	@media(max-width: 480px) {
		min-width: 100%;
		width: 100%;
	}

	&:hover {
		background-color: #b95e39;
		box-shadow: 0px 5px 25px 0px rgba(169, 86, 52, 0.5), 0px 3px 0px 0px rgba(114, 57, 34, 1);
		color: white;
		text-decoration: none;
	}

	@media (max-width: 415px) {
		padding: 16px 25px 15px;
		font-size: 14px;
		width: 100%;
	}

}

.btn__download {
	text-decoration: none;
	font-family: "Montserrat-SemiBold";
	font-size: 16px;
	line-height: 27px;
	color: #6f4838;
	display: inline-block;
	border: 1px solid #a95634;
	border-radius: 30px;
	padding: 16px 50px 15px;
	transition: 0.3s;
	white-space: nowrap;

	@media(max-width: 420px) {
		padding: 16px 24px 15px;
	}

	&:hover {
		color: #6f4838;
		text-decoration: none;
	}

	span {
		position: relative;
		padding-left: 20px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-image: url('../img/icon/icon_downlaod.svg');
			background-repeat: no-repeat;
			width: 15px;
			height: 17px;
		}
	}
}

.btn__simple {
	display: inline-block;
	color: #6f4838;
	font-size: 16px;
	line-height: 27px;
	font-family: "Montserrat-SemiBold";
	text-align: center;
	text-decoration: none;
	border: 1px solid #f2d8c9;
	border-radius: 40px;
	transition: 0.3s;
	padding: 15px 5px;
	min-width: 270px;

	>span {
		font-size: 16px;
	}

	@media(max-width: 992px) {
		min-width: 320px;
	}

	@media(max-width: 767px) {
		font-size: 14px;

		>span {
			font-size: 14px;
		}
	}

	@media(max-width: 420px) {
		font-size: 12px;

		>span {
			font-size: 12px;
		}
	}

	@media(max-width: 576px) {
		padding: 11px 5px;
		min-width: 260px;
	}

	@media(max-width: 480px) {
		min-width: 260px;
		font-size: 12px !important;
	}

	@media(max-width: 420px) {
		min-width: 100%;
	}

	&:hover {
		border: 1px solid #a95634;
		text-decoration: none;
		color: #6f4838;
	}

	@media (max-width: 415px) {
		font-size: 14px;
	}
}

.link__download {
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
	font-family: "Montserrat-Medium";
	color: #6f4838;
	transition: $transmition;
	position: relative;

	@media(max-width: 768px) {
		display: table;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	&:after {
		content: "";
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		left: 0px;
		bottom: 2px;
		background-color: #6f4838;
		transition: .2s;
	}


	&:hover {
		color: #6f4838;

		&:after {
			opacity: 0;
		}
	}
}

.btn__play {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: rgba(185, 94, 57, .7);
	transition: $transmition;
	box-shadow: 0px 5px 15px 0px rgba(81, 44, 29, 0.25);

	&:hover {
		background-color: rgba(185, 94, 57, .9);
	}

	svg {
		position: absolute;
		top: calc(50% - 20px);
		left: calc(50% - 10px);
		width: 32px;
		height: 42px;
		fill: #fff;
	}

	@media (max-width: 768px) {
		width: 90px;
		height: 90px;

		svg {
			left: calc(50% - 14px);
		}
	}

	@media (max-width: 575px) {
		width: 55px;
		height: 55px;

		svg {
			width: 15px;
			height: 20px;
			top: calc(50% - 10px);
			left: calc(50% - 5px);
		}
	}
}

.a__link {
	display: inline-block;
	color: #6f4838;
	transition: $transmition;
	font-family: "Montserrat-Medium";
	text-decoration: underline;

	&:hover {
		color: #a95634;
		text-decoration: underline;
	}
}

.wrap--btn {
	text-align: center;
}

.no-shadow,
.no-shadow:hover {
	box-shadow: none;

}

.hover-brown:hover {
	background-color: #a95634;
	color: white;
}

.dark_bg {
	.slick-slider {
		.slick-list {
			&::before {
				content: '';
				position: absolute;
				height: 100%;
				width: 200px;
				top: 0;
				left: 0;
				z-index: 1;
				background: linear-gradient(to right, rgba(248, 240, 233, 1) 3%, rgba(248, 240, 233, 0.89) 14%, rgba(248, 240, 233, 0) 100%);
			}

			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 200px;
				top: 0;
				right: 0;
				z-index: 1;
				background: linear-gradient(to right, rgba(248, 240, 233, 0) 0%, rgba(248, 240, 233, 0.89) 86%, rgba(248, 240, 233, 1) 97%);
			}
		}
	}
}

.slick-slider {

	.slide-next,
	.slide-prev {
		padding: 0;
		cursor: pointer;
		position: absolute;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 1px solid #f2d8c9;
		background-color: white;
		box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
		transition: $transmition;
		z-index: 2;

		&:hover {
			border: 1px solid #ab5938;
		}

		&:focus {
			outline: none;
		}

		svg {
			width: 10px;
			height: 16px;
			fill: rgb(169, 86, 52);
			position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			top: 16px;
		}

		@media (max-width: 575px) {
			width: 36px;
			height: 36px;

			svg {
				top: 11px;
				width: 8px;
				height: 12px;
			}
		}

	}

	.slide-next {
		svg {
			left: 21px;
		}

		@media (max-width: 575px) {
			svg {
				left: 14px;
			}
		}
	}

	.slide-prev {
		svg {
			right: 20px;
		}

		@media (max-width: 575px) {
			svg {
				right: 13px;
			}
		}
	}

	.slide-prev {
		left: -25px;

		@media (max-width: 575px) {
			left: -15px;
		}
	}

	.slide-next {
		right: -25px;

		@media (max-width: 575px) {
			right: -15px;
		}
	}

	.slick-list {
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 200px;
			top: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient(to right, rgba(250, 246, 243, 1) 3%, rgba(250, 246, 243, 0.89) 14%, rgba(250, 246, 243, 0) 100%);
		}

		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 200px;
			top: 0;
			right: 0;
			z-index: 1;
			background: linear-gradient(to right, rgba(250, 246, 243, 0) 0%, rgba(250, 246, 243, 0.89) 86%, rgba(250, 246, 243, 1) 97%);
		}

		@media (max-width: 575px) {

			&::before,
			&::after {
				width: 100px;
			}
		}
	}



	&.slick-no-shadow {
		.slick-list {

			&::before,
			&::after {
				content: none;
			}
		}
	}
}

//range input 
input[type='range'] {
	overflow: visible;
	-webkit-appearance: none;
	padding: 1px;
	width: 100%;
	min-width: 300px;
	height: 12px;
	border-radius: 15px;
	background: transparent;
	/* Firefox & Chrome/ Opera need this, 
     otherwise font-size is smaller */
	font-size: 1em;
	cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-sizing: border-box;
	border: solid 1px #f2d8c9;
	width: 100%;
	height: 7px;
	border-radius: 15px;
	background: #faf6f3;
}

.js input[type='range']::-webkit-slider-runnable-track {
	background: #faf6f3 linear-gradient(#a95634, #a95634) no-repeat 0 50%;
	background-size: 50% 100%;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -.3em;
	/* weird shit, Chrome */
	border: solid 2px white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0px 2px 5px 0px rgba(81, 44, 29, 0.1);
	background: #a95634;
	background-size: 55% 55%;

	/* this too :| */
	@media (max-width: 992px) {
		width: 25px;
		height: 25px;
		margin-top: -.6em;
	}
}

input[type='range']::-moz-range-track {
	z-index: -1;
	/* fix Firefox WTF */
	box-sizing: border-box;
	border: solid 1px #f2d8c9;
	width: 100%;
	height: 7px;
	border-radius: 15px;
	background: #faf6f3;
}

.js input[type='range']::-moz-range-track {
	background: #faf6f3 linear-gradient(#a95634, #a95634) no-repeat 0 50%;
	background-size: 50% 100%;
}

input[type='range']::-moz-range-thumb {
	border: solid 2px white;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	box-shadow: 0px 2px 5px 0px rgba(81, 44, 29, 0.1);
	background: #a95634;
	/* Firefox-only, it won't work in IE 
     and it's messed up in Chrome */
	cursor: ew-resize;

	@media (max-width: 992px) {
		width: 20px;
		height: 20px;
	}
}

input[type='range']::-ms-track {
	overflow: hidden;
	box-sizing: border-box;
	border: solid 1px #f2d8c9;
	width: 200px;
	height: 7px;
	border-radius: 15px;
	background: #faf6f3;
	color: transparent;
}

input[type='range']::-ms-thumb {
	border: solid 2px white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0px 2px 5px 0px rgba(81, 44, 29, 0.1);
	background: #a95634;

	@media (max-width: 992px) {
		width: 25px;
		height: 25px;
	}
}

input[type='range']::-ms-fill-lower {
	border-radius: 3.5px;
	background: #a95634;
}

input[type='range']::-ms-fill-upper {
	background: transparent;
}

.js input[type='range'] /deep/ #thumb {
	position: relative;
}

.js input[type='range'] /deep/ #thumb:before,
.js input[type='range'] /deep/ #thumb:after {
	position: absolute;
	left: 50%;
	background: #767676;
}

.js input[type='range'] /deep/ #thumb:before {
	margin: -3em -2em;
	width: 4em;
	border-radius: .25em;
	color: #fff;
	font-weight: 600;
	line-height: 2;
	text-align: center;
	content: '50%';
}

.js input[type='range'] /deep/ #thumb:after {
	margin: -1.5em -.365em;
	width: .75em;
	height: .75em;
	transform: rotate(-45deg);
	content: '';
}

// end range input


.parallax {
	position: absolute;
	z-index: -1;

	@media (max-width: 767px) {
		display: none;
	}
}

strong {
	font-family: "Montserrat-Bold";
}

@import "_include/menu";

@import "_include/main";
@import "_include/about";
@import "_include/brithday";
@import "_include/contacts";
@import "_include/foto";
@import "_include/dobro";
@import "_include/dopolnitelno";
@import "_include/exkursii";
@import "_include/price";
@import "_include/menu-list";
@import "_include/viezd";
@import "_include/vipusk";
@import "_include/testimonials";
@import "_include/news";
@import "_include/news-detail";
@import "_include/sale";
@import "_include/popup";

@import "_include/footer";
@import "../libs/slick/slick.scss";
@import "../libs/slick/slick-theme.scss";


/*!
 * SimpleBar.js - v2.6.1
 * https://grsmto.github.io/simplebar/
 */
[data-simplebar] {
	position: relative;
	z-index: 0;
	overflow: hidden !important;
	max-height: inherit;
	-webkit-overflow-scrolling: touch;
	/* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.simplebar-scroll-content {
	overflow-x: hidden !important;
	overflow-y: scroll;
	min-width: 100% !important;
	max-height: inherit !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.simplebar-content {
	overflow-y: hidden !important;
	overflow-x: scroll;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	min-height: 100% !important;
}

.simplebar-track {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 5px;
}

.simplebar-scrollbar {
	position: absolute;
	right: 2px;
	width: 5px;
	min-height: 10px;
}

.simplebar-scrollbar:before {
	position: absolute;
	content: "";
	background: #f2d8c9;
	border-radius: 7px;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.simplebar-track:hover .simplebar-scrollbar:before,
.simplebar-track .simplebar-scrollbar.visible:before {
	/* When hovered, remove all transitions from drag handle */
	opacity: 0.5;
	-webkit-transition: opacity 0 linear;
	transition: opacity 0 linear;
}

.simplebar-track.vertical {
	top: 0;
}

.simplebar-track.vertical .simplebar-scrollbar:before {
	top: 2px;
	bottom: 2px;
}

.simplebar-track.horizontal {
	left: 0;
	width: auto;
	height: 11px;
}

.simplebar-track.horizontal .simplebar-scrollbar:before {
	height: 100%;
	left: 2px;
	right: 2px;
}

.horizontal.simplebar-track .simplebar-scrollbar {
	right: auto;
	top: 2px;
	height: 7px;
	min-height: 0;
	min-width: 10px;
	width: auto;
}


/*!
* fancyBox v3.4.2
* http://fancyapps.com/fancybox/
* Copyright 2018 fancyApps
*/
body.compensate-for-scrollbar {
	overflow: hidden
}

.fancybox-active {
	height: auto
}

.fancybox-is-hidden {
	left: -9999px;
	margin: 0;
	position: absolute !important;
	top: -9999px;
	visibility: hidden
}

.fancybox-container {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	left: 0;
	outline: none;
	position: fixed;
	-webkit-tap-highlight-color: transparent;
	top: 0;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	width: 100%;
	z-index: 99992
}

.fancybox-container * {
	box-sizing: border-box
}

.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}

.fancybox-outer {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto
}

.fancybox-bg {
	background: #1e1e1e;
	opacity: 0;
	transition-duration: inherit;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.47, 0, .74, .71)
}

.fancybox-is-open .fancybox-bg {
	opacity: .87;
	transition-timing-function: cubic-bezier(.22, .61, .36, 1)
}

.fancybox-caption,
.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
	direction: ltr;
	opacity: 0;
	position: absolute;
	transition: opacity .25s ease, visibility 0s ease .25s;
	visibility: hidden;
	z-index: 99997
}

.fancybox-show-caption .fancybox-caption,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-nav .fancybox-navigation .fancybox-button,
.fancybox-show-toolbar .fancybox-toolbar {
	opacity: 1;
	transition: opacity .25s ease 0s, visibility 0s ease 0s;
	visibility: visible
}

.fancybox-infobar {
	color: #ccc;
	font-size: 13px;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 44px;
	left: 0;
	line-height: 44px;
	min-width: 44px;
	mix-blend-mode: difference;
	padding: 0 10px;
	pointer-events: none;
	top: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.fancybox-toolbar {
	right: 0;
	top: 0
}

.fancybox-stage {
	direction: ltr;
	overflow: visible;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 99994
}

.fancybox-is-open .fancybox-stage {
	overflow: hidden
}

.fancybox-slide {
	-webkit-backface-visibility: hidden;
	display: none;
	height: 100%;
	left: 0;
	outline: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 44px 44px 0;
	position: absolute;
	text-align: center;
	top: 0;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	white-space: normal;
	width: 100%;
	z-index: 99994
}

.fancybox-slide:before {
	content: "";
	display: inline-block;
	font-size: 0;
	height: 100%;
	vertical-align: middle;
	width: 0
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
	display: block
}

.fancybox-slide--next {
	z-index: 99995
}

.fancybox-slide--image {
	overflow: hidden;
	padding: 44px 0 0
}

.fancybox-slide--image:before {
	display: none
}

.fancybox-slide--html {
	padding: 6px 6px 0
}

.fancybox-content {
	background: #fff;
	display: inline-block;
	margin: 0 0 44px;
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 44px;
	position: relative;
	text-align: left;
	vertical-align: middle
}

.fancybox-slide--image .fancybox-content {
	-webkit-animation-timing-function: cubic-bezier(.5, 0, .14, 1);
	animation-timing-function: cubic-bezier(.5, 0, .14, 1);
	-webkit-backface-visibility: hidden;
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left: 0;
	max-width: none;
	overflow: visible;
	padding: 0;
	position: absolute;
	top: 0;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 99995
}

.fancybox-slide--html .fancybox-content {
	margin: 0 0 6px
}

.fancybox-can-zoomOut .fancybox-content {
	cursor: zoom-out
}

.fancybox-can-zoomIn .fancybox-content {
	cursor: zoom-in
}

.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
	cursor: -webkit-grab;
	cursor: grab
}

.fancybox-is-grabbing .fancybox-content {
	cursor: -webkit-grabbing;
	cursor: grabbing
}

.fancybox-container [data-selectable=true] {
	cursor: text
}

.fancybox-image,
.fancybox-spaceball {
	background: transparent;
	border: 0;
	height: 100%;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none;
	padding: 0;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%
}

.fancybox-spaceball {
	z-index: 1
}

.fancybox-slide--iframe .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--video .fancybox-content {
	height: calc(100% - 44px);
	overflow: visible;
	padding: 0;
	width: 100%
}

.fancybox-slide--video .fancybox-content {
	background: #000
}

.fancybox-slide--map .fancybox-content {
	background: #e5e3df
}

.fancybox-slide--iframe .fancybox-content {
	background: #fff
}

.fancybox-iframe,
.fancybox-video {
	background: transparent;
	border: 0;
	display: block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	vertical-align: top;
	width: 100%
}

.fancybox-error {
	background: #fff;
	cursor: default;
	max-width: 400px;
	padding: 40px;
	width: 100%
}

.fancybox-error p {
	color: #444;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0
}

.fancybox-button {
	background: rgba(30, 30, 30, .6);
	border: 0;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	height: 44px;
	margin: 0;
	padding: 10px;
	position: relative;
	transition: color .2s;
	vertical-align: top;
	visibility: inherit;
	width: 44px
}

.fancybox-button,
.fancybox-button:link,
.fancybox-button:visited {
	color: #ccc
}

.fancybox-button:hover {
	color: #fff
}

.fancybox-button:focus {
	outline: none
}

.fancybox-button.fancybox-focus {
	outline: 1px dotted
}

.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
	color: #888;
	cursor: default;
	outline: none
}

.fancybox-button svg {
	display: block;
	height: 100%;
	overflow: visible;
	position: relative;
	width: 100%
}

.fancybox-button svg path {
	fill: currentColor;
	stroke-width: 0
}

.fancybox-button--fsenter svg:nth-child(2),
.fancybox-button--fsexit svg:nth-child(1),
.fancybox-button--pause svg:nth-child(1),
.fancybox-button--play svg:nth-child(2) {
	display: none
}

.fancybox-progress {
	background: #ff5268;
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0;
	transform-origin: 0;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-timing-function: linear;
	z-index: 99998
}

.fancybox-close-small {
	background: transparent;
	border: 0;
	border-radius: 0;
	color: #ccc;
	cursor: pointer;
	opacity: .8;
	padding: 8px;
	position: absolute;
	right: -12px;
	top: -44px;
	z-index: 401
}

.fancybox-close-small:hover {
	color: #fff;
	opacity: 1
}

.fancybox-slide--html .fancybox-close-small {
	color: currentColor;
	padding: 10px;
	right: 0;
	top: 0
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
	display: none
}

.fancybox-navigation .fancybox-button {
	background: transparent;
	height: 100px;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: calc(50% - 50px);
	width: 70px
}

.fancybox-navigation .fancybox-button div {
	background: rgba(30, 30, 30, .6);
	height: 100%;
	padding: 7px
}

.fancybox-navigation .fancybox-button--arrow_left {
	left: 0;
	padding: 31px 26px 31px 6px
}

.fancybox-navigation .fancybox-button--arrow_right {
	padding: 31px 6px 31px 26px;
	right: 0
}

.fancybox-caption {
	bottom: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	line-height: 1.5;
	padding: 25px 44px;
	right: 0
}

.fancybox-caption:before {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
	background-repeat: repeat-x;
	background-size: contain;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: -25px;
	z-index: -1
}

.fancybox-caption:after {
	border-bottom: 1px solid hsla(0, 0%, 100%, .3);
	content: "";
	display: block;
	left: 44px;
	position: absolute;
	right: 44px;
	top: 0
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
	color: #ccc;
	text-decoration: none
}

.fancybox-caption a:hover {
	color: #fff;
	text-decoration: underline
}

.fancybox-loading {
	-webkit-animation: a 1s linear infinite;
	animation: a 1s linear infinite;
	background: transparent;
	border: 4px solid #888;
	border-bottom-color: #fff;
	border-radius: 50%;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	opacity: .7;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 99999
}

@-webkit-keyframes a {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes a {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

.fancybox-animated {
	transition-timing-function: cubic-bezier(0, 0, .25, 1)
}

.fancybox-fx-slide.fancybox-slide--previous {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0)
}

.fancybox-fx-slide.fancybox-slide--next {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0)
}

.fancybox-fx-slide.fancybox-slide--current {
	opacity: 1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
	opacity: 0;
	transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.fancybox-fx-fade.fancybox-slide--current {
	opacity: 1
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
	opacity: 0;
	-webkit-transform: scale3d(1.5, 1.5, 1.5);
	transform: scale3d(1.5, 1.5, 1.5)
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
	opacity: 0;
	-webkit-transform: scale3d(.5, .5, .5);
	transform: scale3d(.5, .5, .5)
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
	opacity: 1;
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}

.fancybox-fx-rotate.fancybox-slide--previous {
	opacity: 0;
	-webkit-transform: rotate(-1turn);
	transform: rotate(-1turn)
}

.fancybox-fx-rotate.fancybox-slide--next {
	opacity: 0;
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

.fancybox-fx-rotate.fancybox-slide--current {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

.fancybox-fx-circular.fancybox-slide--previous {
	opacity: 0;
	-webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
	transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0)
}

.fancybox-fx-circular.fancybox-slide--next {
	opacity: 0;
	-webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
	transform: scale3d(0, 0, 0) translate3d(100%, 0, 0)
}

.fancybox-fx-circular.fancybox-slide--current {
	opacity: 1;
	-webkit-transform: scaleX(1) translateZ(0);
	transform: scaleX(1) translateZ(0)
}

.fancybox-fx-tube.fancybox-slide--previous {
	-webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
	transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg)
}

.fancybox-fx-tube.fancybox-slide--next {
	-webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
	transform: translate3d(100%, 0, 0) scale(.1) skew(10deg)
}

.fancybox-fx-tube.fancybox-slide--current {
	-webkit-transform: translateZ(0) scale(1);
	transform: translateZ(0) scale(1)
}

@media (max-height:575px) {
	.fancybox-slide {
		padding-left: 6px;
		padding-right: 6px
	}

	.fancybox-slide--image {
		padding: 6px 0 0
	}

	.fancybox-slide--image .fancybox-content {
		margin-bottom: 6px
	}

	.fancybox-slide--image .fancybox-close-small {
		background: #4e4e4e;
		color: #f2f4f6;
		height: 36px;
		opacity: 1;
		padding: 6px;
		right: 0;
		top: 0;
		width: 36px
	}
}

.fancybox-share {
	background: #f4f4f4;
	border-radius: 3px;
	max-width: 90%;
	padding: 30px;
	text-align: center
}

.fancybox-share h1 {
	color: #222;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 20px
}

.fancybox-share p {
	margin: 0;
	padding: 0
}

.fancybox-share__button {
	border: 0;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	margin: 0 5px 10px;
	min-width: 130px;
	padding: 0 15px;
	text-decoration: none;
	transition: all .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap
}

.fancybox-share__button:link,
.fancybox-share__button:visited {
	color: #fff
}

.fancybox-share__button:hover {
	text-decoration: none
}

.fancybox-share__button--fb {
	background: #3b5998
}

.fancybox-share__button--fb:hover {
	background: #344e86
}

.fancybox-share__button--pt {
	background: #bd081d
}

.fancybox-share__button--pt:hover {
	background: #aa0719
}

.fancybox-share__button--tw {
	background: #1da1f2
}

.fancybox-share__button--tw:hover {
	background: #0d95e8
}

.fancybox-share__button svg {
	height: 25px;
	margin-right: 7px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	width: 25px
}

.fancybox-share__button svg path {
	fill: #fff
}

.fancybox-share__input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 0;
	color: #5d5b5b;
	font-size: 14px;
	margin: 10px 0 0;
	outline: none;
	padding: 10px 15px;
	width: 100%
}

.fancybox-thumbs {
	background: #ddd;
	bottom: 0;
	display: none;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 2px 2px 4px;
	position: absolute;
	right: 0;
	-webkit-tap-highlight-color: transparent;
	top: 0;
	width: 212px;
	z-index: 99995
}

.fancybox-thumbs-x {
	overflow-x: auto;
	overflow-y: hidden
}

.fancybox-show-thumbs .fancybox-thumbs {
	display: block
}

.fancybox-show-thumbs .fancybox-inner {
	right: 212px
}

.fancybox-thumbs__list {
	font-size: 0;
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	position: relative;
	white-space: nowrap;
	width: 100%
}

.fancybox-thumbs-x .fancybox-thumbs__list {
	overflow: hidden
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
	width: 7px
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
	background: #2a2a2a;
	border-radius: 10px
}

.fancybox-thumbs__list a {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, .1);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: left;
	height: 75px;
	margin: 2px;
	max-height: calc(100% - 8px);
	max-width: calc(50% - 4px);
	outline: none;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	width: 100px
}

.fancybox-thumbs__list a:before {
	border: 6px solid #ff5268;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .2s cubic-bezier(.25, .46, .45, .94);
	z-index: 99991
}

.fancybox-thumbs__list a:focus:before {
	opacity: .5
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
	opacity: 1
}

@media (max-width:768px) {
	.fancybox-thumbs {
		width: 110px
	}

	.fancybox-show-thumbs .fancybox-inner {
		right: 110px
	}

	.fancybox-thumbs__list a {
		max-width: calc(100% - 10px)
	}
}