@@include('./part/header.html', {"title": "О нас"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')
<section class="about__second">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h1>О нас</h1>
        <p>Компания «Конфаэль» предлагает Вам и Вашим детям организацию и проведение мероприятий на настоящей шоколадной фабрике! Вы можете заказать развлекательные и познавательные программы, посетить музей шоколада «Конфаэль», удивить своих гостей, пригласив их на праздник на шоколадную фабрику!</p>
        <div class="about__second-count">
          <div>
            <h4>100+</h4>
            <p>Мы провели более 100 праздников</p>
          </div>
          <div>
            <h4>8 лет</h4>
            <p>Радуем детей уже больше 8 лет</p>
          </div>
          <div>
            <h4>25+</h4>
            <p>Более 25 программ на ваш выбор</p>
          </div>
        </div>
        <div class="wrap--btn">
          <a href="#" class="btn__download"><span>Скачать презентацию</span></a>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="image--wrap">
          <img src="./img/about_secont-teen.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about__third">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Наши партнеры</h2>
        <div class="card--wrap">
          <div class="card__item">
            <div><span class="img--wrap"><img src="./img/partner/partner_1.png" alt="alt"></span></div>
            <div><p><strong>Art&Trade</strong> Интернет-магазин копии картин известных художников.</p></div>
          </div>
          <div class="card__item">
            <div><span class="img--wrap"><img src="./img/partner/partner_2.png" alt="alt"></span></div>
            <div><p><strong>Лата-Трэк</strong> Спортивно-Экологический комплекс</p></div>
          </div>
          <div class="card__item">
            <div><span class="img--wrap"><img src="./img/partner/partner_3.png" alt="alt"></span></div>
            <div><p><strong>KidsReview.ru</strong> Онлайн-журнал, афиша и справочник для родителей.</p></div>
          </div>
          <div class="card__item">
            <div><span class="img--wrap"><img src="./img/partner/partner_4.png" alt="alt"></span></div>
            <div><p><strong>Workingmama.ru</strong> Сайт про интересные детские места и события в Москве, Петербурге и мире</p></div>
          </div>
          <div class="card__item">
            <div><span class="img--wrap"><img src="./img/partner/partner_5.png" alt="alt"></span></div>
            <div><p><strong>Отдых с детьми</strong> Сайт для заботливых родителей</p></div>
          </div>
          <div class="card__item">
            <div><span class="img--wrap"><img src="./img/partner/partner_6.png" alt="alt"></span></div>
            <div><p><strong>2Do2Go.ru</strong> Интересное в Москве: гиды, новости, обзоры, маршруты</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about__fourth">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 col-xl-6">
        <h2>Шоколадное рисование</h2>
        <p><b>Шоколадная живопись</b> – это всегда буря положительных эмоций для Ваших детей!</p>
        <p>На детском празднике <b>настоящий Шоколадный художник научит Вашего ребенка удивительному рисованию </b> теплыми шоколадными красками на пластине белого шоколада.</p>
        <p>Шоколад нужно брать руками и, рисовать им шоколадные картинки, можно сколько угодно перемазываться шоколадными красками и облизывать пальцы, ведь <b> краски съедобные и очень вкусные.</b> Веселые и добрые Клоуны в мгновение ока найдут общий язык как с малышами, так и со школьниками.</p>
        <div class="wrap--btn">
          <a href="https://www.youtube.com/watch?v=EMUcqwZvWC0" data-fancybox class="play__link"><span>Посмотрите видео о нашем шоколадном художнике</span></a>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-xl-6 order-first">
        <span class="image__text">Краски съедобные <br> и очень вкусные!</span>
        <div class="image--wrap">
          <img src="./img/about_fourth-teen.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about__fifth">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h2>Конфеты ручной работы</h2>
        <p>Шоколадные кондитеры помогут Вашим детям стать настоящими шоколатье и не только сделать собственными руками шоколадные
        конфеты с нежной начинкой, но и украсить их.</p>
        <p>К концу мероприятия у ребенка получится коробочка с девятью конфетами ручной работы.</p>        
        <div class="wrap--btn">
          <a href="#" class="play__link"><span>Посмотрите видео с праздника</span></a>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="image--wrap">
          <img src="./img/about_fifth-teen.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about__sixth">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Ваши дети окунутся в&nbsp;добрую детскую сказку, феерию юмора, шуток и&nbsp;смеха!</h2>
        <p>Шоколадный мастер-класс (рисование и изготовление конфет) станет прекрасным дополнением: </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6">
        <div class="card--wrap">
          <div>
            <img src="./img/bell.png" alt="img">
            <p>К любому школьному мероприятию</p>
          </div>
          <div>
            <img src="./img/confetti.png" alt="img">
            <p>Ко дню рождения</p>
          </div>
          <div>
            <img src="./img/cup.png" alt="img">
            <p>К школьному чаепитию</p>
          </div>
          <div>
            <img src="./img/fact.png" alt="img">
            <p>К развивающей программе</p>
          </div>
        </div>
        <div class="wrap--btn">
          <a href="#" class="btn__brown"><span>Заказать мероприятие</span></a>
        </div>
      </div>
      <div class="col col-lg-4 col-xl-6">
        <div class="image--wrap">
          <img src="./img/about_sixth-ribbon.png" alt="img">
        </div>
      </div>      
    </div>
  </div>
</section>


@@include('./part/footer_menu.html')
@@include('./part/footer.html')