@@include('./part/header.html', {"title": "Контакты"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="contact__map">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Контакты</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="contact--info">
          <h4>Красногорск, <br> ул. Коммунальный квартал, д. 3 </h4>
          <div class="contact--phone">
            <a href="tel:+74955173615">+7 495 517-36-15</a>
            <a href="tel:+74957771333">+7 495 777-13-33, доб. 626, 613;</a>
            <a href="tel:+79163439222">+7 916 343-92-22</a>
          </div>
          <div class="contact--time">
            <span>Будни и выходные:</span>
            <p>9:00 — 19:00</p>
          </div>
          <div class="contact--help">
            <span>Как добраться?</span>
            <p>от метро Тушинская, Сходненская, Митино до ТЦ «ИЮНЬ» <br> На электропоездах Рижского направления — до
              станции «Павшино»</p>
          </div>
          <div class="contact--navi">
            <a href="#!">Открыть в навигаторе</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 order-first">
        <div class="contact--map">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Места проведения праздников</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="contact--info">
          <h4>Лата-трек <br> ул. Крылатская, 1 </h4>
          <div class="contact--phone">
            <a href="tel:+74955173615">+7 495 517-36-15</a>
            <a href="tel:+74957771333">+7 495 777-13-33, доб. 626, 613;</a>
            <a href="tel:+79163439222">+7 916 343-92-22</a>
          </div>
          <div class="contact--time">
            <span>Будни и выходные:</span>
            <p>9:00 — 19:00</p>
          </div>
          <div class="contact--help">
            <span>Как добраться?</span>
            <p>от метро Тушинская, Сходненская, Митино до ТЦ «ИЮНЬ» На электропоездах Рижского направления — до станции
              «Павшино»</p>
          </div>
          <div class="contact--navi">
            <a href="#!">Открыть в навигаторе</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 order-first">
        <div class="contact--map">
          <div id="map2"></div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12 col-lg-5">
        <div class="contact--info">
          <h4>Кафе Конфаэль <br> ул. Тимирязевская, 1 </h4>
          <div class="contact--phone">
            <a href="tel:+74955173615">+7 495 517-36-15</a>
            <a href="tel:+74957771333">+7 495 777-13-33, доб. 626, 613;</a>
            <a href="tel:+79163439222">+7 916 343-92-22</a>
          </div>
          <div class="contact--time">
            <span>Будни и выходные:</span>
            <p>9:00 — 19:00</p>
          </div>
          <div class="contact--help">
            <span>Как добраться?</span>
            <p>от метро Тушинская, Сходненская, Митино до ТЦ «ИЮНЬ» На электропоездах Рижского направления — до станции
              «Павшино»</p>
          </div>
          <div class="contact--navi">
            <a href="#!">Открыть в навигаторе</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 order-first">
        <div class="contact--map">
          <div id="map3"></div>
        </div>
      </div>
    </div>
    <div class="row social--block">
      <div class="col">
        <h3>Присоединяйтесь к нам в соц. сетях</h3>
        <div class="social__wrap">
          <div>
            <a href="#!">
              <img src="./img/social-1.png" alt="img">
              <div class="social__content">
                <span class="social__content--icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#vk-big"></use>
                  </svg></span>
                <span class="social__content--text">Сообщество <br> ВКонтакте</span>
              </div>
            </a>
          </div>
          <div>
            <a href="#!">
              <img src="./img/social-2.png" alt="img">
              <div class="social__content">
                <span class="social__content--icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#inst-big"></use>
                  </svg></span>
                <span class="social__content--text">Профиль <br> в Instagram</span>
              </div>
            </a>
          </div>
          <div>
            <a href="#!">
              <img src="./img/social-3.png" alt="img">
              <div class="social__content">
                <span class="social__content--icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#tw-big"></use>
                  </svg></span>
                <span class="social__content--text">Профиль <br> в Twitter</span>
              </div>
            </a>
          </div>
          <div>
            <a href="#!">
              <img src="./img/social-4.png" alt="img">
              <div class="social__content">
                <span class="social__content--icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#yt-big"></use>
                  </svg></span>
                <span class="social__content--text">Канал <br> на YouTube</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./part/sec_gift.html')
@@include('./part/footer_menu.html')
@@include('./part/footer.html')