@@include('./part/header.html', {"title": "Добро"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')
<section class="dobro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 mb-lg-5">
        <h1>Доброта</h1>
        <p>Компания «Конфаэль» проводит благотворительные мероприятия один раз в месяц на постоянной основе в Шоколадном музее на территории фабрики (г. Красногорск, Московская область).</p>
      </div>
      <div class="col-12 col-lg-5">
        <div class="image--wrap"><img src="./img/dobro_img.png" alt="img"></div>
      </div>
    </div>
  </div>
  <img src="./img/balloon-yellow-2.png" alt="img" class="parallax parallax-right" data-enllax-ratio="0.6" data-enllax-type="foreground" data-enllax-direction="vertical">
  <img src="./img/party-2.png" alt="img" class="parallax parallax-left" data-enllax-ratio="0.6" data-enllax-type="foreground" data-enllax-direction="vertical">
</section>

<section class="events">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3>Программа мероприятия:</h3>
        <div class="event__block">
          <div>
            <img src="./img/cup.png" alt="img">
            <p>Чаепитие с конфетами</p>
          </div>
          <div>
            <img src="./img/fact.png" alt="img">
            <p>Лекция о производстве шоколада с дегустацией</p>
          </div>
        </div>       
        <h3>Кто может принять участие?</h3>
        <div class="event__block">
          <div>
            <img src="./img/kid.png" alt="img">
            <p>Группы детей и взрослых, нуждающиеся в соц. реабилитации (дети-сироты и пр.) - группы до 25 чел</p>
          </div>
          <div>
            <img src="./img/map.png" alt="img">
            <p>Преимущество в очереди мы отдаем нашим близлежащим соседям (г. Красногорск, Красногорский р-он)</p>
          </div>
        </div>               
        <h3 class="mb-mobile">Как к нам попасть?</h3>  
        <div class="event__block event__block-square">
          <div>
            <img src="./img/paper.png" alt="img">
            <h4>Вариант 1</h4>
            <p>Вы можете оставить официальный запрос (с подписью и печатью организации) на благотворительное мероприятие, приехав к нам г. Красногорск, Коммунальный кв-л. д. 3.</p>
          </div>
          <div>
            <img src="./img/mail.png" alt="img">
            <h4>Вариант 2</h4>
            <p>Или вышлите скан официального запроса (с подписью и печатью организации) на почту <a href="mailto:assist@confael.ru">assist@confael.ru</a></p>
          </div>
        </div>      
        <h3>Сроки проведения:</h3>   
        <div class="event__block">
          <div>
            <img src="./img/clock.png" alt="img">
            <p>В течении 10 дней ваш запрос будет обработан.</p>
          </div>
          <div>
            <img src="./img/confetti.png" alt="img">
            <p>В случае положительного решения, вы увидите себя в очереди на нашем сайте в разделе «Добро»</p>
          </div>
        </div>
        <h3>Просьба проявить понимание - ресурсы фабрики ограничены</h3>
        <div class="event__block event__block-text">
          <p>Если вам не удалось попасть к нам на благотворительной основе, не расстраивайтесь! <br> Вы можете по примеру некоторых групп найти спонсора и по себестоимости (5000 руб.) мы проведем для вас мероприятие вне очереди.</p>
        </div>
      </div>
    </div>
  </div>
</section>
@@include('./part/footer_menu.html')
@@include('./part/footer.html')