@@include('./part/header.html', {"title": "Дополнения к вашему празднику"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="additions">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Дополнения к вашему празднику</h1>
        <div class="table-responsive mb-4" data-simplebar="init">
          <table class="table" >
            <thead>
              <tr>
                <th scope="col">Программа</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Продолжительность</th>
                <th scope="col">Описание программы</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Шоколадная лекция</td>
                <td>
                  <strong>5000 ₽</strong> / 15 человек
                  <span>+100 ₽ / чел. если группа свыше 15 человек</span>
                </td>
                <td>30 минут</td>
                <td>Интерактивный рассказ о шоколаде и фабрике с дегустацией разных сортов шоколада.</td>
              </tr>
              <tr>
                <td>Дискотека с Пиньятой</td>
                <td>
                  <strong>500 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1 час</td>
                <td>Дискотека + игра с Пиньятой.</td>
              </tr>
              <tr>
                <td>Анимационная программа</td>
                <td>
                  <strong>6000 ₽</strong>
                  <span>группа от 15 человек</span>
                </td>
                <td>1 час</td>
                <td>Интерактивная игровая программа с аниматором.</td>
              </tr>
              <tr>
                <td>Шоколадная лекция</td>
                <td>
                  <strong>5000 ₽</strong> / 15 человек
                  <span>+100 ₽ / чел. если группа свыше 15 человек</span>
                </td>
                <td>30 минут</td>
                <td>Интерактивный рассказ о шоколаде и фабрике с дегустацией разных сортов шоколада.</td>
              </tr>
              <tr>
                <td>Дискотека с Пиньятой</td>
                <td>
                  <strong>500 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1 час</td>
                <td>Дискотека + игра с Пиньятой.</td>
              </tr>
              <tr>
                <td>Анимационная программа</td>
                <td>
                  <strong>6000 ₽</strong>
                  <span>группа от 15 человек</span>
                </td>
                <td>1 час</td>
                <td>Интерактивная игровая программа с аниматором.</td>
              </tr>
              <tr>
                <td>Шоколадная лекция</td>
                <td>
                  <strong>5000 ₽</strong> / 15 человек
                  <span>+100 ₽ / чел. если группа свыше 15 человек</span>
                </td>
                <td>30 минут</td>
                <td>Интерактивный рассказ о шоколаде и фабрике с дегустацией разных сортов шоколада.</td>
              </tr>
              <tr>
                <td>Дискотека с Пиньятой</td>
                <td>
                  <strong>500 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1 час</td>
                <td>Дискотека + игра с Пиньятой.</td>
              </tr>
              <tr>
                <td>Анимационная программа</td>
                <td>
                  <strong>6000 ₽</strong>
                  <span>группа от 15 человек</span>
                </td>
                <td>1 час</td>
                <td>Интерактивная игровая программа с аниматором.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="wrap--btn">
          <a href="#" class="btn__brown">Заказать мероприятие</a>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')