@@include('./part/header.html', {"title": "Фото и видео"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="brithday__foto foto__video">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Фото и видео с праздников</h1>
        <div class="foto-slide" id="foto-slide">
          <div class="slide-video">
            <span><em>Шоколадный мастер-класс для детей на международном шоколадном салоне в ЦДХ</em></span>
            <img src="./img/slider-1.png" alt="img">
            <a href="https://www.youtube.com/watch?v=EMUcqwZvWC0" data-fancybox class="btn__play"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="./img/sprite.svg#arrow-play"></use>
              </svg></a>
          </div>
          <div class="slide-foto">
            <img src="./img/slider-2.png" alt="img">
          </div>
          <div class="slide-foto">
            <img src="./img/slider-3.png" alt="img">
          </div>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col gallery__wrap">
        <div class="gallery--item">
          <a href="./img/fotovideo/img1.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img1.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img2.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img2.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img3.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img3.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img4.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img4.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img5.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img5.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item item__video">
          <a href="https://www.youtube.com/watch?v=EMUcqwZvWC0" data-fancybox="gallery">
            <img src="./img/fotovideo/img6.png" alt="img">
            <span class="image--plus btn__play"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#arrow-play"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img7.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img7.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img8.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img8.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img9.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img9.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img10.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img10.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img11.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img11.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
        <div class="gallery--item">
          <a href="./img/fotovideo/img12.png" data-fancybox="gallery">
            <img src="./img/fotovideo/img12.png" alt="img">
            <span class="image--plus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#circle-plus"></use></svg></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')