@@include('./part/header.html', {"title": "Главная"})
@@include('./part/menu.html', {"class": "home"})
<section class="home__banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 banner--text ">
        <h1>Буря ярких эмоций для ваших детей</h1>
        <p>Шоколадные праздники для детей от 4 до 13 лет. Погрузитесь в шоколадную сказку! Удивите своих гостей,
          пригласив их на шоколадную фабрику!</p>
        <a href="https://www.youtube.com/watch?v=EMUcqwZvWC0" data-fancybox class="play__link"><span>Посмотрите, как проходят мастер-классы Конфаэль</span></a>
        <a href="#!" class="btn__brown">Заказать мероприятие</a>
      </div>
      <div class="col-12 col-lg-6 banner--image order-first">
        <div class="image--wrap">
          <img src="./img/home_girl.png" alt="img">
        </div>
      </div>
    </div>
  </div>
  <img src="./img/chocolate-bg.png" data-enllax-ratio="1" data-enllax-type="foreground" data-enllax-direction="vertical"
class="parallax parallax-a" />
</section>

<section class="home__slider">
  <div class="container">
    <div class="row service__list">
      <div class="col-12">
        <div class="card--wrap" id="service-slider">
          <div class="service--card">
            <a href="#!">
              <img src="./img/confetti.png" alt="alt">
              <p><strong>День рождения</strong> на шоколадной фабрике</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
              <img src="./img/chocolate.png" alt="alt">
              <p><strong>Экскурсии</strong> на шоколадную фабрику</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
              <img src="./img/map.png" alt="alt">
              <p><strong>Выездные праздники</strong></p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
              <img src="./img/gift.png" alt="alt">
              <p><strong>Акции</strong>и специальные предложения</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
              <img src="./img/bell.png" alt="alt">
              <p><strong>Шоколадный выпускной</strong></p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
              <img src="./img/menu.png" alt="alt">
              <p><strong>Меню</strong> Вкусный стол к мероприятию</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
              <img src="./img/confetti_2.png" alt="alt">
              <p><strong>Дополнения</strong> к вашему празднику</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="home__slider--wrap" id="home-slider">
          <div>
            <div class="row">
              <div class="col-12 col-lg-6 slider--text">
                <h2>Акция «Занимательное сладкоедение»</h2>
                <p>С 30 августа по 5 октября учебники с конфетами за 415 рублей вместо 490 руб!</p>
                <a href="#!" class="btn__brown no-shadow">Узнать подробнее</a>
              </div>
              <div class="col col-lg-6 slider--image">
                <div class="image--wrap">
                  <img src="./img/home-slider-img.png" alt="img">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-12 col-lg-6 slider--text">
                <h2>Акция «Занимательное сладкоедение»</h2>
                <p>С 30 августа по 5 октября учебники с конфетами за 415 рублей вместо 490 руб!</p>
                <a href="#!" class="btn__brown no-shadow">Узнать подробнее</a>
              </div>
              <div class="col col-lg-6 slider--image">
                <div class="image--wrap">
                  <img src="./img/home-slider-img.png" alt="img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="./img/chocolate-bg-2.png" alt="img" data-enllax-ratio="0.6" data-enllax-type="foreground"
    data-enllax-direction="vertical" class="parallax-slider">
</section>

<section class="home__joy">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 block--text">
        <h2>Радуем детей уже 8 лет</h2>
        <p>Детские шоколадные праздники – прекрасная возможность для детей весело провести время и вдоволь наестся
          шоколадом, а так же научиться самим создавать шоколадные рисунки, конфеты, леденцы и многое другое! </p>
        <p class="joy__title">Посетив наш шоколадный музей или мастер-класс вы и ваш ребенок:</p>
        <div class="card--wrap">
          <div>
            <img src="./img/chef.png" alt="img">
            <p>Побудете в роли шоколадного художника или кондитера</p>
          </div>
          <div>
            <img src="./img/sculpture.png" alt="img">
            <p>Увидите настоящие шедевры шоколадных скульпторов</p>
          </div>
          <div>
            <img src="./img/fact.png" alt="img">
            <p>Узнаете множество фактов о шоколаде</p>
          </div>
          <div>
            <img src="./img/chocolate.png" alt="img">
            <p>Продегустируете разные сорта настоящего шоколада</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 block--image">
        <div class="image--wrap">
          <img src="./img/home_teen.png" alt="img">
        </div>
      </div>
    </div>
  </div>
  <img src="./img/balloon-yellow.png" alt="img" data-enllax-ratio="0.6" data-enllax-type="foreground"
    data-enllax-direction="vertical" class="parallax-joy-a">
  <img src="./img/ribbon-yellow.png" alt="img" data-enllax-ratio="0.6" data-enllax-type="foreground"
    data-enllax-direction="vertical" class="parallax-joy-b">
</section>

<section class="calculator">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Узнайте стоимость мероприятия</h2>
        <div class="calc__section-name">Вид мероприятия:</div>
        <div class="program__type">
          <div class="row">
            <div class="col-12 col-sm-8 col-xl-10 program__type--wrap">
              <div class="program--type" id="myTab" role="tablist">
                <div>
                  <input type="radio" value="1" name="type-prog" id="type-prog-1" checked>
                  <label for="type-prog-1" class="btn__radio label__tab" data-href="#tab-panel-1">Экскурсии в музей шоколада</label>
                </div>
                <div>
                  <input type="radio" value="2" name="type-prog" id="type-prog-2">
                  <label for="type-prog-2" class="btn__radio label__tab" data-href="#tab-panel-2">Мастер-классы</label>
                </div>
                <div>
                  <input type="radio" value="3" name="type-prog" id="type-prog-3">
                  <label for="type-prog-3" class="btn__radio label__tab" data-href="#tab-panel-3">Дни рождения и другое</label>
                </div>
              </div>
              <div class="program--type--mobile">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Экскурсии в музей шоколада</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <label class="dropdown-item label__tab" for="type-prog-1" data-href="#tab-panel-1">Экскурсии в музей шоколада</label>
                  <label class="dropdown-item label__tab" for="type-prog-2" data-href="#tab-panel-2">Мастер-классы</label>
                  <label class="dropdown-item label__tab" for="type-prog-3" data-href="#tab-panel-3">Дни рождения и другое</label>
                </ul>
              </div>
            </div>
            <div class="col col-sm-4 col-xl-2 program__price--wrap">
              <div class="wrap--btn">
                <a href="#!" class="a__link">Полный прайс-лист</a>
              </div>
            </div>
          </div>
        </div>
        <!-- start tab -->
        <div class="tab-panel active" id="tab-panel-1">
          <div class="calc__section-name">Программа:</div>
          <div class="program--cards">
            <div class="program__card--wrap">
              <input type="radio" value="1" name="prog" class="card--check" id="prog-1" checked>
              <label class="card" for="prog-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-1.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадный мастер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1600 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="2" name="prog" class="card--check" id="prog-2">
              <label class="card" for="prog-2">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-2.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадный кондитер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1250 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="3" name="prog" class="card--check" id="prog-3">
              <label class="card" for="prog-3">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-3.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Конфетный мастер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>История шоколада для детей (с дегустацией шоколада, викториной и призами);</li>
                      <li>Мастер-класс по изготовлению конфет ручной работы, рафаэлло, трюфель;</li>
                      <li>Изготовление шоколадного леденца;</li>
                      <li>Изготовление шоколадного леденца;</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1850 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="4" name="prog" class="card--check" id="prog-4">
              <label class="card" for="prog-4">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-4.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадное ремесло</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1400 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
          </div>
          <div class="calc__section-name">Дополнительные услуги:</div>
          <div class="program--additional slick-no-shadow">
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="10" checked class="card--check" id="add-prog-1">
              <label class="card" for="add-prog-1">
                <h3>Шоколадная лекция</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">5000 ₽ <span>/ человек</span></div>
                <span class="add--text">+100₽ / чел. свыше 15 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="11" class="card--check" id="add-prog-2">
              <label class="card" for="add-prog-2">
                <h3>Изготовление торта на день рождения</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">5000 ₽</div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="12" class="card--check" id="add-prog-3">
              <label class="card" for="add-prog-3">
                <h3>Дискотека с Пиньятой</h3>
                <span class="add--time">1 час</span>
                <div class="add--price">500 ₽ <span>/ человек</span></div>
                <span class="add--text">группа от 10 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="13" class="card--check" id="add-prog-4">
              <label class="card" for="add-prog-4">
                <h3>Анимационная программа</h3>
                <span class="add--time">1 час</span>
                <div class="add--price">6000 ₽</div>
                <span class="add--text">на группу до 15 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="14" class="card--check" id="add-prog-5">
              <label class="card" for="add-prog-5">
                <h3>Шоколадная лекция</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">1000 ₽ <span>/ человек</span></div>
                <span class="add--text">группа от 10 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="15" class="card--check" id="add-prog-6">
              <label class="card" for="add-prog-6">
                <h3>Анимационная программа</h3>
                <span class="add--time">45 минут</span>
                <div class="add--price">1000 ₽ <span>/ человек</span></div>
              </label>
            </div>
          </div>
        </div>
        <!-- end tab -->
        <!-- start tab -->
        <div class="tab-panel" id="tab-panel-2">
          <div class="calc__section-name">Программа:</div>
          <div class="program--cards">
            <div class="program__card--wrap">
              <input type="radio" value="2" name="prog" class="card--check" id="prog-2-1">
              <label class="card" for="prog-2-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-2.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадный кондитер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1250 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="3" name="prog" class="card--check" id="prog-3-1">
              <label class="card" for="prog-3-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-3.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Конфетный мастер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>История шоколада для детей (с дегустацией шоколада, викториной и призами);</li>
                      <li>Мастер-класс по изготовлению конфет ручной работы, рафаэлло, трюфель;</li>
                      <li>Изготовление шоколадного леденца;</li>
                      <li>Изготовление шоколадного леденца;</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1850 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="4" name="prog" class="card--check" id="prog-4-1">
              <label class="card" for="prog-4-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-4.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадное ремесло</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1400 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="1" name="prog" class="card--check" id="prog-1-1">
              <label class="card" for="prog-1-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-1.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадный мастер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1600 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
          </div>
          <div class="calc__section-name">Дополнительные услуги:</div>
          <div class="program--additional slick-no-shadow">
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="10" class="card--check" id="add-prog-1-1">
              <label class="card" for="add-prog-1-1">
                <h3>Шоколадная лекция</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">5000 ₽ <span>/ человек</span></div>
                <span class="add--text">+100₽ / чел. свыше 15 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="11" class="card--check" id="add-prog-2-1">
              <label class="card" for="add-prog-2-1">
                <h3>Изготовление торта на день рождения</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">5000 ₽</div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="12" class="card--check" id="add-prog-3-1">
              <label class="card" for="add-prog-3-1">
                <h3>Дискотека с Пиньятой</h3>
                <span class="add--time">1 час</span>
                <div class="add--price">500 ₽ <span>/ человек</span></div>
                <span class="add--text">группа от 10 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="13" class="card--check" id="add-prog-4-1">
              <label class="card" for="add-prog-4-1">
                <h3>Анимационная программа</h3>
                <span class="add--time">1 час</span>
                <div class="add--price">6000 ₽</div>
                <span class="add--text">на группу до 15 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="14" class="card--check" id="add-prog-5-1">
              <label class="card" for="add-prog-5-1">
                <h3>Шоколадная лекция</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">1000 ₽ <span>/ человек</span></div>
                <span class="add--text">группа от 10 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="15" class="card--check" id="add-prog-6-1">
              <label class="card" for="add-prog-6-1">
                <h3>Анимационная программа</h3>
                <span class="add--time">45 минут</span>
                <div class="add--price">1000 ₽ <span>/ человек</span></div>
              </label>
            </div>
          </div>
        </div>
        <!-- end tab -->
        <!-- start tab -->
        <div class="tab-panel" id="tab-panel-3">
          <div class="calc__section-name">Программа:</div>
          <div class="program--cards">
            <div class="program__card--wrap">
              <input type="radio" value="3" name="prog" class="card--check" id="prog-3-1">
              <label class="card" for="prog-3-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-3.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Конфетный мастер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>История шоколада для детей (с дегустацией шоколада, викториной и призами);</li>
                      <li>Мастер-класс по изготовлению конфет ручной работы, рафаэлло, трюфель;</li>
                      <li>Изготовление шоколадного леденца;</li>
                      <li>Изготовление шоколадного леденца;</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1850 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="4" name="prog" class="card--check" id="prog-4-1">
              <label class="card" for="prog-4-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-4.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадное ремесло</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1400 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" value="1" name="prog" class="card--check" id="prog-1-1">
              <label class="card" for="prog-1-1">
                <div class="card-header">
                  <img class="card-img-top" src="./img/programm/img__prog-1.png" alt="img">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Шоколадный мастер</h3>
                  <div class="card-text-scroll" data-simplebar="init">
                    <ol>
                      <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);</li>
                      <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                      <li>Изготовление конфет ручной работы.</li>
                    </ol>
                  </div>
                </div>
                <div class="card-footer">
                  <div>1600 ₽ <small>/ человек</small></div>
                  <span>группа от 10 человек</span>
                </div>
              </label>
            </div>
          </div>
          <div class="calc__section-name">Дополнительные услуги:</div>
          <div class="program--additional slick-no-shadow">
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="10" class="card--check" id="add-prog-1-1">
              <label class="card" for="add-prog-1-1">
                <h3>Шоколадная лекция</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">5000 ₽ <span>/ человек</span></div>
                <span class="add--text">+100₽ / чел. свыше 15 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="11" class="card--check" id="add-prog-2-1">
              <label class="card" for="add-prog-2-1">
                <h3>Изготовление торта на день рождения</h3>
                <span class="add--time">30 минут</span>
                <div class="add--price">5000 ₽</div>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="12" class="card--check" id="add-prog-3-1">
              <label class="card" for="add-prog-3-1">
                <h3>Дискотека с Пиньятой</h3>
                <span class="add--time">1 час</span>
                <div class="add--price">500 ₽ <span>/ человек</span></div>
                <span class="add--text">группа от 10 человек</span>
              </label>
            </div>
            <div class="program__card--wrap">
              <input type="radio" name="add-prog" value="13" class="card--check" id="add-prog-4-1">
              <label class="card" for="add-prog-4-1">
                <h3>Анимационная программа</h3>
                <span class="add--time">1 час</span>
                <div class="add--price">6000 ₽</div>
                <span class="add--text">на группу до 15 человек</span>
              </label>
            </div>
          </div>
        </div>
        <!-- end tab -->
        <div class="program--total">
          <div class="program--kids">
            <em>Количество детей:</em>
            <output id="kidcountID">5</output>
            <input type="range" min="1" max="100" value="5" class="slider" id="kidcount" oninput="kidcountID.value = kidcount.value">
          </div>
          <div>
            <em>Примерная стоимость:</em>
            <div class="program--summa" id="prog-summa">35 000 ₽</div>
          </div>
          <div>
            <em>Ваш телефон:</em>
            <input type="tel" value="" name="user-phone" placeholder="+7922902265">
          </div>
          <div class="program--button">
            <a href="#!" class="btn__brown">Заказать мероприятие</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./part/sec_review.html', {"class": " dark_bg"})
@@include('./part/sec_fotovideo.html', {"class": " light_bg"})
@@include('./part/sec_gift.html')

<section class="contact__map contact__home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Контакты</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="contact--info">
          <h4>Красногорск, <br> ул. Коммунальный квартал, д. 3 </h4>
          <div class="contact--phone">
            <a href="tel:+74955173615">+7 495 517-36-15</a>
            <a href="tel:+74957771333">+7 495 777-13-33, доб. 626, 613;</a>
            <a href="tel:+79163439222">+7 916 343-92-22</a>
          </div>
          <div class="contact--time">
            <span>Будни и выходные:</span>
            <p>9:00 — 19:00</p>
          </div>
          <div class="contact--help">
            <span>Как добраться?</span>
            <p>от метро Тушинская, Сходненская, Митино до ТЦ «ИЮНЬ» <br> На электропоездах Рижского направления — до
              станции «Павшино»</p>
          </div>
          <div class="contact--navi">
            <a href="#!" class="a__link">Открыть в навигаторе</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 order-first">
        <div class="contact--map">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')