@@include('./part/header.html', {"title": "Добро"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="menulist-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Меню фабрики</h1>
                <span>К любой интересующей вас программе праздника можно добавить вкусный стол.</span>
            </div>
        </div>
    </div>
</section>


<section class="menu__item --brown">

    <img src="./img/balloon-yellow-2.png" alt="img" class="parallax parallax-left" data-enllax-ratio="0.6" data-enllax-type="foreground" data-enllax-direction="vertical">
    <img src="./img/party.png" alt="img" class="parallax parallax-right parallax--party" data-enllax-ratio="0.6" data-enllax-type="foreground" data-enllax-direction="vertical">

    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Салаты</h2>
                <ul>
                    <li>
                        <span>Оливье</span>
                        <b></b>
                        <em>250 ₽ / 200 гр.</em>
                    </li>
                    <li>
                        <span>Крабовый</span>
                        <b></b>
                        <em>200 ₽ / 200 гр.</em>
                    </li>
                    <li>
                        <span>Витаминный</span>
                        <b></b>
                        <em>190 ₽ / 200 гр.</em>
                    </li>
                    <li>
                        <span>Фруктовый</span>
                        <b></b>
                        <em>300 ₽ / 200 гр.</em>
                    </li>
                    <li>
                        <span>Столичный</span>
                        <b></b>
                        <em>250 ₽ / 200 гр.</em>
                    </li>
                    <li>
                        <span>Мясной салат</span>
                        <b></b>
                        <em>300 ₽ / 200 гр.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/menu-1.png" alt="IMG">
            </div>
        </div>
    </div>
</section>


<section class="menu__item">

    <img src="./img/balloon-yellow-2.png" alt="img" class="parallax parallax-right" data-enllax-ratio="0.2" data-enllax-type="foreground" data-enllax-direction="vertical">
    <img src="./img/party.png" alt="img" class="parallax parallax-left parallax--party" data-enllax-ratio="0.8" data-enllax-type="foreground" data-enllax-direction="vertical">


    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Холодные закуски</h2>
                <ul>
                    <li>
                        <span>Мясная тарелка</span>
                        <b></b>
                        <em>1600 ₽ / 800 гр.</em>
                    </li>
                    <li>
                        <span>Овощная тарелка</span>
                        <b></b>
                        <em>1000 ₽ / 1500 гр.</em>
                    </li>
                    <li>
                        <span>Рыбная тарелка</span>
                        <b></b>
                        <em>1300 ₽ / 300 гр.</em>
                    </li>
                    <li>
                        <span>Сырная тарелка</span>
                        <b></b>
                        <em>1400 ₽ / 300 гр.</em>
                    </li>
                    <li>
                        <span>Фруктовая тарелка</span>
                        <b></b>
                        <em>1200 ₽ / 1500 гр.</em>
                    </li>
                    <li>
                        <span>Детские сэндвичи</span>
                        <b></b>
                        <em>150 ₽ / 2 шт.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/assorti.png" alt="IMG">
            </div>
        </div>
    </div>
</section>


<section class="menu__item --brown">
    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Пицца <span>1 порция = 2 кусочка</span></h2>
                <ul>
                    <li>
                        <span>Вегетарианская</span>
                        <b></b>
                        <em>250 ₽</em>
                    </li>
                    <li>
                        <span>Классическая</span>
                        <b></b>
                        <em>250 ₽</em>
                    </li>
                    <li>
                        <span>Пепперони</span>
                        <b></b>
                        <em>250 ₽</em>
                    </li>
                    <li>
                        <span>Маргарита</span>
                        <b></b>
                        <em>250 ₽</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/pizza.png" alt="IMG">
            </div>
        </div>
    </div>
</section>

<section class="menu__item menu__item--br-mobile">

    <img src="./img/balloon-yellow-2.png" alt="img" style="left: 10%; top: -10%;" class="parallax parallax-left" data-enllax-ratio="0.2" data-enllax-type="foreground" data-enllax-direction="vertical">
    <img src="./img/party.png" alt="img" class="parallax parallax-right parallax--party" data-enllax-ratio="0.8" data-enllax-type="foreground" data-enllax-direction="vertical">

    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Горячие блюда</h2>
                <ul>
                    <li>
                        <span>Шашлык куринный на шпажке</span>
                        <b></b>
                        <em>250 ₽ / 100 гр.</em>
                    </li>
                    <li>
                        <span>Веселые ёжики с кетчупом</span>
                        <b></b>
                        <em>150 ₽ / 2 шт.</em>
                    </li>
                    <li>
                        <span>Детская люля-кебаб <br> на шпажке с кетчупом</span>
                        <b></b>
                        <em>200 ₽ / 160 гр.</em>
                    </li>
                    <li>
                        <span>Шашлык из рыбы</span>
                        <b></b>
                        <em>400 ₽ / 100 гр.</em>
                    </li>
                    <li>
                        <span>Блинчики с мясом (со сметаной)</span>
                        <b></b>
                        <em>200 ₽ / 1 порция</em>
                    </li>
                    <li>
                        <span>Мясо по-французки</span>
                        <b></b>
                        <em>400 ₽ / 200 гр.</em>
                    </li>
                    <li>
                        <span>Наггетсы (куриные)</span>
                        <b></b>
                        <em>250 ₽ / 150 гр.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/menu3.png" alt="IMG">
            </div>
        </div>
    </div>
</section>


<section class="menu__item --brown">


    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Гарниры</h2>
                <ul>
                    <li>
                        <span>Картофель по-деревенски</span>
                        <b></b>
                        <em>200 ₽ / 150 гр.</em>
                    </li>
                    <li>
                        <span>Картофельное пюре</span>
                        <b></b>
                        <em>150 ₽ / 200 гр. </em>
                    </li>
                    <li>
                        <span>Картофель фри</span>
                        <b></b>
                        <em>200 ₽ / 150 гр.</em>
                    </li>
                    <li>
                        <span>Рис с куркумой</span>
                        <b></b>
                        <em>150 ₽ / 150 гр.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/menu-4.png" alt="IMG">
            </div>
        </div>
    </div>
</section>


<section class="menu__item">

    
    <img src="./img/balloon-yellow-2.png" alt="img" style="right: -2%" class="parallax parallax-right" data-enllax-ratio="0.6" data-enllax-type="foreground" data-enllax-direction="vertical">
    <img src="./img/party.png" alt="img" style="top: -40%" class="parallax parallax-left parallax--party" data-enllax-ratio="0.3" data-enllax-type="foreground" data-enllax-direction="vertical">


    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Выпечка</h2>
                <ul>
                    <li>
                        <span>Пирожок с капустой</span>
                        <b></b>
                        <em>35 ₽ / 1 шт.</em>
                    </li>
                    <li>
                        <span>Пирожок с яблоками</span>
                        <b></b>
                        <em>35 ₽ / 1 шт.</em>
                    </li>
                    <li>
                        <span>Пирожок с мясом</span>
                        <b></b>
                        <em>45 ₽ / 1 шт.</em>
                    </li>
                    <li>
                        <span>Пирожок с картошкой</span>
                        <b></b>
                        <em>35 ₽ / 1 шт.</em>
                    </li>
                    <li>
                        <span>Пирожок с повидлом</span>
                        <b></b>
                        <em>35 ₽ / 1 шт.</em>
                    </li>
                    <li>
                        <span>Плюшка с маком</span>
                        <b></b>
                        <em>35 ₽ / 1 шт.</em>
                    </li>
                    <li>
                        <span>Плюшка с сахаром</span>
                        <b></b>
                        <em>35 ₽ / 1 шт.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/menu-5.png" alt="IMG">
            </div>
        </div>
    </div>
</section>


<section class="menu__item --brown">

    <img src="./img/balloon-yellow-2.png" alt="img" style="left: 5%" class="parallax parallax-left" data-enllax-ratio="0.2" data-enllax-type="foreground" data-enllax-direction="vertical">
    <img src="./img/party.png" alt="img" style="top: -5%" class="parallax parallax-right parallax--party" data-enllax-ratio="0.7" data-enllax-type="foreground" data-enllax-direction="vertical">


    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6  align-self-start">
                <h2>Десерты</h2>
                <ul>
                    <li>
                        <span>
                            Блинчики с мороженным, <br>
                            декориованные шоколадом
                        </span>
                        <b></b>
                        <em>250 ₽ / 2 шт. 200 гр.</em>
                    </li>
                    <li>
                        <span>Веселое мороженное</span>
                        <b></b>
                        <em>150 ₽ / 3 шарика</em>
                    </li>
                    <li>
                        <span>Мини-кексики с шоколадом</span>
                        <b></b>
                        <em>400 ₽ / 10 шт.</em>
                    </li>
                    <li>
                        <span>
                            Сладкий стол (чай, конфеты <br>
                            в ассортименте, безе)
                        </span>
                        <b></b>
                        <em>270 ₽ / 1 чел.</em>
                    </li>
                    <li>
                        <span>Фруктовые шашлычки</span>
                        <b></b>
                        <em>150 ₽ / 100 гр.</em>
                    </li>
                    <li>
                        <span>
                            Блинчики с творогом <br>
                            (с шоколадным соусом)
                        </span>
                        <b></b>
                        <em>200 ₽ / 1 порция</em>
                    </li>
                    <li>
                        <span>
                            Блинчики с бананами <br>
                            и шоколадным сиропом
                        </span>
                        <b></b>
                        <em>200 ₽ / 1 порция</em>
                    </li>
                    <li>
                        <span>
                            Блинчики с клубничным джемом <br>
                            и шоколадным сиропом
                        </span>
                        <b></b>
                        <em>250 ₽ / 1 порция</em>
                    </li>
                    <li>
                        <span>
                            Тарталетки с фруктовым салатом
                        </span>
                        <b></b>
                        <em>60 ₽ / 1 шт.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6  align-self-center">
                <img src="img/menu/menu.png" alt="IMG">
            </div>
        </div>
    </div>
</section>


<section class="menu__item menu__item--img-end">
    <div class="container">
        <div class="row">
            <div class="menu__item-info col-lg-7 col-xl-6 align-self-start">
                <h2>Напитки</h2>
                <ul>
                    <li>
                        <span>Соки в ассортименте, морс ягодный</span>
                        <b></b>
                        <em>250 ₽ / 1 л.</em>
                    </li>
                    <li>
                        <span>Чай зеленый, черный</span>
                        <b></b>
                        <em>70 ₽ / 150 мл.</em>
                    </li>
                    <li>
                        <span>Кофе</span>
                        <b></b>
                        <em>100 ₽ / 150 мл.</em>
                    </li>
                    <li>
                        <span>Детское шампанское</span>
                        <b></b>
                        <em>350 ₽ / 0.75 л.</em>
                    </li>
                    <li>
                        <span>
                            Коктейль молочный / шоколадный <br>
                            / ванильный / клубничный <br>
                            (по желанию дети сами взбивают)
                        </span>
                        <b></b>
                        <em>150 ₽ / 200 мл.</em>
                    </li>
                </ul>
            </div>

            <div class="menu__item-img col-lg-5 col-xl-6 align-self-center">
                <i>
                    <img src="img/menu/coctail.png" alt="IMG">
                </i>
            </div>
        </div>
    </div>
</section>

<section class="chomenu">
    <div class="container">
        <h2>Шоколадное меню</h2>


        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <div class="chomenu__item">
                    <i>
                        <img src="img/choco-1.png" alt="IMG">
                    </i>
                    <b>Меню №1</b>
                    <ul>
                        <li>
                            <span>• Блинчик с клубничным джемом и шоколадом</span>
                        </li>
                        <li>
                            <span>• Шоколадное <br> мороженное</span>
                        </li>
                        <li>
                            <span>• Чай с ароматом <br> шоколада</span>
                        </li>
                    </ul>

                    <span>500 ₽</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3">
                <div class="chomenu__item">
                    <i>
                        <img src="img/choco-2.png" alt="IMG">
                    </i>
                    <b>Меню №2</b>
                    <ul>
                        <li>
                            <span>• Блинчик с бананом и шоколадом</span>
                        </li>
                        <li>
                            <span>• Шоколадное печенье</span>
                        </li>
                        <li>
                            <span>• Молочный коктейль с шоколадом</span>
                        </li>
                    </ul>

                    <span>600 ₽</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3">
                <div class="chomenu__item">
                    <i>
                        <img src="img/choco-3.png" alt="IMG">
                    </i>
                    <b>Меню №3</b>
                    <ul>
                        <li><span>• Круассан с шоколадом</span></li>
                        <li><span>• Фруктовые шашлычки с шоколадным соусом</span></li>
                        <li><span>• Горячий шоколадом со взбитыми сливками</span></li>
                    </ul>

                    <span>700 ₽</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3">
                <div class="chomenu__item">
                    <i>
                        <img src="img/choco-4.png" alt="IMG">
                    </i>
                    <b>Меню №4</b>
                    <ul>
                        <li>• Шоколадный маффин</li>
                        <li>• Фруктовый салат со взбитыми сливками и шоколадным соусом</li>
                        <li>• Какао</li>
                    </ul>

                    <span>750 ₽</span>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')