@@include('./part/header.html', {"title": "Дополнения к вашему празднику"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="news">
    <div class="container">
        <h2>Новости</h2>

        <div class="news__items">

            <a href="#" class="news__item news__item-min">
                <div class="news-article news-article--min">
                    <div class="news-article__img">
                        <i>
                            <img src="img/news-img-1.jpg" alt="IMG">
                        </i>
                    </div>

                    <div class="news-article__content">
                        <h3>
                            Открытие Первого Черноморского форума по хлебопечению
                        </h3>
                        <time>
                            <i>
                                <img src="img/calendar.svg" alt="IMG">
                            </i>
                            <span>8 августа, 2018 года</span>
                        </time>
                    </div>
                </div>
            </a>
        
            <a href="#" class="news__item news__item-max">
                <div class="news-article news-article--max">
                    <div class="news-article__img">
                        <i>
                            <img src="img/news-img-1.jpg" alt="IMG">
                        </i>
                    </div>

                    <div class="news-article__content">
                        <h3>Открытие Первого Черноморского форума по хлебопечению</h3>
                        <time>
                            <i>
                                <img src="img/calendar.svg" alt="IMG">
                            </i>
                            <span>8 августа, 2018 года</span>
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="news__item news__item-max">
                <div class="news-article news-article--max">
                    <div class="news-article__img">
                        <i>
                            <img src="img/news-img-1.jpg" alt="IMG">
                        </i>
                    </div>

                    <div class="news-article__content">
                        <h3>Открытие Первого Черноморского форума по хлебопечению</h3>
                        <time>
                            <i>
                                <img src="img/calendar.svg" alt="IMG">
                            </i>
                            <span>8 августа, 2018 года</span>
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="news__item news__item-max">
                <div class="news-article news-article--max">
                    <div class="news-article__img">
                        <i>
                            <img src="img/news-img-1.jpg" alt="IMG">
                        </i>
                    </div>

                    <div class="news-article__content">
                        <h3>Открытие Первого Черноморского форума по хлебопечению</h3>
                        <time>
                            <i>
                                <img src="img/calendar.svg" alt="IMG">
                            </i>
                            <span>8 августа, 2018 года</span>
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="news__item news__item-max">
                <div class="news-article news-article--max">
                    <div class="news-article__img">
                        <i>
                            <img src="img/news-img-1.jpg" alt="IMG">
                        </i>
                    </div>

                    <div class="news-article__content">
                        <h3>Открытие Первого Черноморского форума по хлебопечению</h3>
                        <time>
                            <i>
                                <img src="img/calendar.svg" alt="IMG">
                            </i>
                            <span>8 августа, 2018 года</span>
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="news__item news__item-min">
                <div class="news-article news-article--min">
                    <div class="news-article__img">
                        <i>
                            <img src="img/news-img-1.jpg" alt="IMG">
                        </i>
                    </div>

                    <div class="news-article__content">
                        <h3>
                            Открытие Первого Черноморского форума по хлебопечению
                        </h3>
                        <time>
                            <i>
                                <img src="img/calendar.svg" alt="IMG">
                            </i>
                            <span>8 августа, 2018 года</span>
                        </time>
                    </div>
                </div>
            </a>

        </div>

        <div class="news__more">
            <a href="#more" class="news__more-btn">
                <i>
                    <img src="img/refresh.svg" alt="IMG">
                </i>
                <span>Другие новости</span>
            </a>
        </div>
    </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')