@@include('./part/header.html', {"title": "Дополнения к вашему празднику"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="news-detail">
    <div class="container">
        <h2>Открытие Первого Черноморского форума по хлебопечению</h2>

        <article>
            <p>25 июня в гостиничном комплексе «Ялта-Интурист» состоялось открытие Первого Черноморского форума по хлебопечению, организатором которого выступила «Российская гильдия пекарей и кондитеров» (РОСПиК).</p>
            <p>В рамках форума проходила специализированная отраслевая выставка, на которой были представлены традиционные и инновационные разработки крупнейших компаний-производителей хлебобулочной и кондитерской продукции, технологического оборудования, упаковки и ингредиентов. Среди участников была и наша компания «Конфаэль». </p>

            <a href="img/slider-2.png" class="article-img" data-fancybox>
                <img src="img/slider-2.png" alt="IMG">
            </a>

            <a href="img/slider-2.png" class="article-img" data-fancybox>
                <img src="img/slider-2.png" alt="IMG">
            </a>

            <p>26 июня на городской набережной устроили концерт, а также угощяли всех желающих кондитерской продукцией народов Крыма в ходе ярмарки-дегустации. В последний день форума прошло «Шоколадное шоу» и подготовило его шоколадная фабрика «Конфаэль. Все желающие смогли испытать себя в мастерстве раскрашивания шоколада и изготовлении конфет ручной работы. Также на празднике был представлен необычный шоколадный фонтан с фруктами от компании «Конфаэль». Гости были в восторге, дети с удовольствием рисовали шоколадные картины, участники делали индивидуальные конфеты и не отходя от прилавков пробовали свои шоколадные шедевры. Форум прошел весело, интерактивно и шоколадно! </p>
        </article>


        <div class="news-detail__info">
        
            <a href="#back">
                <i>
                    <img src="img/back.svg" alt="IMG">
                </i>
                <span>Назад к списку новостей</span>
            </a>

            <div>
                <em>
                    <i>
                        <img src="img/eye.svg" alt="IMG">
                    </i>
                    <span>518</span>
                </em>

                <em>
                    <i>
                        <img src="img/calendar.svg" alt="IMG">
                    </i>
                    <time>8 августа, 2018 года</time>
                </em>

                <ul class="news-detail__social">
                    <li>
                        <a href="#vk">vk</a>
                    </li>
                    <li>
                        <a href="#fb">fb</a>
                    </li>
                    <li>
                        <a href="#gp">gp</a>
                    </li>
                    <li>
                        <a href="#ok">ok</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



@@include('./part/footer_menu.html')
@@include('./part/footer.html')