@@include('./part/header.html', {"title": "Контакты"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')


<div class="container">
    <a href="#popup-consult" data-fancybox>Бесплатная консультация</a>
    <br>
    <a href="#popup-call" data-fancybox>Заказать звонок</a>
</div>

@@include('./part/sec_gift.html')
@@include('./part/footer_menu.html')
@@include('./part/footer.html')