@@include('./part/header.html', {"title": "Наши услуги"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="additions price">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Наши услуги</h1>
        <h2>Экскурсии в музей шоколада</h2>
        <div class="table-responsive mb-4" data-simplebar="init">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Программа</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Продолжительность</th>
                <th scope="col">Описание программы</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Шоколадный мастер</td>
                <td>
                  <strong>1600 ₽</strong> / человек
                  <span>группа от 10 человек</span>
                </td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);<br>
                  <em>2.</em>Рисование шоколадной открытки (шарика, сердечка);<br>
                  <em>3.</em>Изготовление конфет ручной работы.
                </td>
              </tr>
              <tr>
                <td>Шоколадный кондитер</td>
                <td>
                  <strong>1250 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1,5 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);<br>
                  <em>2.</em>Изготовление шоколадного леденца;<br>
                  <em>3.</em>Горячий шоколад с маршмеллоу.
                </td>
              </tr>
              <tr>
                <td>Конфетный мастер</td>
                <td>
                  <strong>1850 ₽</strong> / человек
                  <span>группа 10 человек</span>
                </td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Шоколад и шоколадные факты со всего мира. История шоколада для детей (с дегустацией шоколада,
                  викториной и призами); <br>
                  <em>2.</em>Мастер-класс по изготовлению конфетного ассорти (конфеты ручной работы, рафаэлло, трюфель);<br>
                  <em>3.</em>Изготовление шоколадного леденца;<br>
                  <em>4.</em>Шоколадный диплом.
                </td>
              </tr>
              <tr>
                <td>Шоколадное ремесло</td>
                <td>
                  <strong>1400 ₽</strong> / человек
                  <span>группа от 10 человек</span>
                </td>
                <td>2 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами); <br>
                  <em>2.</em>Шоколадное мыловарение; <br>
                  <em>3.</em>Рисование шоколадной открытки (шарика, сердечка).
                </td>
              </tr>
              <tr>
                <td>Шоколадное лето</td>
                <td>
                  <strong>1500 ₽</strong> / человек
                  <span>группа от 10 человек</span></td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Шоколад и шоколадные факты со всего мира. История шоколада для детей (с дегустацией шоколада,
                  викториной и призами); <br>
                  <em>2.</em>Рисование на шоколадных бабочках; <br>
                  <em>3.</em>Изготовление бабочки «Шоколадницы» ручной работы.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="price__additional">
          <div class="">
            <p>К любой базовой программе вы можете выбрать дополнения на ваш вкус</p>
          </div>
          <div class="">
            <a href="#" class="btn__simple"><span>Перейти к дополнениям</span></a>
          </div>
        </div>

        <h2>Мастер-классы</h2>
        <div class="table-responsive mb-4" data-simplebar="init">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Программа</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Продолжительность</th>
                <th scope="col">Описание программы</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Шоколадный мастер</td>
                <td>
                  <strong>1600 ₽</strong> / человек
                  <span>группа от 10 человек</span>
                </td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);<br>
                  <em>2.</em>Рисование шоколадной открытки (шарика, сердечка);<br>
                  <em>3.</em>Изготовление конфет ручной работы.
                </td>
              </tr>
              <tr>
                <td>Шоколадный кондитер</td>
                <td>
                  <strong>1250 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1,5 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);<br>
                  <em>2.</em>Изготовление шоколадного леденца;<br>
                  <em>3.</em>Горячий шоколад с маршмеллоу.
                </td>
              </tr>
              <tr>
                <td>Конфетный мастер</td>
                <td>
                  <strong>1850 ₽</strong> / человек
                  <span>группа 10 человек</span>
                </td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Шоколад и шоколадные факты со всего мира. История шоколада для детей (с дегустацией шоколада,
                  викториной и
                  призами); <br>
                  <em>2.</em>Мастер-класс по изготовлению конфетного ассорти (конфеты ручной работы, рафаэлло, трюфель);<br>
                  <em>3.</em>Изготовление шоколадного леденца;<br>
                  <em>4.</em>Шоколадный диплом.
                </td>
              </tr>
              <tr>
                <td>Шоколадное ремесло</td>
                <td>
                  <strong>1400 ₽</strong> / человек
                  <span>группа от 10 человек</span>
                </td>
                <td>2 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами); <br>
                  <em>2.</em>Шоколадное мыловарение; <br>
                  <em>3.</em>Рисование шоколадной открытки (шарика, сердечка).
                </td>
              </tr>
              <tr>
                <td>Шоколадное лето</td>
                <td>
                  <strong>1500 ₽</strong> / человек
                  <span>группа от 10 человек</span></td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Шоколад и шоколадные факты со всего мира. История шоколада для детей (с дегустацией шоколада,
                  викториной и
                  призами); <br>
                  <em>2.</em>Рисование на шоколадных бабочках; <br>
                  <em>3.</em>Изготовление бабочки «Шоколадницы» ручной работы.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2>Дни рождения и другие тематические программы</h2>
        <div class="table-responsive mb-4" data-simplebar="init">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Программа</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Продолжительность</th>
                <th scope="col">Описание программы</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Шоколадная мечта</td>
                <td>
                  <strong>1600 ₽</strong> / человек
                  <span>группа от 10 человек</span>
                </td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);<br>
                  <em>2.</em>Рисование шоколадной открытки (шарика, сердечка);<br>
                  <em>3.</em>Изготовление конфет ручной работы.
                </td>
              </tr>
              <tr>
                <td>Шоколадная вечеринка с пиньятой</td>
                <td>
                  <strong>1250 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1,5 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами);<br>
                  <em>2.</em>Изготовление шоколадного леденца;<br>
                  <em>3.</em>Горячий шоколад с маршмеллоу.
                </td>
              </tr>
              <tr>
                <td>Шоколенд</td>
                <td>
                  <strong>1850 ₽</strong> / человек
                  <span>группа 10 человек</span>
                </td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Шоколад и шоколадные факты со всего мира. История шоколада для детей (с дегустацией шоколада,
                  викториной и
                  призами); <br>
                  <em>2.</em>Мастер-класс по изготовлению конфетного ассорти (конфеты ручной работы, рафаэлло, трюфель);<br>
                  <em>3.</em>Изготовление шоколадного леденца;<br>
                  <em>4.</em>Шоколадный диплом.
                </td>
              </tr>
              <tr>
                <td>Веселье в шоколаде</td>
                <td>
                  <strong>1400 ₽</strong> / человек
                  <span>группа от 10 человек</span>
                </td>
                <td>2 часа</td>
                <td>
                  <em>1.</em> Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и призами); <br>
                  <em>2.</em>Шоколадное мыловарение; <br>
                  <em>3.</em>Рисование шоколадной открытки (шарика, сердечка).
                </td>
              </tr>
              <tr>
                <td>Тинейджер в шоколаде 12+</td>
                <td>
                  <strong>1500 ₽</strong> / человек
                  <span>группа от 10 человек</span></td>
                <td>1,5 - 2 часа</td>
                <td>
                  <em>1.</em> Шоколад и шоколадные факты со всего мира. История шоколада для детей (с дегустацией шоколада,
                  викториной и
                  призами); <br>
                  <em>2.</em>Рисование на шоколадных бабочках; <br>
                  <em>3.</em>Изготовление бабочки «Шоколадницы» ручной работы.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2>Дни рождения и другие тематические программы</h2>
        <div class="table-responsive mb-4" data-simplebar="init">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Программа</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Продолжительность</th>
                <th scope="col">Описание программы</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Шоколадная лекция</td>
                <td>
                  <strong>5000 ₽</strong> / 15 человек
                  <span>+100 ₽ / чел. если группа свыше 15 человек</span>
                </td>
                <td>30 минут</td>
                <td>Интерактивный рассказ о шоколаде и фабрике с дегустацией разных сортов шоколада.</td>
              </tr>
              <tr>
                <td>Дискотека с Пиньятой</td>
                <td>
                  <strong>500 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1 час</td>
                <td>Дискотека + игра с Пиньятой.</td>
              </tr>
              <tr>
                <td>Анимационная программа</td>
                <td>
                  <strong>6000 ₽</strong>
                  <span>группа от 15 человек</span>
                </td>
                <td>1 час</td>
                <td>Интерактивная игровая программа с аниматором.</td>
              </tr>
              <tr>
                <td>Шоколадная лекция</td>
                <td>
                  <strong>5000 ₽</strong> / 15 человек
                  <span>+100 ₽ / чел. если группа свыше 15 человек</span>
                </td>
                <td>30 минут</td>
                <td>Интерактивный рассказ о шоколаде и фабрике с дегустацией разных сортов шоколада.</td>
              </tr>
              <tr>
                <td>Дискотека с Пиньятой</td>
                <td>
                  <strong>500 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1 час</td>
                <td>Дискотека + игра с Пиньятой.</td>
              </tr>
              <tr>
                <td>Анимационная программа</td>
                <td>
                  <strong>6000 ₽</strong>
                  <span>группа от 15 человек</span>
                </td>
                <td>1 час</td>
                <td>Интерактивная игровая программа с аниматором.</td>
              </tr>
              <tr>
                <td>Шоколадная лекция</td>
                <td>
                  <strong>5000 ₽</strong> / 15 человек
                  <span>+100 ₽ / чел. если группа свыше 15 человек</span>
                </td>
                <td>30 минут</td>
                <td>Интерактивный рассказ о шоколаде и фабрике с дегустацией разных сортов шоколада.</td>
              </tr>
              <tr>
                <td>Дискотека с Пиньятой</td>
                <td>
                  <strong>500 ₽ </strong>/ человек
                  <span>группа от 10 человек</span></td>
                <td>1 час</td>
                <td>Дискотека + игра с Пиньятой.</td>
              </tr>
              <tr>
                <td>Анимационная программа</td>
                <td>
                  <strong>6000 ₽</strong>
                  <span>группа от 15 человек</span>
                </td>
                <td>1 час</td>
                <td>Интерактивная игровая программа с аниматором.</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="wrap--btn">
          <a href="#" class="btn__brown">Заказать мероприятие</a>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')