@@include('./part/header.html', {"title": "Дополнения к вашему празднику"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')


<section class="sale">
    <div class="container">
        <h1>Акции</h1>

        <div class="row">
            <div class="col-12 col-lg-8 ">
                <div class="sale__slider" id="sale-slider">
                    <div class="sale__slider-item" style="background-image: url('img/sale-slider-1.jpg')">
                        <div class="sale__slider-item-wrap">
                            <em>СПЕЦПРЕДЛОЖЕНИЕ</em>
                            <h2>Клубничный</h2>
                            <span>шоколадный фонтан</span>
                            <b>
                                В подарок!
                                <i>
                                    <img src="img/gift.png" alt="IMG">
                                </i>
                            </b>
                        </div>
                    </div>

                    <div class="sale__slider-item" style="background-image: url('img/sale-slider-1.jpg')">
                        <div class="sale__slider-item-wrap">
                            <em>СПЕЦПРЕДЛОЖЕНИЕ</em>
                            <h2>Клубничный</h2>
                            <span>шоколадный фонтан</span>
                            <b>
                                В подарок!
                                <i>
                                    <img src="img/gift.png" alt="IMG">
                                </i>
                            </b>
                        </div>
                    </div>

                    <div class="sale__slider-item" style="background-image: url('img/sale-slider-1.jpg')">
                        <div class="sale__slider-item-wrap">
                            <em>СПЕЦПРЕДЛОЖЕНИЕ</em>
                            <h2>Клубничный</h2>
                            <span>шоколадный фонтан</span>
                            <b>
                                В подарок!
                                <i>
                                    <img src="img/gift.png" alt="IMG">
                                </i>
                            </b>
                        </div>
                    </div>

                    <div class="sale__slider-item" style="background-image: url('img/sale-slider-1.jpg')">
                        <div class="sale__slider-item-wrap">
                            <em>СПЕЦПРЕДЛОЖЕНИЕ</em>
                            <h2>Клубничный</h2>
                            <span>шоколадный фонтан</span>
                            <b>
                                В подарок!
                                <i>
                                    <img src="img/gift.png" alt="IMG">
                                </i>
                            </b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4 sale__btn-parent">
                <div class="sale__btn">
                    <em>ЛЕТНЕЕ ПРЕДЛОЖЕНИЕ</em>
                    <h3>Горячий шоколад с маршмеллоу</h3>
                    <b>В подарок!</b>
                </div>
            </div>

            <div class="col-6 table-visible sale__btn-parent">
                <div class="sale__btn">
                    <em>ЛЕТНЕЕ ПРЕДЛОЖЕНИЕ</em>
                    <h3>Горячий шоколад с маршмеллоу</h3>
                    <b>В подарок!</b>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="container">
        <div class="subscribe__form">
            <h3>Узнайте о новой акции раньше всех</h3>
            <p>Подпишитесь на нашу еженедельную E-mail рассылку, в которой мы рассказываем о новых и акциях и спецпредложениях</p>
            <form action="">
                <input type="text" placeholder="Имя" class="subscribe__name" >
                <input type="text" placeholder="E-mail" class="subscribe__mail">
                <button type="submit" class="btn__brown subscribe__btn">
                    <span>Подписаться</span>
                </button>
            </form>
        </div>
    </div>
</section>

@@include('./part/footer_menu.html')
@@include('./part/footer.html')