@@include('./part/header.html', {"title": "Дополнения к вашему празднику"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')

<section class="exkursii">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h1>Выездные праздники</h1>
        <p>Компания «Конфаэль» предлагает Вам и Вашим детям организацию и проведение дня рождения на шоколадной фабрике. Подарите своему ребенку что то там, тут должно быть описание мероприятия :)</p>
        <div class="wrap--btn">
          <a href="#" class="btn__brown">Заказать мероприятие</a>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="image--wrap"><img src="./img/viezd-head-img.png" alt="img"></div>
      </div>
    </div>
  </div>
  <img src="./img/balloon-yellow-2.png" alt="img" class="parallax parallax-left" data-enllax-ratio="0.6"
    data-enllax-type="foreground" data-enllax-direction="vertical">
  <img src="./img/party.png" alt="img" class="parallax parallax-right" data-enllax-ratio="0.6" data-enllax-type="foreground"
    data-enllax-direction="vertical">
</section>

@@include('./part/sec_fotovideo.html', {"class": ""})
@@include('./part/sec_review.html', {"class": "review-viezd-page"})

@@include('./part/footer_menu.html')
@@include('./part/footer.html')