@@include('./part/header.html', {"title": "Дополнения к вашему празднику"})
@@include('./part/menu.html', {"class": ""})
@@include('./part/sec_service.html')






<section class="exkursii">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1>Шоколадный выпускной</h1>
                <p>Компания «Конфаэль» предлагает Вам и Вашим детям организацию и проведение шоколадного выпускного. Подарите своему ребенку что то там, тут должно быть описание мероприятия :)</p>
                <div class="wrap--btn">
                    <a href="#" class="btn__brown">Заказать мероприятие</a>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="image--wrap"><img src="./img/girl2.png" alt="img"></div>
            </div>
        </div>
    </div>
    <img src="./img/balloon-yellow-2.png" alt="img" class="parallax parallax-right" data-enllax-ratio="0.6"
        data-enllax-type="foreground" data-enllax-direction="vertical">
    <img src="./img/party.png" alt="img" class="parallax parallax-left" data-enllax-ratio="0.6" data-enllax-type="foreground"
        data-enllax-direction="vertical">
</section>


<section class="brithday__program">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Тематические программы</h2>
                <a href="#" class="link__download">Прайс-лист в виде таблицы</a>
                <div class="program--cards">
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img-top" src="./img/programm/img__prog-1.png" alt="img">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Шоколадный мастер</h3>
                            <div class="card-text-scroll" data-simplebar="init">
                                <ol>
                                    <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и
                                        призами);</li>
                                    <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                                    <li>Изготовление конфет ручной работы.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>1600 ₽ <small>/ человек</small></div>
                            <span>группа от 10 человек</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img-top" src="./img/programm/img__prog-2.png" alt="img">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Шоколадный кондитер</h3>
                            <div class="card-text-scroll" data-simplebar="init">
                                <ol>
                                    <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и
                                        призами);</li>
                                    <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                                    <li>Изготовление конфет ручной работы.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>1250 ₽ <small>/ человек</small></div>
                            <span>группа от 10 человек</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img-top" src="./img/programm/img__prog-3.png" alt="img">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Конфетный мастер</h3>
                            <div class="card-text-scroll" data-simplebar="init">
                                <ol>
                                    <li>История шоколада для детей (с дегустацией шоколада, викториной и призами);</li>
                                    <li>Мастер-класс по изготовлению конфет ручной работы, рафаэлло, трюфель;</li>
                                    <li>Изготовление шоколадного леденца;</li>
                                    <li>Изготовление шоколадного леденца;</li>
                                </ol>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>1850 ₽ <small>/ человек</small></div>
                            <span>группа от 10 человек</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img-top" src="./img/programm/img__prog-4.png" alt="img">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Шоколадное ремесло</h3>
                            <div class="card-text-scroll" data-simplebar="init">
                                <ol>
                                    <li>Интерактивная программа о шоколаде (с дегустацией шоколада, викториной и
                                        призами);</li>
                                    <li>Рисование шоколадной открытки (шарика, сердечка); </li>
                                    <li>Изготовление конфет ручной работы.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>1400 ₽ <small>/ человек</small></div>
                            <span>группа от 10 человек</span>
                        </div>
                    </div>
                </div>

                <div class="request-call">
                    <div class="request-call__wrap col-12">
                        
                        <i>
                            <img src="img/req-c.svg" alt="">
                        </i>
                        <p>
                            Проведем выпускной с индивидуальной
                            <br>
                            прграммой по вашему запросу
                        </p>

                        <div class="request-call__btn">
                            <a href="#" class="btn__simple"><span>Заказать звонок</span></a>
                        </div>
                    </div>
                </div>

                <div class="brithday__program--add row no-gutters">
                    <div class="col-12 col-xl-6 d-flex align-items-center">
                        <p>К любой базовой программе вы можете выбрать дополнения на ваш вкус</p>
                    </div>
                    <div class="col-12 col-xl-6 d-flex align-items-center">
                        <a href="#" class="btn__simple"><span>Перейти к дополнениям</span></a>
                        <a href="#" class="btn__simple"><span>Бесплатная консультация</span></a>
                    </div>
                </div>
                <div class="brithday__program--bay">
                    <a href="#" class="btn__brown"><span>Заказать мероприятие</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('./part/sec_fotovideo.html', {"class": "fotovideo-bg-brown"})
@@include('./part/sec_review.html', {"class": ""})

@@include('./part/footer_menu.html')
@@include('./part/footer.html')