.service__list {
  margin-bottom: 60px;
  margin-left: 0px;
  margin-right: 0px;

  .slick-arrow {
    margin-top: -10px;
  }

  .slick-track {
    padding-bottom: 20px;
  }

  .card--wrap {
    display: flex;
    justify-content: space-between;

    .service--card {
      background-color: white;
      border: 1px solid #f2d8c9;
      border-radius: 7px;
      text-align: center;
      padding: 20px 10px;
      width: 150px;
      height: 190px;
      box-shadow: 0px 10px 15px 0px rgba(81, 64, 32, 0.06);

      @media (max-width: 1200px) {
        margin: 0 10px;
      }

      img {
        height: 70px;
        width: auto;
        max-height: 100%;
        display: inline-block;
      }

      p {
        margin-top: 25px;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        color: #af9d96;



        strong {
          display: block;
          font-family: "AlegreyaSans-Bold";
          font-size: 18px;
          line-height: normal;
          color: #512c1d;
          margin-bottom: 2px;

        }
      }
    }
  }

  #service-slider {
    .slick-list {

      &::after,
      &::before {
        content: none;
      }
    }
  }

  @media (max-width: 1200px) {

    // margin-left: -15px;
    // margin-right: -15px;
    .slick-list {
      margin: 0 -15px;
    }
  }

  @media (max-width: 576px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;

    .slick-list {
      margin: 0 -10px;
    }
  }
}

.about__second {
  background-image: url('../img/about_second.png');
  background-repeat: no-repeat;
  background-position: bottom center; // min-height: 500px;
  background-color: #f8f0e9;
  background-size: cover;
  overflow: hidden;

  h1 {
    margin-top: 70px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    color: #8f7e78;
  }

  .about__second-count {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 35px auto;

    h4 {
      color: #6f4838;
      font-size: 54px;
      line-height: 60px;
      font-family: "AlegreyaSans-Bold";
    }

    p {
      font-size: 16px;
      line-height: 22px;
      color: #8f7e78;
    }
  }

  .btn__download {
    margin-bottom: 50px;

    @media(max-width: 460px) {
      padding: 11px 50px 10px;
      margin-top: 24px;
    }

    @media(max-width: 420px) {
      width: 100%;
      padding: 11px 20px 10px;
    }
  }

  .image--wrap {
    margin-top: 60px;
    width: 520px;
    height: 565px;
    position: absolute;
    bottom: 0;

    @media(max-width: 767px) and (min-width: 577px) {
      height: 430px;
    }

    img {
      height: 100%;
    }
  }

  .wrap--btn {
    text-align: left;
  }

  @media (max-width: 991px) {
    background-position: bottom left;
    background-size: cover;
    max-height: 890px;

    .about__second-count {
      margin-bottom: 0;
    }

    .image--wrap {
      position: relative;
      text-align: center;
      margin: 0 auto;
      max-width: 400px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .wrap--btn {
      text-align: center;

      .btn__download {
        margin-bottom: 25px;
      }
    }
  }

  @media (max-width: 767px) {
    max-height: 1100px;
    overflow: hidden;

    p {
      text-align: center;
    }
  }

  @media (max-width: 576px) {
    // max-height: 970px;
    max-height: inherit;

    h1 {
      margin-top: 50px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .about__second-count {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 0;

      >div {
        max-width: 200px;
      }
    }

    .image--wrap {
      width: 100%;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 415px) {
    // max-height: 1100px;
    max-height: inherit;
  }
}

.about__third {
  margin: 70px auto;

  .card--wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >div {
      width: 370px;
      height: 130px;
      border: 1px solid #f2d8c9;
      border-radius: 10px;
      margin: 15px 0;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
      padding: 20px;
      display: flex; // align-items: center;

      @media(max-wdith: 768px) {
        margin: 10px 0;
      }

      .img--wrap {
        text-align: center;
        width: 90px;
        height: 90px;
        display: block;
        border-radius: 50%;
        border: 1px solid #f2d9ca;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      p {
        padding-left: 19px;
        font-size: 14px;
        line-height: 18px;

        @media(max-width: 992px) {
          font-size: 12px;
        }

        @media(max-width: 768px) {
          padding-left: 15px;
        }

        strong {
          display: block;
          font-size: 24px;
          line-height: 28px;
          margin-top: 7px;
          margin-bottom: 3px;
          font-family: "AlegreyaSans-Bold";
        }
      }
    }
  }

  @media (max-width: 991px) {
    .card--wrap {
      >div {
        width: 345px;
      }
    }
  }

  @media (max-width: 767px) {
    .card--wrap {
      justify-content: center;
    }
  }

  @media (max-width: 576px) {
    margin: 50px auto;

    .card--wrap>div {
      width: 100%;
      margin: 5px 0;
    }
  }

  .card__item {
    @media(max-width: 420px) {
      padding: 10px;

      .img--wrap {
        width: 80px;
        height: 80px;
      }
    }

    div {
      p {
        @media(max-width: 420px) {
          font-size: 8px;

          strong {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.about__fourth {
  position: relative; // min-height: 665px;
  background-color: #f8f0e9;
  background-image: url('../img/about_fourth.png');
  background-repeat: no-repeat;
  background-position: bottom center;

  @media(max-width: 992px) {
    background-image: url("../img/color.png"), url("../img/kist.png");
    background-position: center left, right bottom;
    background-size: auto, auto !important;
  }

  @media(max-width: 767px) {
    background-image: url("../img/kist.png");
    background-position: right bottom;
    background-size: auto !important;
    // background-size: 158% !important;

    .image--wrap {
      img {
        margin-left: -55px;
      }
    }
  }

  @media(max-width: 420px) {
    background-size: 158% !important;
  }

  h2 {
    margin-top: 70px;

    @media(max-width: 992px) {
      margin-bottom: 21px;
    }
  }

  p {
    margin-bottom: 30px;

    @media(max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  .image--wrap {
    margin-top: 65px;
    width: 585px;
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      height: 100%;
    }
  }

  .image__text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 35px;
    font-size: 14px;
    line-height: 20px;
    color: #6f4838;
    z-index: 1;

    @media(max-width: 992px) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 37px;
      height: 30px;
      top: 0;
      background-image: url('../img/icon/paint.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .play__link {
    margin-bottom: 80px;
  }

  .wrap--btn {
    text-align: left;

    @media(max-width: 992px) {
      >a {
        margin-top: 4px;
      }
    }
  }

  @media (max-width: 1200px) {
    background-size: cover;
  }

  @media (max-width: 991px) {
    .order-first {
      order: 0;
    }

    .image--wrap {
      position: relative;
      margin: 0 auto;
      max-width: 510px;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    p {
      text-align: center;
    }

    .wrap--btn {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    max-height: 1300px;

    .wrap--btn {
      display: none;
    }
  }

  @media (max-width: 576px) {
    // max-height: 880px;
    max-height: auto;

    h2 {
      margin-top: 45px;
    }

    .image__text,
    .wrap--btn {
      display: none;
    }

    .image--wrap {
      max-width: inherit;
    }
  }
}

.about__fifth {
  position: relative; // padding-top: 65px;
  // min-height: 450px;
  background-color: #faf6f3;
  background-image: url('../img/about_fifth.png');
  background-repeat: no-repeat;
  background-position: bottom center;

  h2 {
    margin-top: 70px;
  }

  .image--wrap {
    margin-top: 15px;
    width: 375px;
    height: 440px;
    position: absolute;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  .wrap--btn {
    margin-bottom: 80px;
    text-align: left;
  }

  @media (max-width: 991px) {
    background-size: cover;

    .image--wrap {
      position: relative;
      margin: 0 auto;
    }

    h2 {
      margin-bottom: 21px;
    }

    P {
      font-size: 16px;
      margin-bottom: 27px;
    }

    p,
    .wrap--btn {
      text-align: center;
    }

    .wrap--btn {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 767px) {
    h2 {
      margin-top: 45px;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 25px;
    }


    .wrap--btn {
      display: none;
    }

    .image--wrap {
      max-width: 270px;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
        ;
      }
    }
  }
}

.about__sixth {
  position: relative;
  background-color: #f8f0e9;
  background-image: url('../img/about_sixth.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow: hidden;

  h2 {
    margin-top: 75px;
  }

  p {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .btn__brown {
    // padding: 20px 75px;
  }

  .card--wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

    >div {
      width: 250px;
      text-align: center;
      padding: 15px;

      img {
        height: 90px;
        width: auto;
        max-height: 100%;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: #6f4838;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }

  .image--wrap {
    width: 355px;
    height: 440px;
    margin: 20px auto 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 100%;
    }
  }

  .wrap--btn {
    margin-bottom: 75px;
    text-align: left;
  }

  @media (max-width: 991px) {
    .image--wrap {
      position: absolute;
      left: 100%;
      bottom: 0;
    }

    .card--wrap {
      justify-content: space-around;
    }

    p {
      text-align: center;
    }

    .wrap--btn {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    h2 {
      margin-top: 45px;
    }

    .card--wrap {
      >div {
        width: 50%;
        padding: 10px 5px;

        p {
          font-size: 14px;
        }
      }
    }

    .image--wrap {
      display: none;
    }

    .wrap--btn {
      margin-bottom: 45px;
    }
  }
}