.brithday__first {
  position: relative;
  background-image: url('../img/brth_first.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f8f0e9;
  overflow: hidden;
  z-index: 1;

  .parallax-a {
    bottom: 30%;
    left: 1%;
    z-index: 1;
  }

  .parallax-b {
    bottom: 0;
    right: -30px;
    z-index: 1;
  }

  h1 {
    margin-top: 71px;
    margin-bottom: 19px;
    // margin-top: 10px;
  }

  p {
    margin-bottom: 32px;

    @media(max-width: 767px) {
      margin-bottom: 21px;
    }
  }

  .row {
    position: relative;
    z-index: 2;
  }

  .image--wrap {
    position: absolute;
    bottom: 0;
    height: 440px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .wrap--btn {
    margin-bottom: 80px;
    text-align: left;
  }

  @media (max-width: 991px) {
    background-size: cover;

    .image--wrap {
      position: relative;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .wrap--btn {
      text-align: center;
      margin-bottom: 30px;
    }

    .parallax-a {
      bottom: 30%;
      left: 85%;
    }

    .parallax-b {
      bottom: 0;
      right: 82%;
    }
  }

  @media (max-width: 575px) {
    h1 {
      margin-top: 45px;
    }
  }
}

.brithday__program {
  h2 {
    margin-top: 69px;
    margin-bottom: 6px;

    @media(max-width: 992px) {
      margin-bottom: 23px;
    }
  }

  .link__download {
    margin: 15px 0;
    margin-bottom: 21px;

    @media(max-width: 992px) {
      margin-bottom: 28px;
    }

    @media(max-width: 767px) {
      margin-top: -5px;
      margin-bottom: 18px;
    }
  }

  .wrap--btn {
    a {
      margin-bottom: 23px;

      @media(max-width: 992px) {
        margin-bottom: 28px;
      }
    }
  }

  .brithday__program--add {
    position: relative;
    background-color: #f8f0e9;
    border: 1px solid #f2d8c9;
    border-radius: 10px;
    width: 100%;
    padding: 20px 10px;
    margin: 15px 0 40px;

    .btn__simple {
      margin: 0 5px;
    }

    p {
      margin: 0;
      padding-left: 135px;
      font-size: 18px;
      line-height: 24px;
      font-family: "Montserrat-SemiBold";
      color: #6f4838;
      position: relative;

      @media(max-width: 767px) {
        text-align: center;
        padding: 0px !important;
      }

      &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 50px;
        left: 60px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='rgb(169, 86, 52)' d='M51.957,49.985 L48.779,49.985 L4.215,49.985 L1.036,49.985 C0.464,49.985 0.001,49.529 0.001,48.966 C0.001,48.404 0.464,47.948 1.036,47.948 L3.180,47.948 L3.180,37.053 L3.180,32.586 C3.180,30.905 4.570,29.537 6.278,29.537 L8.046,29.537 L8.046,23.374 L8.046,19.489 C8.046,17.807 9.435,16.439 11.144,16.439 L14.321,16.439 L14.321,13.485 C13.594,13.305 12.928,12.934 12.384,12.399 C11.110,11.145 10.790,9.234 11.588,7.644 L14.428,1.980 C14.602,1.633 14.962,1.413 15.356,1.413 C15.750,1.413 16.110,1.633 16.284,1.980 L19.124,7.644 C19.922,9.234 19.602,11.145 18.327,12.399 C17.784,12.934 17.117,13.304 16.391,13.485 L16.391,16.439 L25.462,16.439 L25.462,12.060 C24.752,11.883 24.080,11.523 23.525,10.978 C22.251,9.724 21.931,7.813 22.728,6.222 L25.569,0.559 C25.743,0.211 26.103,-0.009 26.497,-0.009 C26.891,-0.009 27.251,0.211 27.425,0.559 L30.265,6.222 C31.063,7.813 30.742,9.724 29.468,10.978 C28.914,11.523 28.242,11.883 27.532,12.060 L27.532,16.439 L36.603,16.439 L36.603,13.482 C35.893,13.305 35.221,12.945 34.666,12.399 C33.392,11.145 33.072,9.234 33.869,7.644 L36.710,1.980 C36.884,1.633 37.244,1.413 37.638,1.413 C38.032,1.413 38.391,1.633 38.566,1.980 L41.406,7.643 C42.204,9.234 41.883,11.145 40.609,12.399 C40.055,12.944 39.383,13.305 38.673,13.481 L38.673,16.439 L41.850,16.439 C43.558,16.439 44.948,17.807 44.948,19.489 L44.948,23.373 L44.948,29.537 L46.715,29.537 C48.424,29.537 49.814,30.904 49.814,32.586 L49.814,37.053 L49.814,47.947 L51.957,47.947 C52.529,47.947 52.993,48.404 52.993,48.966 C52.993,49.529 52.529,49.985 51.957,49.985 ZM16.391,11.307 C16.560,11.215 16.720,11.100 16.864,10.958 C17.510,10.322 17.673,9.352 17.268,8.545 L15.356,4.732 L13.444,8.545 C13.039,9.352 13.202,10.322 13.848,10.958 C13.992,11.100 14.152,11.215 14.321,11.307 C14.963,11.658 15.749,11.658 16.391,11.307 ZM27.532,9.886 C27.701,9.793 27.861,9.678 28.005,9.537 C28.651,8.901 28.814,7.931 28.409,7.124 L26.497,3.311 L24.585,7.124 C24.180,7.931 24.343,8.900 24.989,9.537 C25.133,9.678 25.292,9.793 25.462,9.886 C26.104,10.237 26.890,10.237 27.532,9.886 ZM38.673,11.307 C38.842,11.215 39.002,11.100 39.146,10.958 C39.792,10.322 39.955,9.352 39.550,8.545 L37.638,4.732 L35.726,8.545 C35.321,9.352 35.483,10.322 36.130,10.958 C36.273,11.100 36.433,11.215 36.603,11.307 C37.245,11.658 38.031,11.658 38.673,11.307 ZM42.878,19.489 C42.878,18.930 42.417,18.476 41.850,18.476 L11.144,18.476 C10.577,18.476 10.115,18.930 10.115,19.489 L10.116,19.489 L10.116,22.687 C10.572,22.828 11.063,22.892 11.642,22.892 C13.185,22.892 13.890,22.430 14.781,21.845 C15.774,21.194 16.899,20.455 19.069,20.455 C21.239,20.455 22.364,21.194 23.357,21.845 C24.248,22.430 24.953,22.892 26.496,22.892 C28.040,22.892 28.744,22.430 29.636,21.845 C30.628,21.194 31.753,20.455 33.923,20.455 C36.094,20.455 37.219,21.194 38.211,21.845 C39.103,22.430 39.807,22.892 41.351,22.892 C41.931,22.892 42.422,22.828 42.878,22.687 L42.878,19.489 ZM47.744,32.586 C47.744,32.028 47.282,31.574 46.715,31.574 L22.474,31.574 C21.902,31.574 21.439,31.118 21.439,30.555 C21.439,29.993 21.902,29.537 22.474,29.537 L42.878,29.537 L42.878,24.786 C42.402,24.882 41.898,24.930 41.351,24.930 C39.181,24.930 38.056,24.192 37.063,23.540 C36.171,22.955 35.467,22.493 33.923,22.493 C32.380,22.493 31.675,22.955 30.784,23.540 C29.791,24.192 28.666,24.930 26.496,24.930 C24.326,24.930 23.201,24.192 22.208,23.540 C21.317,22.955 20.612,22.493 19.069,22.493 C17.526,22.493 16.821,22.955 15.930,23.540 C14.937,24.192 13.812,24.930 11.642,24.930 C11.095,24.930 10.592,24.882 10.115,24.786 L10.115,29.537 L14.221,29.537 C14.793,29.537 15.256,29.992 15.256,30.555 C15.256,31.118 14.793,31.574 14.221,31.574 L6.278,31.574 C5.711,31.574 5.250,32.028 5.250,32.585 L5.250,36.096 C6.769,36.287 7.681,36.885 8.503,37.424 C9.394,38.009 10.099,38.471 11.642,38.471 C13.185,38.471 13.890,38.009 14.781,37.424 C15.774,36.773 16.899,36.034 19.069,36.034 C21.239,36.034 22.364,36.773 23.357,37.424 C24.248,38.009 24.953,38.471 26.496,38.471 C28.039,38.471 28.744,38.009 29.635,37.424 C30.628,36.773 31.753,36.034 33.923,36.034 C36.093,36.034 37.219,36.773 38.211,37.424 C39.103,38.009 39.807,38.471 41.351,38.471 C42.894,38.471 43.599,38.009 44.491,37.424 C45.312,36.885 46.224,36.287 47.744,36.096 L47.744,32.586 ZM47.744,38.157 C46.864,38.316 46.303,38.684 45.639,39.119 C44.646,39.770 43.521,40.509 41.351,40.509 C39.181,40.509 38.056,39.770 37.063,39.119 C36.171,38.534 35.467,38.072 33.923,38.072 C32.380,38.072 31.675,38.534 30.784,39.119 C29.791,39.770 28.666,40.509 26.496,40.509 C24.326,40.509 23.201,39.770 22.208,39.119 C21.317,38.534 20.612,38.072 19.069,38.072 C17.526,38.072 16.821,38.534 15.930,39.119 C14.937,39.770 13.812,40.509 11.642,40.509 C9.472,40.509 8.347,39.770 7.354,39.119 C6.691,38.684 6.130,38.316 5.250,38.157 L5.250,47.947 L47.744,47.947 L47.744,38.157 ZM8.125,45.226 C8.151,45.165 8.183,45.106 8.220,45.050 C8.257,44.995 8.301,44.943 8.348,44.895 C8.589,44.659 8.946,44.551 9.283,44.617 C9.349,44.630 9.414,44.649 9.476,44.675 C9.538,44.700 9.599,44.732 9.654,44.769 C9.711,44.806 9.764,44.848 9.812,44.895 C9.860,44.943 9.903,44.995 9.941,45.050 C9.978,45.106 10.010,45.165 10.036,45.226 C10.062,45.287 10.082,45.351 10.095,45.416 C10.109,45.483 10.116,45.549 10.116,45.616 C10.116,45.682 10.109,45.749 10.095,45.815 C10.082,45.880 10.062,45.944 10.036,46.005 C10.010,46.066 9.978,46.125 9.941,46.182 C9.903,46.237 9.860,46.288 9.812,46.336 C9.764,46.383 9.711,46.425 9.654,46.463 C9.599,46.500 9.538,46.531 9.476,46.556 C9.414,46.582 9.349,46.601 9.283,46.614 C9.216,46.628 9.148,46.635 9.081,46.635 C8.808,46.635 8.541,46.526 8.348,46.336 C8.301,46.288 8.257,46.237 8.220,46.182 C8.183,46.125 8.151,46.066 8.125,46.005 C8.099,45.944 8.079,45.880 8.066,45.815 C8.052,45.749 8.046,45.682 8.046,45.616 C8.046,45.549 8.052,45.483 8.066,45.416 C8.079,45.351 8.099,45.287 8.125,45.226 ZM19.249,42.180 C19.275,42.119 19.307,42.060 19.344,42.004 C19.381,41.949 19.425,41.896 19.472,41.849 C19.520,41.802 19.573,41.759 19.630,41.723 C19.686,41.686 19.746,41.654 19.809,41.629 C19.871,41.603 19.936,41.584 20.002,41.571 C20.136,41.544 20.273,41.544 20.407,41.571 C20.472,41.584 20.537,41.603 20.600,41.629 C20.663,41.654 20.723,41.686 20.779,41.723 C20.835,41.759 20.888,41.802 20.936,41.849 C20.983,41.896 21.027,41.949 21.065,42.004 C21.102,42.060 21.135,42.119 21.160,42.180 C21.186,42.241 21.206,42.305 21.219,42.371 C21.233,42.437 21.239,42.503 21.239,42.569 C21.239,42.636 21.233,42.703 21.219,42.769 C21.206,42.834 21.186,42.898 21.160,42.960 C21.135,43.021 21.102,43.080 21.065,43.136 C21.027,43.191 20.983,43.244 20.936,43.290 C20.888,43.337 20.835,43.379 20.779,43.417 C20.723,43.453 20.663,43.485 20.600,43.511 C20.537,43.536 20.472,43.555 20.407,43.569 C20.340,43.582 20.271,43.589 20.204,43.589 C20.137,43.589 20.069,43.582 20.002,43.569 C19.936,43.555 19.871,43.536 19.809,43.511 C19.746,43.485 19.686,43.453 19.630,43.417 C19.573,43.379 19.520,43.337 19.472,43.290 C19.425,43.244 19.381,43.191 19.344,43.136 C19.307,43.080 19.275,43.021 19.249,42.960 C19.223,42.898 19.203,42.834 19.190,42.769 C19.176,42.703 19.169,42.636 19.169,42.569 C19.169,42.503 19.176,42.437 19.190,42.371 C19.203,42.305 19.223,42.241 19.249,42.180 ZM31.214,45.226 C31.240,45.165 31.272,45.106 31.309,45.050 C31.348,44.995 31.391,44.943 31.439,44.895 C31.486,44.848 31.539,44.806 31.596,44.769 C31.652,44.732 31.712,44.700 31.774,44.675 C31.837,44.649 31.903,44.630 31.968,44.617 C32.101,44.590 32.239,44.590 32.372,44.617 C32.439,44.630 32.504,44.649 32.566,44.675 C32.629,44.700 32.689,44.732 32.745,44.769 C32.802,44.806 32.855,44.848 32.902,44.895 C32.950,44.943 32.993,44.995 33.031,45.050 C33.068,45.106 33.100,45.165 33.126,45.226 C33.152,45.287 33.171,45.351 33.185,45.416 C33.198,45.483 33.206,45.549 33.206,45.616 C33.206,45.682 33.198,45.749 33.185,45.815 C33.171,45.880 33.152,45.944 33.126,46.005 C33.100,46.066 33.068,46.125 33.031,46.182 C32.993,46.237 32.950,46.290 32.902,46.336 C32.710,46.526 32.443,46.635 32.171,46.635 C32.103,46.635 32.035,46.628 31.968,46.614 C31.903,46.601 31.837,46.582 31.774,46.556 C31.712,46.531 31.652,46.500 31.596,46.463 C31.539,46.426 31.486,46.383 31.439,46.336 C31.391,46.290 31.348,46.237 31.309,46.182 C31.272,46.125 31.240,46.066 31.214,46.005 C31.188,45.944 31.169,45.880 31.155,45.815 C31.142,45.749 31.136,45.682 31.136,45.616 C31.136,45.549 31.142,45.483 31.155,45.416 C31.169,45.351 31.188,45.287 31.214,45.226 ZM42.957,42.789 C42.983,42.728 43.015,42.668 43.052,42.613 C43.091,42.558 43.133,42.505 43.181,42.458 C43.374,42.269 43.640,42.160 43.914,42.160 C44.186,42.160 44.452,42.269 44.645,42.458 C44.693,42.505 44.736,42.558 44.774,42.613 C44.811,42.668 44.843,42.728 44.869,42.789 C44.895,42.851 44.914,42.915 44.928,42.980 C44.941,43.045 44.949,43.112 44.949,43.178 C44.949,43.246 44.941,43.312 44.928,43.378 C44.914,43.443 44.895,43.507 44.869,43.569 C44.843,43.630 44.811,43.689 44.774,43.744 C44.736,43.800 44.693,43.852 44.645,43.900 C44.453,44.089 44.186,44.197 43.914,44.197 C43.845,44.197 43.778,44.191 43.711,44.178 C43.644,44.165 43.579,44.145 43.517,44.120 C43.455,44.094 43.395,44.063 43.338,44.026 C43.282,43.988 43.229,43.947 43.181,43.900 C43.133,43.852 43.091,43.800 43.052,43.744 C43.015,43.689 42.983,43.630 42.957,43.569 C42.931,43.508 42.912,43.443 42.898,43.378 C42.885,43.312 42.879,43.246 42.879,43.178 C42.879,43.112 42.885,43.045 42.898,42.980 C42.912,42.915 42.931,42.851 42.957,42.789 ZM21.057,25.530 C21.031,25.591 20.999,25.650 20.962,25.706 C20.923,25.761 20.881,25.813 20.833,25.861 C20.786,25.908 20.732,25.950 20.676,25.987 C20.619,26.024 20.559,26.055 20.497,26.081 C20.435,26.106 20.370,26.126 20.303,26.139 C20.237,26.152 20.169,26.159 20.102,26.159 C20.033,26.159 19.966,26.152 19.899,26.139 C19.833,26.126 19.767,26.106 19.705,26.081 C19.643,26.055 19.583,26.024 19.526,25.987 C19.470,25.950 19.417,25.908 19.369,25.861 C19.321,25.813 19.279,25.761 19.240,25.706 C19.203,25.650 19.171,25.591 19.145,25.530 C19.119,25.469 19.100,25.405 19.086,25.339 C19.073,25.273 19.067,25.207 19.067,25.141 C19.067,25.073 19.073,25.007 19.086,24.941 C19.100,24.876 19.119,24.812 19.145,24.750 C19.171,24.690 19.203,24.630 19.240,24.574 C19.279,24.519 19.321,24.466 19.369,24.419 C19.417,24.373 19.470,24.330 19.526,24.293 C19.583,24.256 19.643,24.225 19.705,24.199 C19.767,24.174 19.833,24.155 19.899,24.141 C20.032,24.115 20.170,24.115 20.303,24.141 C20.370,24.155 20.435,24.174 20.497,24.199 C20.559,24.225 20.619,24.256 20.676,24.293 C20.732,24.330 20.786,24.373 20.833,24.419 C20.881,24.466 20.924,24.519 20.962,24.574 C20.999,24.630 21.031,24.690 21.057,24.750 C21.083,24.812 21.102,24.876 21.116,24.941 C21.129,25.007 21.136,25.073 21.136,25.141 C21.136,25.207 21.129,25.273 21.116,25.339 C21.102,25.405 21.083,25.469 21.057,25.530 ZM19.208,29.989 C19.246,30.045 19.278,30.104 19.304,30.166 C19.329,30.227 19.349,30.291 19.363,30.356 C19.376,30.421 19.382,30.489 19.382,30.555 C19.382,30.621 19.376,30.688 19.363,30.754 C19.349,30.819 19.329,30.883 19.304,30.945 C19.278,31.006 19.246,31.065 19.208,31.120 C19.170,31.176 19.127,31.228 19.079,31.275 C18.886,31.465 18.619,31.574 18.347,31.574 C18.280,31.574 18.212,31.567 18.145,31.554 C18.079,31.541 18.014,31.522 17.952,31.496 C17.889,31.470 17.829,31.439 17.773,31.402 C17.716,31.365 17.663,31.322 17.616,31.275 C17.568,31.228 17.525,31.176 17.487,31.120 C17.450,31.065 17.418,31.006 17.392,30.945 C17.366,30.883 17.346,30.819 17.333,30.754 C17.320,30.688 17.312,30.621 17.312,30.555 C17.312,30.489 17.320,30.421 17.333,30.356 C17.346,30.291 17.366,30.227 17.392,30.166 C17.418,30.104 17.450,30.045 17.487,29.989 C17.525,29.933 17.568,29.882 17.616,29.834 C17.663,29.788 17.716,29.745 17.773,29.708 C17.829,29.672 17.889,29.640 17.952,29.614 C18.014,29.589 18.079,29.570 18.145,29.557 C18.482,29.489 18.839,29.598 19.079,29.834 C19.127,29.882 19.170,29.933 19.208,29.989 ZM32.659,26.138 C32.685,26.077 32.717,26.018 32.754,25.963 C32.792,25.907 32.835,25.855 32.883,25.808 C32.930,25.760 32.983,25.718 33.040,25.681 C33.096,25.644 33.156,25.612 33.219,25.587 C33.281,25.561 33.346,25.542 33.413,25.529 C33.546,25.502 33.684,25.502 33.817,25.529 C33.882,25.542 33.948,25.561 34.011,25.587 C34.073,25.612 34.133,25.644 34.189,25.681 C34.246,25.718 34.298,25.760 34.346,25.808 C34.394,25.855 34.437,25.907 34.476,25.963 C34.513,26.018 34.545,26.077 34.571,26.138 C34.597,26.200 34.616,26.264 34.630,26.329 C34.643,26.394 34.649,26.462 34.649,26.528 C34.649,26.594 34.643,26.661 34.630,26.727 C34.616,26.792 34.597,26.856 34.571,26.917 C34.545,26.979 34.513,27.038 34.476,27.093 C34.437,27.149 34.394,27.201 34.346,27.248 C34.298,27.295 34.246,27.338 34.189,27.375 C34.133,27.411 34.073,27.443 34.011,27.468 C33.948,27.494 33.882,27.513 33.817,27.526 C33.750,27.540 33.682,27.547 33.614,27.547 C33.547,27.547 33.479,27.540 33.413,27.526 C33.346,27.513 33.281,27.494 33.219,27.468 C33.156,27.443 33.096,27.411 33.040,27.375 C32.983,27.338 32.930,27.295 32.883,27.248 C32.835,27.201 32.792,27.149 32.754,27.093 C32.717,27.038 32.685,26.979 32.659,26.917 C32.633,26.856 32.614,26.792 32.600,26.727 C32.587,26.661 32.579,26.594 32.579,26.528 C32.579,26.462 32.587,26.394 32.600,26.329 C32.614,26.264 32.633,26.200 32.659,26.138 Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;


        @media(max-width: 767px) {
          content: none;
        }
      }
    }
  }

  .brithday__program--bay {
    position: relative;
    text-align: center;
    margin-bottom: 80px;

    @media(max-width: 767px) {
      margin-bottom: 50px;
    }

    .btn__brown {
      // padding: 20px 75px;
    }
  }

  @media (max-width: 1199px) {
    .brithday__program--add {
      p {
        margin: 20px auto;
        max-width: 470px;
        padding-left: 60px;

        &::before {
          left: 0;
        }
      }

      .btn__simple {
        margin: 20px auto;
      }
    }
  }

  @media (max-width: 768px) {
    .brithday__program--add {
      .d-flex {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .btn__simple {
        margin: 7px auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        // text-align: center;
        // padding: 0;
        font-size: 16px;
        line-height: 24px;
        margin: 10px auto;
        padding-left: 72px;

        &::before {
          // content: none;
          margin-top: -2px;
        }
      }
    }

    // .brithday__program--bay {
    //   // margin-bottom: 45px;
    //   margin-bottom: 81px;
    // }
  }

  @media (max-width: 575px) {
    h2 {
      margin-top: 45px;
    }
  }
}

.program--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;

  .card {
    width: 270px;
    height: 430px;
    border: 1px solid #f2d8c9;
    border-radius: 10px;
    background-color: white;
    margin: 15px;
    box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
  }

  .card-header {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    height: 130px;
    min-height: 130px;
    max-height: 130px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #f2d8c9;
  }

  .card-body {
    padding-top: 15px;
    padding-bottom: 10px;

    h3 {
      color: #6f4838;
      font-size: 20px;
      line-height: 26px;
      font-family: "AlegreyaSans-Bold";
      margin-bottom: 5px;
      text-align: left;
    }

    .card-text-scroll {
      // overflow-y: auto;
      // max-height: 170px;
      height: 170px;
    }

    ol {
      margin: 0;
      padding: 0;
      padding-left: 15px;

      li {
        font-size: 13px;
        line-height: 21px;
        color: #6f4838;
      }
    }
  }

  .card-footer {
    padding-top: 10px;
    background-color: transparent;
    border: none;
    text-align: center;

    >div {
      color: #6f4838;
      font-size: 20px;
      line-height: 20px;
      font-family: "Montserrat-Bold";

      small {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        line-height: 20px;
      }
    }

    span {
      color: #af9d96;
      font-size: 14px;
      line-height: 21px;
    }
  }

  @media (max-width: 1199px) {
    margin-left: -10px;
    margin-right: -10px;

    .card {
      width: 217px;
      height: 440px;
      margin: 10px;
    }


  }

  @media (max-width: 991px) {
    .card {
      width: 344px;
      height: 385px;
    }

    .card-body .card-text-scroll {
      height: 130px;
    }
  }

  @media (max-width: 767px) {
    .card {
      width: 245px;
    }
  }

  @media (max-width: 575px) {
    margin-left: -10px;
    margin-right: -10px;

    .program__card--wrap {
      width: 47%;
      margin: 5px;

      .card {
        margin: 0;
        width: 100%;
      }
    }

    .card {
      height: 400px;
      width: 45%;
      margin: 9px;
    }

    .card-body {
      padding: 10px;
      padding-bottom: 0;

      .card-text-scroll {
        height: 165px;
      }

      h3 {
        font-size: 16px;
        text-align: left;
      }

      ol {
        li {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .card-footer {
      padding: 10px;
    }
  }

  @media (max-width: 415px) {
    .card {
      width: 100%;
      height: auto;
    }

    .card-body {
      .card-text-scroll {
        height: auto;
      }
    }

    .card-header {
      .card-img-top {
        max-height: none;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.brithday__foto {
  background-image: url('../img/brth_foto.png');
  background-repeat: no-repeat;
  background-position: top left;

  h2 {
    margin-top: 65px;
  }

  .foto-slide {
    margin-top: 50px;

    .slick-slide {
      border-radius: 10px;
      height: 400px;
      border: 1px solid #f2d8c9;
      overflow: hidden;
      margin: 0 15px;

      img {
        max-height: 100%;
        width: auto;
      }
    }
  }

  .slide-foto,
  .slide-video {
    position: relative;

    >span {
      font-size: 18px;
      line-height: 26px;
      font-family: "Montserrat-Bold";
      color: white;
      padding: 30px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      em {
        position: relative;
        z-index: 1;
        font-style: normal;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(163, 93, 84, 0) 100%);
      }
    }

    .btn__play {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .insta-slide {
    margin-top: 50px;
    margin-bottom: 40px;

    .slick-slide {
      height: 240px;

      img {
        max-height: 100%;
        width: auto;
      }
    }
  }

  .wrap--btn {
    margin-bottom: 70px;
  }

  @media (max-width: 991px) {
    background-image: none;

    .insta-slide,
    .foto-slide {
      margin-top: 25px;
    }
  }

  @media (max-width: 768px) {


    .foto-slide {
      .slick-slide {
        height: 300px;
      }
    }

    .insta-slide {
      .slick-slide {
        height: 200px;
      }
    }
  }

  @media (max-width: 576px) {
    background-image: none;

    h2 {
      margin-top: 45px;
    }

    .foto-slide {
      margin-top: 30px;

      .slick-slide {
        height: 200px;
        max-width: 330px;
        margin: 0 5px;
      }
    }

    .slide-video,
    .slide-foto {
      >span {
        padding: 15px;
      }
    }

    .slide-foto>span em,
    .slide-video>span em {
      font-size: 16px;
      line-height: 18px;
    }

    .insta-slide {
      margin-bottom: 30px;

      .slick-slide {
        height: 115px;
        max-width: 115px;
      }
    }

    .wrap--btn {
      margin-bottom: 50px;

      .btn__simple {
        padding: 10px 0;
        min-width: 230px;
      }
    }

  }

}

.review {
  position: relative;
  background-color: #faf6f3;
  background-image: url('../img/brth_review.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 82px;
  z-index: 1;
  overflow: hidden;

  @media(max-width: 992px) {
    padding-bottom: 77px;
  }

  @media(max-width: 767px) {
    padding-bottom: 50px;
  }

  h2 {
    margin-top: 75px;

    @media(max-width: 992px) {
      margin-top: 69px;
      padding-bottom: 77px;
    }
  }

  .review-slide {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 25px;
    padding-bottom: 40px;

    .slick-list {

      &::before,
      &::after {
        content: none;
      }
    }

    .review__block {
      padding: 0 15px;
      outline: none;
    }

    .slick-dots {
      bottom: -30px;

      button {
        width: 21px;
        height: 21px;
        background-color: white;
        border-radius: 50%;
        border-width: thin;
        border-style: solid;
        border-color: #f2d9ca;
        // border: 1px solid #f2d9ca;

        &::before {
          content: none;
        }
      }

      .slick-active {
        button {
          background-color: #a95634;
        }
      }
    }
  }

  .review--text {
    border-radius: 10px;
    border: 1px solid #f2d8c9;
    background-color: white;
    padding: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #6f4838;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);

    &:after,
    &:before {
      top: 100%;
      left: 33px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -15px;
    }

    &:before {
      border-color: rgba(242, 216, 201, 0);
      border-top-color: #f2d8c9;
      border-width: 11px;
      margin-left: -16px;
    }
  }

  .review--author {
    .image--wrap {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      border: 1px solid #f2d8c9;
      overflow: hidden;
      margin-right: 6px;
    }

    .review--name,
    .review--icon {
      display: inline-block;
      vertical-align: middle;
    }

    .review--name {
      span {
        color: #6f4838;
        font-size: 18px;
        line-height: 21px;
        font-family: "Montserrat-SemiBold";
        display: block;
        margin-bottom: 3px;
      }

      a {
        span {
          color: #af9d96;
          font-size: 14px;
          line-height: 21px;
          text-decoration: underline;
          font-family: "Montserrat-Regular";
        }
      }
    }
  }

  .parallax-gift-a {
    position: absolute;
    left: 30px;
    bottom: 80%;
    z-index: -1;
  }

  .parallax-gift-b {
    position: absolute;
    right: 0;
    top: -350px;
    z-index: -1;
  }

  .parallax-gift-c {
    position: absolute;
    right: 20px;
    bottom: 85%;
    z-index: -1;
  }

  @media (max-width: 991px) {
    .review-slide {
      .review__block {
        padding: 0 10px;
      }
    }

    .parallax-gift-a {
      left: 0px;
    }

    .parallax-gift-c {
      width: 200px;
      bottom: 95%;
    }

  }

  @media (max-width: 576px) {

    .parallax-gift-a,
    .parallax-gift-b,
    .parallax-gift-c {
      display: none;
    }

    h2 {
      margin-top: 45px;
    }

    .review-slide {
      padding-bottom: 15px;
    }
  }
}


.review-slide {
  &__nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -32px;

    @media(max-width: 992px) {
      margin-top: -26px;
    }

    @media(max-width: 767px) {
      margin-top: -12px;
    }

    .slick-arrow {
      position: static;

      // width: 50px;
      // height: 50px;
      // border-width: 1px;
      // border-color: rgb(242, 216, 201);
      // border-style: solid;
      // border-radius: 50%;
      // background-color: rgb(255, 255, 255);
      // box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
      transform: translate(0, 0);

      &:before {
        display: none;
      }

      svg {
        width: 8px;
        height: 15px;
        fill: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .slick-prev {
      order: 1;

      svg {
        margin-left: -1px;
      }
    }

    .slick-next {
      order: 3;

      svg {
        margin-left: 1px;
      }
    }

    .slick-dots {
      position: static;
      order: 2;
      width: auto;
      display: inline-block;
      transform: translate(0, 0);
      height: auto;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0px 24px;

      @media(max-width: 767px) {
        margin: 0px 10px;
      }

      li {
        width: 20px;
        height: 20px;
        margin-top: 5px;
        margin-bottom: 5px;

        // @media(max-width: 767px) {
        //   width: 14px;
        //   height: 14px;
        // }

        &.slick-active {
          button {
            background-color: #a95634;
          }
        }

        button {
          width: 100%;
          height: 100%;
          padding: 0px;
          border-radius: 100%;
          background-color: #fff;
          border: 1px solid #f3dcce;

          &:before {
            display: none;
          }
        }
      }
    }

    .slick-next,
    .slick-prev {
      padding: 0;
      cursor: pointer;
      display: block;
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 1px solid #f2d8c9;
      background-color: white;
      box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
      transition: $transmition;
      z-index: 2;

      &:hover {
        border: 1px solid #ab5938;
      }

      &:focus {
        outline: none;
      }

      svg {
        width: 10px;
        height: 16px;
        fill: rgb(169, 86, 52);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      // @media (max-width: 575px) {
      //   width: 36px;
      //   height: 36px;

      //   svg {
      //     top: 11px;
      //     width: 8px;
      //     height: 12px;
      //   }
      // }

    }
  }

}