.contact__map {
  h1 {
    margin-top: 9px;
    margin-bottom: 27px;

    @media(max-width: 992px) {
      margin-top: -11px;
      margin-bottom: 29px;
    }

  }

  h2 {
    margin-top: 65px;
    margin-bottom: 26px;
  }

  h4 {
    color: #6f4838;
    font-size: 24px;
    line-height: 34px;
    font-family: "Montserrat-SemiBold";
  }

  .contact--map {
    border: 1px solid #f2d8c9;
    border-radius: 20px;
    overflow: hidden;
    max-height: 450px;
    // margin-top: 10px;
  }

  .contact--map {
    width: 100%;
    height: 100%;

    >div {
      width: 100%;
      height: 100%;
    }
  }

  .contact--info {
    margin-top: -10px;

    >div {
      position: relative;
      padding-left: 35px;
      margin: 25px 0;

      p {
        margin: 0;
      }

      &.contact--navi {
        margin: 0;
      }
    }
  }

  .contact--phone {
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url('../img/icon/phone.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    a {
      display: block;
      font-size: 18px;
      line-height: 32px;
      color: #6f4838;
      font-family: "Montserrat-Medium";
    }
  }

  .contact--time {
    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url('../img/icon/time.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    span {
      font-size: 14px;
      line-height: 24px;
      color: #af9d96;
      font-family: "Montserrat-Medium";
    }

    p {
      font-style: 18px;
      line-height: 24px;
      color: #6f4838;
      font-family: "Montserrat-Medium";
    }
  }

  .contact--help {
    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url('../img/icon/map.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    span {
      font-size: 14px;
      line-height: 24px;
      color: #af9d96;
      font-family: "Montserrat-Medium";
    }

    p {
      font-style: 18px;
      line-height: 26px;
      color: #6f4838;
      font-family: "Montserrat-Medium";
    }
  }

  .contact--navi {
    position: relative;
    top: 3px;

    a {
      font-style: 18px;
      line-height: 24px;
      color: #6f4838;
      text-decoration: underline;
      font-family: "Montserrat-Medium";
      letter-spacing: 1.1px;

      &:hover {
        color: #a95634;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 991px) {
    .order-first {
      order: 0;
    }

    .contact--map {
      // margin-top: 40px;
      height: 385px;
    }

    h4 {
      text-align: center;
    }

    .contact--map {
      margin-top: 40px;
    }


  }

  @media(max-width: 767px) {
    padding-bottom: 25px;
  }

  @media (max-width: 575px) {
    // padding-bottom: 50px;

    h1 {
      margin-bottom: 28px;
    }

    h4 {
      font-size: 22px;
      line-height: 30px;
    }

    h2 {
      margin-top: 45px;
    }

    .contact--info>div {
      margin: 15px 0;
    }

    .contact--help p {
      font-size: 18px;
    }

    .contact--map {
      height: 320px;
      margin-bottom: 0px;
    }
  }
}

.social--block {
  margin-bottom: 79px;

  @media(max-width: 992px) {
    margin-bottom: 60px;
  }

  h3 {
    margin-bottom: 18px;

    @media(max-width: 992px) {
      margin-bottom: 18px;
      margin-top: 12px;
    }

    @media(max-width: 767px) {
      font-size: 24px;
      margin-bottom: 21px;
      margin-top: -2px;
    }
  }

  .social__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >div {
      display: block;
      position: relative;
      width: 270px;
      height: 270px;
      border-radius: 10px;
      margin: 0px;
      box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
      overflow: hidden;
      background-color: #6f4838;

      @media(max-width: 1200px) {
        margin-bottom: 20px;
      }

      @media(max-width: 992px) and (min-width: 421px) {
        &:nth-child(2n -1) {
          margin-right: 20px;
        }
      }

      img {
        opacity: 0.15;
        max-width: 100%;
        width: 100%;

        @supports(object-fit: cover) {
          object-fit: cover;
          object-position: center;
          height: 100%;
        }
      }
    }

    .social__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .social__content--icon {
        width: 70px;
        height: 70px;
        display: block;
        border-radius: 100%;

        svg {
          fill: white;
          width: 100%;
          height: 100%;
        }
      }

      .social__content--text {
        font-size: 20px;
        line-height: 28px;
        color: white;
        font-family: "Montserrat-SemiBold";
      }
    }
  }

  @media (max-width: 1199px) {
    .social__wrap {
      flex-wrap: wrap;
      justify-content: space-around;

      >div {
        width: 345px;
        // flex: 50%;
      }
    }
  }

  @media (max-width: 991px) {
    .social__wrap {
      justify-content: center;
    }

    .social__wrap {
      margin-left: -10px;
      margin-right: -10px;

      >div {
        // width: 100%;
        width: calc(50% - 20px);
      }
    }
  }

  @media (max-width: 767px) {
    h3 {
      line-height: normal;
    }

    .social__wrap {
      >div {
        // width: 100%;
        height: 245px;
      }
    }

    .social__wrap {
      margin: 0 -10px;

      .social__content {
        .social__content--icon {
          width: 50px;
          height: 50px;
        }

        .social__content--text {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  @media (max-width: 575px) {
    margin-bottom: 0;

    .social__wrap {
      >div {
        height: 200px;
      }
    }
  }

  @media (max-width: 415px) {
    .social__wrap {
      >div {
        width: 100%;
        height: 200px;
      }
    }
  }

}

.contact__gift {
  background-color: #f8f0e9;
  background-image: url('../img/contact_gift.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 30px;

  h2 {
    margin-top: 70px;
    margin-bottom: 20px;

  }

  .image--wrap {
    margin-top: 20px;
    margin-bottom: 60px;

    img {
      width: 100%;
    }
  }

  p {
    margin-bottom: 35px;

    @media(max-width: 992px) and (min-width: 767px) {
      padding: 0px 5%;
    }
  }

  .btn__simple {
    margin: 0 0 50px;
    font-size: 16px;
    font-family: 'Montserrat-SemiBold';

    @media(max-width: 480px) {
      min-width: 260px;
    }
  }

  @media (max-width: 1199px) {
    .image--wrap {
      position: relative;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 991px) {
    background-size: cover;
    background-position: center;
    text-align: center;

    .btn__simple {
      margin-bottom: 40px;
    }

    .image--wrap {
      max-width: 600px;
      margin: 0 auto 50px;
      top: auto;
      transform: none;

    }

  }

  @media (max-width: 575px) {
    padding-bottom: 45px;

    h2 {
      margin-top: 50px;
    }

    p {
      margin-bottom: 30px;
    }

    .btn__simple {
      margin: 0 0 30px;
    }

    .image--wrap {
      margin: 0 auto;
    }
  }
}