.dobro {
  position: relative;
  background-color: #f8f0e9;
  background-image: url('../img/dobro_bg.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  min-height: 300px;
  overflow: hidden;
  z-index: 1;

  @media(max-width: 992px) and (min-width: 767px) {
    padding: 0px 30px;
  }

  .parallax-right {
    right: 20px;
    bottom: 20%;

    @media (max-width: 992px) {
      right: -20px;
      bottom: 50%;
    }

  }

  .parallax-left {
    left: 10px;
    top: -100%;

    @media (max-width: 1440px) {
      left: -15%;
      filter: blur(2px);
    }

    @media (max-width: 992px) {
      top: 0;
    }
  }

  h1 {
    margin-top: 70px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 25px;

    @media(max-width: 992px) {
      text-align: center;
    }
  }

  .image--wrap {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (max-width: 992px) {
    background-size: cover;

    .image--wrap {
      position: relative;
      display: block;
      margin: 0 auto;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 576px) {
    h1 {
      margin-top: 50px;
    }

    p {
      text-align: center;
    }

    .image--wrap {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.events {
  position: relative;
  margin-bottom: 40px;

  h3 {
    font-size: 32px;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 35px;



    &:first-child {
      margin-top: 75px;
    }
  }

  .event__block {
    display: flex;
    justify-content: center;

    @media(max-width: 992px) {
      justify-content: space-between;
    }

    >div {
      width: 260px;
      margin: 0 15px;

      img {
        height: 92px;
      }

      p {
        margin: 15px 0;
        font-size: 16px;
        line-height: 24px;
        color: #6f4838;
      }
    }

    &-square {
      >div {
        width: 370px;
        background-color: white;
        border: 1px solid #f2d8c9;
        border-radius: 10px;
        padding: 40px 23px;
        box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);

        p {
          margin: 0;
        }
      }
    }

    &-text {
      p {
        max-width: 870px;
      }
    }

    h4 {
      font-size: 24px;
      line-height: 45px;
      font-family: "AlegreyaSans-Bold";
      color: #6f4838;
      margin: 0;
      margin-top: 10px;
    }
  }

  @media (max-width: 768px) {
    .event__block-square {
      margin: 0 -5px;

      >div {
        padding: 40px 10px;
        margin: 0 10px;
      }
    }
  }

  @media (max-width: 576px) {
    h3 {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 25px;

      &.mb-mobile {
        margin-bottom: 13px;

      }

      &:first-child {
        margin-top: 50px;
      }
    }

    .event__block {
      >div {
        width: 50%;
        margin: 0 10px;

        p {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &.event__block-square {
        flex-wrap: wrap;

        >div {
          width: 100%;
          margin: 10px;
        }
      }
    }
  }

  @media (max-width: 415px) {
    .event__block {
      flex-wrap: wrap;

      >div {
        width: 100%;
      }
    }
  }

}


.event__block-text {
  @media(max-width: 992px) {
    >p {
      >br {
        display: none;
      }
    }
  }
}