.additions {
  margin-bottom: 80px;

  .table-responsive {
    overflow-y: hidden;
  }

  h1 {
    margin-top: 9px;
    margin-bottom: 7px;

    @media(max-width: 992px) {
      margin-top: -11px;
    }
  }

  table {
    margin-top: 40px;
    min-width: 100%;
  }

  thead {
    th {
      text-align: center;
      // padding: 28px 15px;
      padding: 23px 15px;
      background-color: #f2d8c9;
      border: none;
      color: #8f7e78;
      font-weight: 100;
      vertical-align: middle;

      &:first-child {
        border-top-left-radius: 10px;
        min-width: 270px;
      }

      &:nth-child(2) {
        min-width: 200px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        min-width: 300px;
      }
    }
  }

  tbody {
    border-left: 2px solid #f2d8c9;

    td {
      padding: 23px 25px;
      border: 1px solid #f2d8c9;
      background-color: white;
      color: #6f4838;
      text-align: center;
      vertical-align: middle;
      line-height: 26px;

      &:first-child {
        font-family: "Montserrat-SemiBold";
      }

      &:nth-child(2) {
        padding: 26px 10px;

        span {
          display: block;
          font-size: 14px;
          line-height: 22px;
        }
      }

      em {
        font-weight: bold;
        font-style: normal;
        padding-right: 5px;
      }

      &:last-child {
        text-align: left;
      }
    }
  }

  @media (max-width: 575px) {
    margin-bottom: 40px;

    tbody {
      font-size: 14px;

      td:nth-child(2) {
        span {
          font-size: 12px;
        }
      }
    }

    thead {
      th:first-child {
        min-width: 150px;
      }
    }
  }
}