.exkursii {
  position: relative;
  background-color: #f8f0e9;
  background-image: url('../img/exkursion.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  min-height: 300px;
  overflow: hidden;
  z-index: 1;

  @media(max-width: 767px) {
    margin-top: -21px;
  }

  h1 {
    margin-top: 70px;
    margin-bottom: 20px;

    @media(max-width: 992px) {
      margin-top: 69px;
      margin-bottom: 21px;
    }

    @media(max-width: 576px) {
      // margin-top: 45px;
      // margin-bottom: 18px;
    }
  }

  p {
    margin-bottom: 32px;

    @media(max-width: 992px) and (min-width: 767px) {
      padding: 0px 4%;
    }

    @media(max-width: 767px) {
      text-align: center;
    }
  }

  .wrap--btn {
    text-align: left;
    margin-bottom: 80px;

    @media(max-width: 768px) {
      margin-bottom: 59px;
    }
  }

  .image--wrap {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .parallax-left {
    left: 25px;
    bottom: 200px;

  }

  .parallax-right {
    right: 15px;
    bottom: -50px;
  }



  @media (max-width: 991px) {
    background-size: cover;

    .wrap--btn {
      text-align: center;
    }

    .image--wrap {
      max-width: 420px;
      margin: 0 auto;
      position: relative;
      text-align: center;
    }

  }

  @media (max-width: 575px) {
    h1 {
      // margin-top: 40px;
      margin-top: 45px;
      margin-bottom: 18px;
    }

    p {
      margin-bottom: 23px;
    }

    .wrap--btn {
      margin-bottom: 32px;
    }

    .image--wrap {
      max-width: 275px;

      img {
        max-width: 100%;
      }
    }
  }
}

.brithday__program {
  &--exkursii {
    .wrap--btn {
      text-align: left;
    }

    @media (max-width: 767px) {
      .wrap--btn {
        text-align: center;
      }
    }
  }
}