footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 22px;
  background-color: #6f4838;

  @media(max-width: 992px) {
    padding-bottom: 36px;
  }

  @media(max-width: 767px) {
    padding-bottom: 40px;
  }

  .footer__logo--wrap {
    div {
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  .footer__logo-desc {
    font-size: 12px;
    line-height: 1;
    color: #c49784;
  }

  .footer__social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    display: flex;

    li {
      position: relative;
      display: inline-block;
      width: 29px;
      height: 29px;
      margin: 0 5px;
      border-radius: 100%;
      overflow: hidden;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }

      svg {
        fill: #bb9448;
        fill-rule: evenodd;
        width: 100%;
        height: 100%;
        transition: $transmition;
      }

      &:hover {
        svg {
          fill: #e9b145;
        }
      }
    }

  }

  .footer__menu {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 70px;
    // margin-top: -10px;
    list-style-type: none;
    column-count: 3;

    li {
      display: block;
      margin: 10px auto;

      &:first-child {
        margin-top: 0px;
      }
    }

    a {
      text-decoration: none;
      color: #faf6f3;
      font-size: 16px;
      transition: 0.3s;
      opacity: 0.7;

      span {
        border-bottom: 1px solid transparent;
        transition: $transmition;
      }

      &:hover {
        opacity: 1;

        span {
          border-color: white;
        }
      }
    }
  }

  .footer__phone {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -15px;
      background: url('../img/phone.png') no-repeat center;
      width: 25px;
      height: 25px;
    }

    li {
      a {
        text-decoration: none;
        color: #faf6f3;
        font-size: 18px;
        line-height: 30px;
        font-family: "Montserrat-Medium";
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f8f0e9;
    overflow: auto;
    padding-top: 90px;
    animation-name: menu-fixed;
    animation-duration: 0.5s;
    z-index: 11;

    .close__menu {
      position: absolute;
      top: 30px;
      right: 30px;
      display: inline-block;
      width: 70px;
      height: 70px;
      border: 1px solid #f2d8c9;
      border-radius: 100%;
      text-align: center;
      z-index: 11;

      svg {
        width: 26px;
        height: 26px;
        fill: #a95735;
        margin-top: 20px;
      }
    }

    .footer__menu {
      margin: 0 auto;
      column-count: 1;
      text-align: center;

      li {
        margin: 35px 0;
      }

      a {
        color: #6f4838;
        font-family: "Montserrat-SemiBold";
        font-size: 32px;
        line-height: 21px;
        opacity: 1;

        span {
          border: none;
        }
      }
    }

    @media (max-width: 575px) {
      padding-top: 90px;

      .close__menu {
        width: 50px;
        height: 50px;

        svg {
          width: 18px;
          height: 18px;
          margin-top: 15px;
        }
      }
    }

    @media (max-width: 415px) {
      .footer__menu a {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }



  @media (max-width: 1200px) {
    .footer__phone {
      &::before {
        left: -30px;
      }

      li {
        display: block;

        a {
          white-space: nowrap;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .footer__logo--wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      >div {
        margin: 0 10px;

        div {
          margin: 0px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .footer__social {
      margin-top: 0px;
    }

    .footer__logo-desc {
      display: none;
    }

    .footer__menu {
      padding: 0;
      margin: 40px 0;
    }

    .footer__phone--wrap {
      text-align: center;
    }

    .footer__phone {
      display: inline-block;
      text-align: left;
      padding-left: 25px;

      &::before {
        top: 0;
        left: 0;
      }

      li {
        display: inline-block;
        padding-left: 15px;
      }
    }
  }

  @media (max-width: 767px) {
    .footer__menu {
      column-count: 2;
      column-gap: 0;
    }
  }

  @media (max-width: 576px) {
    .footer__menu {
      a {
        font-size: 14px;
      }
    }


  }
}