.foto__video {
  background-image: none;

  .gallery__wrap {
    margin-bottom: 16px;
    // column-count: 4;
    // column-gap: 15px;
    // column-fill: balance;

    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;
    lost-utility: clearfix;
    margin-top: 6px;

    @media(max-width: 767px) {
      margin-top: -4px;
    }


    .gallery--item {
      position: relative;
      border: 1px solid #f2d8c9;
      margin: 15px 0px;
      height: 270px;
      border-radius: 10px;
      overflow: hidden;
      transition: $transmition;

      margin: 0px;
      margin-bottom: 30px;
      lost-column: 1/4 4 30px;

      @media(max-width: 992px) {
        lost-column: 1/3 3 20px;
        margin-bottom: 20px;
      }

      @media(max-width: 767px) {
        lost-column: 1/2 2 20px;
        margin-bottom: 20px;
        max-width: 100%;
      }

      @media(max-width: 420px) {
        lost-column: 1/1 1 0px;
        margin-bottom: 20px;
        max-width: 100% !important;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 58%, rgba(0, 0, 0, 1) 70%);
        opacity: 0;
        visibility: hidden;
        transition: $transmition;
        z-index: 0;
      }

      &:hover {
        &::after {
          opacity: 0.6;
          visibility: visible;
        }

        .image--plus {
          opacity: 1;
          visibility: visible;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      img {
        position: absolute;
        // max-height: 100%;
        // height: 100%;
        // width: auto;

        width: 100%;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);

        @supports(object-fit: cover) {
          object-fit: cover;
          object-position: center;
          height: 100%;
        }
      }

      .image--plus {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        transition: $transmition;
        z-index: 1;

        svg {
          width: 100%;
          height: 100%;
          fill: white;
        }
      }

      &.item__video {
        .image--plus {
          opacity: 1;
          visibility: visible;
          width: 120px;
          height: 120px;

          svg {
            width: 32px;
            height: 42px;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .gallery__wrap {
      .gallery--item {
        height: 222px;
      }
    }
  }

  @media (max-width: 991px) {
    .gallery__wrap {
      // column-count: 3;
    }
  }

  @media (max-width: 767px) {
    .gallery__wrap {
      // column-count: 2;
      // margin-bottom: 10px;

      .gallery--item {
        height: 200px;
      }
    }
  }

  @media (max-width: 575px) {
    .gallery__wrap {
      // column-count: 2;

      .gallery--item {
        height: 200px;

        .image--plus {
          width: 50px;
          height: 50px;
        }

        &.item__video {
          .image--plus {
            width: 70px;
            height: 70px;

            svg {
              width: 19px;
              height: 27px;
              top: calc(50% - 13px);
            }
          }
        }
      }
    }
  }

  @media (max-width: 415px) {
    .gallery__wrap {
      // column-count: 1;

      .gallery--item {
        max-width: 280px;
        display: block;
        margin: 15px auto;
      }

    }
  }

}


// FotoVideo
.brithday__foto.fotovideo-bg-brown {
  background-color: #f8f0e9;
}

.brithday__foto.foto__video {
  h1 {
    margin-top: 10px;

    @media(max-width: 992px) {
      margin-top: -10px;
    }

    @media(max-width: 767px) {
      margin-top: -24px;
    }
  }

  .foto-slide {
    margin-top: 46px;

    @media(max-width: 992px) {
      margin-top: 27px;
    }

    @media(max-width: 767px) {
      margin-top: 23px;
    }
  }
}


// .foto-slide {
//   .slide-foto {
//     >img {}
//   }
// }

// .brithday__foto .foto-slide .slick-slide img {
//   // width: 750px;

// }