.home__banner {
  position: relative;
  background-image: url('../img/home_top_bg.png'), url('../img/party.png');
  background-position: center bottom, 11% 230%;
  background-repeat: no-repeat;
  background-color: #feece1;

  h1 {
    font-size: 62px;
    line-height: 60px;
    font-family: "AlegreyaSans-Bold";
    color: #6f4838;
  }

  p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 28px;
    color: #6f4838;
  }

  .btn__brown {
    margin-top: 40px;
    padding: 21px 70px 20px;
  }

  .image--wrap {
    margin-left: -20px;
  }

  .banner--image {
    align-self: center;
  }

  .banner--text {
    margin-top: 130px;
  }

  .banner--text {
    position: relative;
    z-index: 1;
  }

  .parallax-a {
    bottom: 60%;
    right: 20px;
    z-index: 0;

    @media (max-width: 1440px) {
      right: 0;
    }
  }

  @media (max-width: 1199px) {
    .banner--text {
      margin-top: 80px;
    }
  }

  @media (max-width: 991px) {
    background-position: center top;
    background-size: cover;
    max-height: 1125px;
    padding-top: 150px;

    .order-first {
      order: 0;
    }

    .banner--text {
      text-align: center;
      align-self: center;
      margin-top: 10px;
    }

    h1 {
      margin: 0 auto;
      margin-top: 50px;
      max-width: 85%;
    }

    .image--wrap {
      margin: 0 auto;
      margin-top: 30px;
      text-align: center;
      max-width: 550px;

      img {
        max-width: 100%;
      }
    }

    .btn__brown {
      min-width: 470px;
    }
  }

  @media (max-width: 767px) {
    h1 {
      max-width: 100%;
    }

    .play__link {
      display: none;
    }

    .btn__brown {
      margin-top: 20px;
      min-width: initial;

    }

  }

  @media (max-width: 576px) {
    background-image: url('../img/home_top_bg.png');
    background-position: center bottom;
    padding-top: 95px;
    max-height: 800px;

    h1 {
      margin-top: 20px;
      font-size: 48px;
      line-height: 48px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 15px 0;
    }

    .image--wrap {
      max-width: 100%;
    }

    .parallax {
      display: none;
    }
  }

  @media (max-width: 415px) {
    .btn__brown {
      padding: 16px 0 15px;
      display: block;
    }

  }
}

.contact__home {
  padding-bottom: 80px;

  @media (max-width: 991px) {
    .order-first {
      order: 0;
    }

    h4 {
      text-align: center;
    }

    .contact--info {
      margin-bottom: 40px;
    }

    .contact--map {
      height: 380px;
    }
  }
}

.home__slider {
  position: relative;
  background-image: url('../img/home-slider-bg.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-top: -95px;
  z-index: 1;

  @media (max-width: 1199px) {
    margin-top: -5px;
  }

  .parallax-slider {
    position: absolute;
    top: -250px;
    left: 0;
    z-index: -1;

    @media (max-width: 576px) {
      display: none;
    }
  }

  @media (max-width: 1440px) {
    .parallax-slider {
      left: -100px;
    }
  }

  .service__list {
    position: relative;
    margin: 0;

    @media (max-width: 1200px) {
      margin-left: -15px;
      margin-right: -15px;
      top: -95px;
    }
  }

  @media (max-width: 767px) {
    background-size: cover;
  }


}

.home__slider--wrap {
  margin-top: 20px;

  h2 {
    color: white;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 20px;
    font-family: "AlegreyaSans-Bold";
    text-shadow: 0px 4px 4px rgba(38, 20, 12, 0.5);
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-family: "Montserrat-Medium";
  }

  .slider--text {
    align-self: center;
    padding-left: 60px;
  }

  .slider--image {
    align-self: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .slick-list {

    &::before,
    &::after {
      content: none;
    }
  }

  @media (max-width: 1199px) {

    margin-top: 0px;

    .slider--text {
      padding-left: 50px;
    }
  }

  @media (max-width: 991px) {
    margin-top: -30px;
    margin-bottom: 80px;

    h2 {
      margin-bottom: 25px;
    }

    .slider--image {
      display: none;
    }

    .slider--text {
      padding: 0 125px;
      text-align: center;
    }

    .btn__brown {
      font-size: 16px
    }
  }

  @media (max-width: 576px) {
    margin-top: -50px;
    margin-bottom: 50px;

    .slider--text {
      padding: 0 40px;
    }

    h2 {
      font-size: 36px;
      line-height: 40px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.home__joy {
  position: relative;
  background-color: #f8f0e9;
  background-image: url('../img/home_joy.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;

  .parallax-joy-a {
    position: absolute;
    bottom: 65%;
    right: 5%;
    z-index: -1;
  }

  .parallax-joy-b {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: -1;
  }

  h2 {
    margin-top: 150px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 30px;
  }

  .joy__title {
    color: #6f4838;
  }

  .image--wrap {
    position: absolute;
    bottom: 0;
  }

  .card--wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;

    >div {
      width: 250px;
      text-align: center;
      padding: 15px;

      img {
        height: 90px;
        width: auto;
        max-height: 100%;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: #6f4838;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 1440px) {
    .parallax-joy-a {
      right: -10px;
    }

    .parallax-joy-b {
      left: -70px;
    }
  }

  @media (max-width: 1199px) {
    h2 {
      margin-top: 70px;
    }
  }

  @media (max-width: 991px) {
    max-height: 1185px;
    background-position: center;
    background-size: cover;

    .block--text {
      text-align: center;
    }

    h2 {
      margin-top: 130px;
    }

    .block--image {
      .image--wrap {
        margin: 0 auto;
        max-width: 415px;

        img {
          max-width: 100%;
        }
      }
    }

    .card--wrap {
      margin-bottom: 0;

      >div {
        width: 300px;
      }
    }

    .image--wrap {
      position: relative;
    }
  }

  @media (max-width: 767px) {
    h2 {
      margin-top: 60px;
    }

    .card--wrap>div {
      width: 50%;
    }
  }

  @media (max-width: 576px) {
    .joy__title {
      padding: 0 50px;
      margin-bottom: 10px;
    }

    .card--wrap>div {
      width: 50%;

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .block--image .image--wrap {
      max-width: 100%;
      height: 375px;
    }

    .parallax-joy-a,
    .parallax-joy-b {
      display: none;
    }

    h2 {
      margin-top: 45px;
    }

    p {
      margin-bottom: 25px;
    }
  }
}

.calculator {
  margin-bottom: 80px;

  h2 {
    margin-top: 70px;
  }

  .tab-panel {
    display: none;

    &.active {
      display: block;
    }
  }

  input[type='radio'] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  .program__type {
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .program--type {
    display: block;
    border: 1px solid #f2d8c9;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;


    input:checked {
      +.btn__radio {
        background-color: #a95634;
        color: white;
      }
    }

    .btn__radio {
      padding: 17px 35px 19px;
      border-radius: 40px;
      cursor: pointer;
      margin: 0;
      color: #6f4838;
      font-family: "Montserrat-Medium";
      transition: $transmition;

      &:hover {
        color: #a95634;
      }
    }
  }

  .program__price--wrap {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .program__card--wrap {
    position: relative;
    outline: none;

    .card--check:checked+.card {
      border-color: #a95634;

      .card-header {
        border-bottom-color: #a95634;
      }
    }
  }

  .card {
    overflow: hidden;
    cursor: pointer;
    transition: $transmition;

    .card-header {
      border-bottom-color: #f2d8c9;
      transition: $transmition;
    }
  }

  .program--additional {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 25px;
    // max-height: 200px;

    .slick-track {
      padding: 18px 0;
    }

    .slide-prev {
      left: -15px;
    }

    .slide-next {
      right: -15px;
    }

    .card {
      min-height: 155px;
      cursor: pointer;
      margin: 0 15px;
      border-radius: 10px;
      border-color: #f2d8c9;
      padding: 15px 20px;
      box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);

      @media (max-width: 1200px) {
        min-height: 200px;
      }

      &.selected {
        border-color: #a95634;
      }

      h3 {
        font-size: 20px;
        line-height: 24px;
        color: #6f4838;
        font-family: "AlegreyaSans-Bold";
      }

      .add--time {
        padding-left: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #af9d96;
        position: relative;
        font-weight: 100;

        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 15px;
          height: 15px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(111, 72, 56)' d='M7.000,13.999 C3.140,13.999 -0.000,10.859 -0.000,6.999 C-0.000,3.139 3.140,-0.001 7.000,-0.001 C10.860,-0.001 14.000,3.139 14.000,6.999 C14.000,10.859 10.860,13.999 7.000,13.999 ZM7.000,1.166 C3.783,1.166 1.167,3.782 1.167,6.999 C1.167,10.215 3.783,12.832 7.000,12.832 C10.216,12.832 12.833,10.215 12.833,6.999 C12.833,3.782 10.216,1.166 7.000,1.166 ZM9.625,7.582 L7.000,7.582 C6.678,7.582 6.417,7.321 6.417,6.999 L6.417,2.916 C6.417,2.593 6.678,2.332 7.000,2.332 C7.322,2.332 7.583,2.593 7.583,2.916 L7.583,6.416 L9.625,6.416 C9.947,6.416 10.208,6.677 10.208,6.999 C10.208,7.321 9.947,7.582 9.625,7.582 Z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .add--price {
        margin-top: 25px;
        font-size: 20px;
        line-height: 21px;
        color: #6f4838;
        font-family: "Montserrat-Bold";

        span {
          font-size: 16px;
          color: #6f4838;
          font-family: "Montserrat-Regular";
        }
      }

      .add--text {
        font-size: 14px;
        line-height: 21px;
        color: #af9d96;
        display: block;
      }
    }
  }

  .calc__section-name {
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    line-height: normal;
    color: #6f4838;
  }

  .program--total {
    padding: 15px 35px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #f2d8c9;
    box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: space-around;

      .btn__brown {
        margin-top: 20px;
      }
    }

    em {
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      color: #af9d96;
      display: block;
      margin-bottom: 20px;
    }

    input[type='tel'] {
      color: #6f4838;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #af9d96;
      background: none;
      display: block;
      margin-top: -10px;
      padding-bottom: 5px;
      max-width: 200px;
      -webkit-appearance: none;

      &::placeholder {
        color: #6f4838;
      }
    }
  }

  .program--kids {
    position: relative;

    output {
      position: absolute;
      left: 0;
      bottom: 20px;
      font-size: 16px;
      line-height: normal;
      color: #6f4838;
      font-family: "Montserrat-Medium";
    }

    input[type=range] {
      margin-top: 10px;
    }
  }

  .program--summa {
    font-size: 24px;
    line-height: 21px;
    color: #6f4838;
    font-family: "Montserrat-Bold";
    margin-top: -5px;
  }

  .program--type--mobile {
    display: none
  }

  .wrap--btn {
    text-align: right;
  }

  @media (max-width: 1199px) {
    .program--type {
      height: 0;
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    .program--additional {
      margin: auto -10px;
    }

    .program--type--mobile {
      display: block;
    }

    .program--type--mobile {
      button {
        cursor: pointer;
        display: inline-block;
        max-width: 420px;
        min-width: 350px;
        text-align: left;
        padding: 16px 60px 16px 30px;
        border: 1px solid #f2d8c9;
        background-color: white;
        border-radius: 40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='8px'%3E%3Cpath fill-rule='evenodd' fill='rgb(169, 86, 52)' d='M14.996,0.608 C14.996,0.449 14.935,0.292 14.812,0.170 C14.567,-0.071 14.170,-0.071 13.925,0.170 L7.493,6.509 L1.061,0.170 C0.815,-0.071 0.418,-0.071 0.173,0.170 C-0.071,0.412 -0.071,0.803 0.173,1.045 L7.049,7.821 C7.167,7.937 7.326,8.003 7.493,8.003 C7.659,8.003 7.819,7.937 7.936,7.821 L14.812,1.045 C14.935,0.924 14.996,0.766 14.996,0.608 Z'/%3E%3C/svg%3E");
        background-position: 95% center;
        background-repeat: no-repeat;
      }
    }

    .program--additional .card {
      margin: 0 10px;
    }
  }

  @media (max-width: 991px) {
    .program__card--wrap {

      // width: 50%;
      label {
        // width: 100%;
      }
    }

    .program--additional {
      margin-bottom: 30px;

      .card {
        margin: 0 10px;

        h3 {
          text-align: left;
        }
      }
    }

    .program--total {
      justify-content: space-between;

      div {
        margin: 10px 0;
      }

      input[type="tel"] {
        margin: 0;
      }

      .btn__brown {
        margin-top: 10px;
      }
    }

    // .program--kids output {
    //   bottom: 30px;
    // }
  }

  @media (max-width: 767px) {
    .program--type--mobile {
      button {
        // padding: 16px 50px 16px 30px;
      }
    }

    .a__link {
      font-size: 14px;
    }

    .program--button,
    .program--kids {
      display: block;
      width: 100%;
    }

    .program--button {
      text-align: center;

      .btn__brown {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 575px) {
    margin-bottom: 45px;

    h2 {
      margin-top: 45px;
    }

    .program__type--wrap {
      width: 100%;
    }

    .program__price--wrap {
      display: none;
    }

    .program--type--mobile {
      text-align: center;

      button {
        min-width: initial;
        width: 100%;
      }
    }

    .calc__section-name {
      margin-top: 18px;
    }

    .card-footer {
      padding: 10px;
    }

    .program--additional {
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 10px;

      .slide-prev {
        left: -10px;
      }

      .slide-next {
        right: -10px;
      }

      .card {
        min-height: 150px;
        margin: 0 5px;

        h3 {
          font-size: 16px;
          line-height: 18px;
          font-weight: 100;
        }

        .add--text {
          display: none;
        }
      }
    }

    .program--total {
      padding: 15px;

      em {
        margin-bottom: 5px;
      }

      >div {
        width: 50%;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin: 0;
        }

        &.program--kids,
        &.program--button {
          width: 100%;
        }
      }

      input[type="tel"] {
        width: 100%;
      }
    }
  }

  @media (max-width: 415px) {
    .program__card--wrap {
      width: 100%;
    }

    .program--additional {
      .program__card--wrap {
        width: auto;
        margin: 0 10px;

        .card {
          margin: 0;
        }
      }
    }

    .program--type--mobile {
      button {
        font-size: 12px;
      }
    }

    .program--total {
      >div {
        width: 100%;
      }
    }

    .program--kids input[type="range"] {
      min-width: initial;
    }

    .program--cards {
      .program__card--wrap {
        margin: 10px;
      }

      .card {
        margin: 0;
      }

    }
  }
}