.menu__item {
    background: #faf6f3 url("../img/exkursion.png") top left no-repeat;
    background-size: contain;
    padding: 70px 0px;
    overflow: hidden;
    position: relative;


    .parallax {
        position: absolute;
        z-index: 1;
        display: block !important;

        @media(max-width: 1200px) {
            width: 15%;
        }

        @media(max-width: 768px) {
            width: 20%;
        }

        @media(max-width: 480px) {
            width: 25%;
        }


        &-left {
            left: 10px;
        }

        &-right {
            right: 10px;
        }

        &--party {
            top: -100px;

            @media(max-width: 1024px) {
                top: -50px;
            }
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }


    @media(max-width: 768px) {
        padding-top: 69px;
        padding-bottom: 20px;
    }

    @media(max-width: 576px) {
        padding-top: 45px;
    }

    &.--brown {
        background: #f8f0e9 url("../img/menu-bg.png") top left no-repeat;

        .menu__item-img {
            order: 2;
        }

        .menu__item-info {
            order: 1;
        }
    }

    .menu__item-img {
        order: 1;

        @media(max-width: 992px) {
            order: 2;
        }
    }

    .menu__item-info {
        order: 2;

        @media(max-width: 992px) {
            order: 1;
        }
    }

    &--img-end {
        padding-top: 0px;
        padding-bottom: 0px;

        .menu__item-img {
            align-self: flex-end;

            i {
                height: 430px;
                display: block;
                width: 100%;
                overflow: hidden;

                @media(max-width: 992px) and (min-width: 769px) {
                    // height: 400px;
                }

                @media(max-width: 576px) {
                    height: 320px;
                }

                img {
                    width: 80%;

                    @media(max-width: 992px) and (min-width: 769px) {
                        width: 70%;
                    }
                }
            }
        }

        .menu__item-info {
            padding-top: 50px;
            padding-bottom: 50px;

            @media(max-width: 768px) {
                padding-bottom: 6px;
            }
        }
    }

    &--br-mobile {
        .menu__item-info {
            ul {
                li {
                    span {
                        br {
                            display: none;
                        }

                        @media(max-width: 768px) {
                            >br {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    &-img {
        @media(max-width: 992px) {
            img {
                margin-top: 35px;
            }
        }
    }

    // .br-mobile {
    //     display: none;

    //     @media(max-width: 576px) {
    //         display: inline-block;
    //     }
    // }

    h2 {
        margin-bottom: 10px;

        @media(max-width: 768px) {
            margin-bottom: 15px;
        }

        @media(max-width: 576px) {
            margin-bottom: 27px;
        }

        span {
            font-size: 18px;
            padding-left: 10px;
        }
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
            // display: flex;
            // align-content: center;
            // justify-content: space-between;

            display: table;
            // table-layout: fixed;
            width: 100%;
            margin-bottom: 0px;

            // &:last-child {
            //     margin-bottom: 0;
            // }

            @media(max-width: 576px) {
                margin-bottom: 7px;
            }

            span {
                font-size: 18px;
                line-height: 1;
                font-family: $mont-r;
                color: #6f4838;
                display: table-cell;
                vertical-align: top;
                padding-right: 10px;
                min-width: 1%;
                white-space: nowrap;
                line-height: 34px;

                @media(max-width: 1200px) and (min-widht: 769px) {
                    font-size: 14px;
                    line-height: 24px;
                }

                @media(max-width: 768px) {
                    font-size: 18px;
                    line-height: 34px;
                }

                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 30px;
                }

                @media(max-width: 576px) {
                    font-size: 12px;
                    line-height: 20px;
                    padding-right: 5px;
                }

                @media(max-width: 400px) {
                    font-size: 10px;
                }
            }

            >b {
                width: 100%;
                height: 2px;
                display: table-cell;
                vertical-align: top;

                // @media(max-width: 400px) {
                //     display: none;
                // }

                &:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    display: block;
                    background: url("../img/dot.svg") left center repeat-x;
                    margin-top: 17px;

                    @media(max-width: 1200px) and (min-widht: 769px) {
                        margin-top: 12px;
                    }

                    @media(max-width: 576px) {
                        position: relative;
                        top: -8px;
                    }

                    @media(max-width: 400px) {
                        height: 1px;
                        // top: -7px;
                    }
                }
            }

            em {
                font-size: 18px;
                font-family: $mont-sb;
                font-style: normal;
                color: #6f4838;
                line-height: 1;
                display: table-cell;
                vertical-align: top;
                min-width: 1%;
                white-space: nowrap;
                text-align: right;
                padding-left: 10px;
                line-height: 24px;
                padding-top: 5px;

                @media(max-width: 1200px) and (min-widht: 769px) {
                    font-size: 14px;
                    padding-top: 0px;
                    position: relative;
                    top: 1px;
                }

                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 30px;
                }

                @media(max-width: 576px) {
                    font-size: 12px;
                    padding-top: 0px;
                    line-height: 20px;
                    padding-left: 5px;
                }

                @media(max-width: 400px) {
                    font-size: 10px;
                }
            }
        }
    }

    .container {

        img {
            // margin: 0 auto;
            display: block;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;

            @media(max-width: 768px) {
                margin-top: 23px;
                // width: 57%;
                // max-width: 57%;
            }
        }
    }

}


// Choco
.chomenu {
    padding-top: 70px;
    padding-bottom: 59px;
    background: #f8f0e9 url(../img/menu-bg.png) top left no-repeat;


    @media(max-width: 576px) {
        padding-top: 44px;
        padding-bottom: 30px;
    }

    h2 {
        text-align: center;
        margin-bottom: 26px;
    }

    @media(max-width: 576px) {
        .row {
            padding: 0px 20px;

            >div {
                width: calc(50% - 10px);
                padding: 0px;

                &:nth-child(2n - 1) {
                    margin-right: 10px;
                }

                &:nth-child(2n) {
                    margin-left: 10px;
                }
            }
        }
    }

    @media(max-width: 768px) and (min-width: 577px) {
        .row {
            >div {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
        }
    }

    &__item {
        border: 1px solid #f2d8c9;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
        color: #6f4838;
        overflow: hidden;
        padding-bottom: 12px;
        box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
        margin-bottom: 20px;

        >i {
            display: block;
            height: 128px;
            border-bottom: 1px solid #f2d8c9;
            overflow: hidden;
            margin-bottom: 13px;

            @media(max-width: 768px) {
                height: 130px;
            }

            @media(max-width: 576px) {
                margin-bottom: 5px;
            }


            img {
                max-width: 100%;
                width: 100%;

                @supports (object-fit: cover) {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        >b {
            padding-left: 20px;
            font-size: 20px;
            font-family: $aleg-b;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 7px;

            @media(max-width: 1200px) {
                padding-left: 15px;
            }

            @media(max-width: 768px) {
                font-size: 20px;
            }

            @media(max-width: 576px) {
                font-size: 16px;
                margin-bottom: 4px;
            }
        }

        >ul {
            list-style: none;
            padding: 0px;
            padding: 0px;
            padding-left: 20px;
            min-height: 176px;

            @media(max-width: 1200px) {
                padding-left: 15px;
                // min-height: 160px;
            }

            @media(max-width: 576px) {
                min-height: 229px;
                margin-bottom: 0px;
            }

            @media(max-width: 380px) {
                min-height: 185px;
            }
        }

        li {
            font-size: 16px;
            font-family: $mont-r;
            line-height: 22px;
            margin-bottom: 22px;
            padding-right: 10px;

            @media(max-width: 1200px) {
                // font-size: 14px;
                // margin-bottom: 10px;
                // line-height: 20px;
                // margin-bottom: 20px;
            }

            @media(max-width: 1200px) and (min-width: 993px) {
                font-size: 14px;
            }

            @media(max-width: 576px) {
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 19px;
            }

            @media(max-width: 380px) {
                font-size: 10px;
                margin-bottom: 10px;
                line-height: 16px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }


        >span {
            display: inline-block;
            width: 100%;
            text-align: center;

            font-size: 24px;
            font-family: $mont-b;

            @media(max-width: 576px) {
                font-size: 20px;
            }
        }
    }
}


.menulist-header {
    margin-bottom: 33px;

    @media(max-width: 576px) {
        margin-bottom: 23px;
    }

    h1 {
        margin-top: -11px;
        margin-bottom: 22px;


        @media(max-width: 576px) {
            margin-top: -4px;
            margin-bottom: 18px;

        }
    }

    span {
        text-align: center;
        display: inline-block;

        @media(max-width: 992px) {
            padding: 0px 5%;
        }

        @media(max-width: 420px) {
            padding: 0px;
        }

        @media(max-wdith: 380px) {
            font-size: 14px;
        }
    }
}