header {
  position: relative; // margin: 40px 0;
  height: 150px;
  padding: 40px 0;

  &.home {
    background-color: #f8f0e9;
    border-bottom: 1px solid #f2d8c9;
    box-shadow: 0px 4px 8px 0px rgba(81, 44, 29, 0.12);
    margin: 0; // padding: 40px 0;
    z-index: 10;

    @media (max-width: 991px) {
      border: none;
      box-shadow: none;
      position: absolute;
      width: 100%;
      background-color: transparent
    }

    @media (max-width: 575px) {
      padding: 20px 0;
    }
  }

  .header__menu--wrap,
  .header__phone--wrap {
    display: none;

    a {
      display: inline-block;
      width: 70px;
      height: 70px;
      border: 1px solid #f2d8c9;
      border-radius: 100%;
      text-align: center;

      @media (max-width: 575px) {
        width: 50px;
        height: 50px;

        svg {
          width: 18px;
          height: 18px;
          margin-top: 15px;
        }
      }

      svg {
        width: 30px;
        height: 26px;
        fill: #a95735;
        margin-top: 20px;
      }
    }

    @media (max-width: 991px) {
      display: inline-block;
    }
  }

  .wrap--logo {
    max-height: 70px;
    height: 100%;
    display: block;
    text-align: center;

    a {
      display: inline-block;
      width: 100%;
    }

    img {
      max-height: 100%;
      width: auto;
    }

    @media (max-width: 1199px) {
      width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .menu--left,
  .menu--right {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (max-width: 991px) {
      display: none;
    }

    li {
      margin: 0 15px;
      display: inline-block;

      @media (max-width: 1199px) {
        margin: 5px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        a {
          color: #bb9448;

          span {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: #6f4838;
      font-size: 16px;
      font-family: "Montserrat-Medium";
      transition: 0.3s;

      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -3px;
          height: 1px;
          width: 0;
          background-color: #bb9448;
          transition: 0.3s;
        }
      }

      &:hover {
        color: #bb9448;

        span {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .menu--right {
    text-align: right;
  }

  &.fixed-header {
    .menu__header {
      position: fixed;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 20px 0;
      box-shadow: 0px 4px 8px 0px rgba(81, 44, 29, 0.12);
      background-color: #f8f0e9;
      animation-name: menu-fixed;
      animation-duration: 0.5s;
      z-index: 10;

      @media (max-width: 575px) {
        padding: 10px 0;
      }

      .first__menu {
        text-align: right;

        @media (max-width: 991px) {
          text-align: left;
        }
      }

      .second__menu {
        .menu--right {
          text-align: left;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .second__menu {
      text-align: right;
    }
  }

  @media (max-width: 575px) {
    // margin: 20px 0;
    height: 110px;
    padding: 20px 0;

    .wrap--logo {
      max-height: 50px;

      img {
        max-height: inherit;
        height: 50px;
        width: auto;
      }
    }
  }
}

@keyframes menu-fixed {
  0% {
    top: -100%;
  }

  100% {
    top: 0px;
  }
}

header .header__menu--wrap {
  .hamburger__menu {
    @media(max-width: 576px) {
      svg {
        width: 18px;
        height: 18px;
        margin-top: 15px;
      }
    }
  }
}

header .header__phone--wrap {
  a {
    @media(max-width: 576px) {
      svg {
        width: 18px;
        height: 18px;
        margin-top: 15px;
      }
    }
  }
}