.news-detail {

    h2 {
        margin-top: -10px;
        margin-bottom: 26px;
        text-align: left;

        @media(max-widht: 576px) {
            margin-top: -5px;
        }
    }


    &__info {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 48px;
        padding-bottom: 81px;

        @media(max-width: 767px) {
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 46px;
        }

        >a {
            text-decoration: none;
            display: inline-block;
            height: auto;

            @media(max-width: 767px) {
                order: 2;
                display: table;
                margin: 0 auto;
                margin-top: 45px;
            }

            >i {
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 1px;
                vertical-align: middle;
                position: relative;
                top: -2px;

                @media(pointer: coarse) {
                    top: 0px;
                }

                @media(max-width: 767px) {
                    margin-right: 5px;
                }


                img {
                    width: 100%;
                    // margin-top: -1px;
                    vertical-align: top;
                }


            }

            >span {
                color: #6f4838;
                font-size: 16px;
                font-family: $mont-r;
                position: relative;
                display: inline-block;

                &:after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    display: block;
                    background-color: #6f4838;
                    position: absolute;
                    left: 0px;
                    bottom: 4px;
                    transition: .2s;
                }
            }

            &:hover {
                >span {
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }


        div {
            margin-top: -7px;

            @media(max-width: 767px) {
                order: 1;
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 0px;
                align-items: center;
            }


            @media(max-width: 450px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }


            >em {
                line-height: 1;
                font-style: normal;
                margin-left: 15px;


                @media(max-width: 992px) {
                    &:first-child {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    img {
                        position: relative;
                        top: -1px;
                    }
                }

                @media(max-width: 767px) {
                    margin: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                @media(max-width: 450px) {
                    margin: 0px;
                }

                i {
                    width: 17px;
                    height: 15px;
                    display: inline-block;
                    position: relative;
                    top: -1px;
                    margin-right: 1px;

                    img {
                        width: 100%;
                        vertical-align: middle;
                    }
                }

                span,
                time {
                    color: #af9d96;
                    font-size: 14px;
                    font-family: $mont-r;

                    @media(max-width: 767px) {
                        margin-left: 4px;
                        margin-top: 1px;
                    }
                }
            }

            ul {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
                position: relative;
                top: 1px;
                margin-left: 28px;

                @media(max-width: 450px) {
                    margin: 0px;
                    margin-top: 30px;
                }

                li {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    background-color: red;
                    border-radius: 100%;
                    margin-left: 6px;
                }
            }
        }
    }
}


article {
    border-width: 1px;
    border-color: rgb(242, 216, 201);
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 34px;
    padding-bottom: 16px;

    @media(max-width: 992px) {
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 25px;
    }

    @media(max-width: 576px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 14px;
        padding-bottom: 0px;
    }

    p {
        font-size: 16px;
        font-family: $mont-r;
        color: #6f4838;
        line-height: 24px;
        margin-bottom: 26px;

        @media(max-width: 576px) {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 21px;
        }
    }
}

.article-img {
    display: block;
    width: calc(50% - 15px);
    float: left;

    border-width: 1px;
    border-color: rgb(242, 216, 201);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(250, 246, 243);
    overflow: hidden;
    position: relative;
    height: 280px;
    margin-bottom: 36px;

    @media(max-width: 992px) {
        height: 200px;
        margin-bottom: 28px;
    }

    @media(max-width: 767px) {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    @media(max-width: 576px) {
        height: 48vw;
    }

    @media(min-width: 1024px) {
        &:hover {

            &:after,
            &:before {
                opacity: 1;
            }
        }
    }

    &:nth-child(2n - 1) {
        margin-right: 30px;

        @media(max-width: 767px) {
            margin: 0px;
            margin-bottom: 20px;
        }
    }


    &:after {
        content: "";
        width: 70px;
        height: 70px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../img/plus.svg") center center no-repeat;
        background-size: contain;
        transition: .2s;
        opacity: 0;
        z-index: 2;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        transition: .2s;
        opacity: 0;
    }

    >img {
        width: 100%;

        @supports(object-fit: cover) {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}