.news {
    margin-top: -10px;

    .container {}

    h2 {
        margin-bottom: 25px;
    }

    &__items {
        margin: 0px -15px;

        @media(max-width: 992px) {
            margin: 0px -10px;
        }

        @media(max-width: 768px) {
            margin: 0px;
        }

        // column-count: 3;
        // column-gap: 1em;

        &::after {
            display: block;
            clear: both;
            content: "";
        }

    }

    &__item {
        // width: 50%;
        float: left;
        padding: 0px 15px;
        margin-bottom: 30px;
        display: inline-block;

        @media(max-width: 992px) {
            padding: 0px 10px;
            margin-bottom: 20px;
        }

        @media(max-width: 768px) {
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;

            &:nth-child(2n - 1) {
                margin-right: 20px;
            }
        }

        // display: inline-block;
        // margin-left: -4px;
        // vertical-align: top;

        &-min {
            width: ((385 * 100%) / 1170);

            @media(max-width: 768px) {
                width: calc(50% - 10px);
            }

            @media(max-width: 576px) {
                width: 100%;
            }
        }

        &-max {
            width: ((785 * 100%) / 1170);
            // overflow: hidden;

            @media(max-width: 768px) {
                width: calc(50% - 10px);
            }

            @media(max-width: 576px) {
                width: 100%;
            }
        }

        &:nth-child(6n) {
            margin-top: -230px;

            @media(max-width: 992px) {
                margin-top: -180px;
            }

            @media(max-width: 768px) {
                margin-top: 0px;
            }
        }
    }

    &-article {
        background-color: #fff;
        border-width: 1px;
        border-color: rgb(242, 216, 201);
        border-style: solid;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
        overflow: hidden;

        @media(min-width: 1024px) {
            &:hover {
                .news-article__img {
                    >i {
                        img {
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }

        &--max {
            height: 200px;
            display: flex;

            @media(max-width: 992px) {
                height: 160px;
            }

            @media(max-width: 768px) {
                flex-direction: column;
                height: auto;
            }

            .news-article__img {
                width: 270px;

                @media(max-width: 992px) {
                    width: 200px;
                }

                @media(max-width: 768px) {
                    width: 100%;
                }
            }

            .news-article__content {
                width: calc(100% - 270px);
                height: 100%;

                @media(max-width: 992px) {
                    width: calc(100% - 200px);
                }

                @media(max-width: 768px) {
                    width: 100%;
                    heigth: auto;
                }
            }
        }

        &--min {
            height: 430px;

            @media(max-width: 992px) {
                height: 340px;
            }

            @media(max-width: 768px) {
                height: auto;
            }

            .news-article__content {
                height: calc(100% - 200px);

                @media(max-width: 992px) {
                    height: calc(100% - 160px);
                }

                @media(max-width: 768px) {
                    height: auto;
                }

            }
        }

        &__img {
            height: 200px;

            @media(max-width: 992px) {
                height: 160px;
            }

            @media(max-width: 768px) {
                height: 178px;
            }

            >i {
                width: 100%;
                height: 100%;
                display: block;
                overflow: hidden;

                >img {
                    width: 100%;
                    transition: .2s;

                    @supports(object-fit: cover) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }

        &__content {
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 10px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;

            @media(max-width: 992px) {
                padding-top: 10px;
                padding-left: 15px;
            }

            @media(max-width: 768px) {
                padding-top: 15px;
                padding-right: 20px;

            }

            h3 {
                font-size: 24px;
                font-family: $aleg-b;
                line-height: 32px;
                color: #6f4838;
                overflow: hidden;
                height: 100%;
                position: relative;

                @media(max-width: 992px) {
                    font-size: 18px;
                    line-height: 20px;
                    text-align: left;
                }

                @media(max-width: 768px) {
                    font-size: 22px;
                    line-height: 28px;
                    margin-bottom: 25px;
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 20px;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(224, 122, 122, 0.8) 30%, rgba(255, 255, 255, 0) 100%);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .8) 20%, rgba(255, 255, 255, 0.5) 79%, rgba(255, 255, 255, 0) 100%);
                    display: block;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;

                    @media(max-width: 768px) {
                        display: none;
                    }
                }
            }

            time {
                display: flex;
                height: 100%;
                align-items: flex-end;
                padding-bottom: 18px;
                height: auto;

                @media(max-width: 992px) {
                    padding-bottom: 10px;
                }

                @media(max-width: 768px) {
                    padding-bottom: 18px;
                }

                >i {
                    width: 16px;
                    height: 14px;
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                    top: -1px;

                    @media(max-width: 992px) and (min-width: 769px) {
                        width: 14px;
                        height: 12px;
                    }

                    img {
                        vertical-align: top;
                        width: 100%;
                    }
                }

                >span {
                    display: inline-block;
                    vertical-align: middle;
                    color: #af9d96;
                    font-size: 14px;
                    font-family: $mont-r;
                    line-height: 1;

                    @media(max-width: 992px) {
                        font-size: 12px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }


    &__more {
        margin-top: 25px;
        margin-bottom: 78px;
        text-align: center;

        @media(max-width: 768px) {
            margin-top: 35px;
        }

        @media(max-width: 576px) {
            margin-top: 25px;
            margin-bottom: 48px;
        }

        &-btn {
            display: inline-block;
            cursor: pointer;

            >i {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 4px;

                >img {
                    width: 100%;
                }
            }

            >span {
                font-size: 18px;
                font-family: $mont-m;
                color: #a95634;
                position: relative;

                &:after {
                    content: "";
                    width: 100%;
                    height: 0px;
                    position: absolute;
                    left: 0px;
                    bottom: -1px;
                    border-bottom: 1px dashed #a95634;
                }
            }
        }
    }
}

// @media(max-width: 1500px) and (min-width: 768px) {
//     .itshef-slider1._w-top-menu .itshef-slider__slides>.itshef-slider1__slide {
//         padding-top: 25vh;
//         padding-bottom: 20vh;
//     }

//     .itshef-slider__slides .itshef-slider1__slide .title-1 {
//         font-size: 45px;
//     }

//     .itshef-slider1._w-top-menu .itshef-slider__slides>.itshef-slider1__slide .container {
//         display: flex;
//         flex-direction: column;
//         align-item: flex-start;
//         height: 100%;
//     }

//     .itshef-slider1._w-top-menu .itshef-slider__slides>.itshef-slider1__slide .itshef-slider1__inner-actions {
//         display: flex;
//         height: 100%;
//         align-items: flex-end;
//     }
// }