.popup {
    // position: fixed;
    // top: 50%;
    // top: 0px;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // transform: translateX(-50%);
    // z-index: 9999;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
    text-align: center;
    width: 770px;
    display: none;

    padding: 0px !important;


    @media(max-width: 830px) {
        width: calc(100% - 48px);
    }

    @media(max-width: 767px) {
        width: calc(100% - 28px);
    }

    &__wrap {}

    .fancybox-close-small {
        display: none;
    }

    &__close {
        display: block;
        width: 20px;
        height: 20px;
        background: url("../img/close.svg") center center no-repeat;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
        transition: .2s;

        @media(max-width: 767px) {
            top: 16px;
            right: 15px;
        }

        svg {
            fill: #af9d96;
        }

        &:hover {
            opacity: .5;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        position: relative;
        z-index: 1;
        padding: 0px 95px;
        padding-bottom: 32px;
        padding-top: 29px;

        @media(max-width: 992px) {
            padding-left: 5%;
            padding-right: 5%;
        }

        @media(max-width: 767px) {
            padding-left: 45px;
            padding-right: 45px;
            padding-top: 24px;
            padding-bottom: 17px;
        }

        @media(max-width: 420px) {
            padding-top: 45px;
            padding-left: 20px;
            padding-right: 20px;
        }

        >h3 {
            color: #6f4838;
            font-family: $aleg-b;
            font-size: 36px;
            line-height: 1.2;
            text-align: center;

            // margin-top: 29px;
            margin-bottom: 4px;


            @media(max-width: 767px) {
                font-size: 28px;
                line-height: 1.2;
            }

            @media(max-width: 420px) {
                font-size: 20px;
            }
        }

        >p {
            color: #8f7e78;
            font-size: 18px;
            font-family: $mont-r;
            text-align: center;
            margin-bottom: 31px;

            @media(max-width: 767px) {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 23px;
            }

            @media(max-width: 420px) {
                font-size: 12px;
            }
        }

        .input-block {
            // width: 300px;
            width: 100%;
        }

        form {
            width: 300px;
            display: flex;
            flex-direction: column;

            @media(max-width: 480px) {
                width: 100%;
            }

            button {
                border: 0px;
                width: 100%;
                padding: 13px 10px;
                min-width: inherit;
                cursor: pointer;
                outline: none;

                >span {
                    font-size: 16px;
                }
            }
        }
    }

    &__check {}

    .block-check {
        margin-top: 18px;
    }
}


.input-block {
    margin-bottom: 19px;

    label {
        color: #af9d96;
        font-size: 14px;
        font-family: $mont-r;
        display: block;
        width: 100%;
        text-align: left;
        line-height: 1;
        margin-bottom: 0px;

        @media(max-width: 767px) {
            font-size: 14px;
        }
    }

    input {
        width: 100%;
        border: 0px;
        background: transparent;
        border-bottom: 1px solid #af9d96;
        height: 34px;
        margin-top: 7px;
        color: #6f4838;
        font-size: 18px;
        font-family: $mont-r;

        @media(max-width: 767px) {}

        @media(max-width: 420px) {
            font-size: 14px;
        }

        &::placeholder {
            color: #e1d9d6;
        }
    }
}

.block-check {
    text-align: center;

    input {
        position: absolute;
        visibility: hidden;
        opacity: 0;

        &:checked+label {
            &:after {
                opacity: 1;
            }
        }
    }

    &-box {
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        border-width: 1px;
        border-color: rgb(242, 216, 201);
        border-style: solid;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        position: relative;
        top: 3px;
        cursor: pointer;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            transition: .2s;
            background: url("../img/check.svg") center center no-repeat;
            background-size: 70%;
            opacity: 0;
        }

    }

    &-text {
        color: #af9d96;
        font-size: 14px;
        font-family: $mont-r;
        line-height: 18px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        cursor: pointer;
        user-select: none;

        >a {

            color: #6f4838;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}