.price {
  h2 {
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 25px;
    margin-top: 30px;
  }

  .table-responsive {
    overflow-x: hidden;
  }

  .table {
    margin-top: 0;
  }

  thead {
    th {
      padding: 24px 15px;

      &:nth-child(1) {
        max-width: 270px;
        width: 270px;
      }

      &:nth-child(2) {
        max-width: 210px;
        width: 210px;
      }
    }
  }

  .price__additional {
    background-color: #f8f0e9;
    border-radius: 10px;
    border: 1px solid #f2d8c9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -20px;

    @media(max-width: 992px) and (min-width: 767px) {
      flex-wrap: nowrap;
      padding: 0px 30px;
    }


    >div {
      margin: 15px;
      padding: 10px 0;
    }

    p {
      position: relative;
      font-size: 18px;
      line-height: 24px;
      font-family: "Montserrat-SemiBold";
      color: #6f4838;
      max-width: 470px;
      padding-left: 70px;
      margin: 0;

      @media(max-width: 992px) {
        max-width: inherit;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        // padding: 14px 0;
      }

      &::before {
        content: '';
        position: absolute;
        width: 53px;
        height: 50px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/icon/cake.svg');
        background-repeat: no-repeat;
        background-size: contain;

      }
    }

    a {
      span {
        white-space: nowrap;

        @media(max-width: 992px) and (min-width: 767px) {
          font-size: 14px;
        }
      }
    }


  }

  .wrap--btn {
    margin-top: 45px;
    margin-bottom: 10px;

    .btn__brown {
      // padding: 20px 75px;
    }
  }

  @media (max-width: 991px) {
    .price__additional {
      >div {
        margin: 10px 0;
      }

      p {
        font-size: 16px;
      }

      .btn__simple {
        min-width: auto;
        padding: 15px;
      }
    }
  }

  @media (max-width: 767px) {
    .price__additional {
      padding: 20px 30px 0;

      >div {
        margin: 0;
        padding: 7px 0;
      }

      p {
        padding: 0;
        text-align: center;

        &::before {
          content: none;
        }
      }
    }
  }

  @media (max-width: 575px) {
    h2 {
      font-size: 22px;
      line-height: 28px;
      margin: 15px 0;
      margin-top: 40px;
    }

    .price__additional {
      .btn__simple {
        padding: 10px;
        min-width: 250px;
      }
    }

    tbody {
      td {
        padding-top: 10px;
        padding-bottom: 10px;

        &:nth-child(4) {
          font-size: 12px;
        }
      }
    }

    .wrap--btn {
      margin-top: 30px;
    }

    @media (max-width: 415px) {
      .wrap--btn {
        .btn__brown {
          // padding: 15px 0;
        }
      }
    }

  }
}