.sale {

    h1 {
        margin-top: -10px;
        margin-bottom: 25px;

        @media(max-width: 767px) {
            margin-top: -5px;
            margin-bottom: 23px;
        }
    }

    .slick-slider {
        margin-bottom: 0px;

        .slick-list {

            &:after,
            &:before {
                display: none;
            }
        }

        .slide-prev {
            left: 19px;

            @media(max-width: 767px) {
                left: -16px;
            }
        }

        .slide-next {
            right: 19px;

            @media(max-width: 767px) {
                right: -16px;
            }
        }

        .slick-dots {
            bottom: 20px;

            @media(max-width: 767px) {
                bottom: 14px;
            }

            li {
                width: 20px;
                height: 20px;

                @media(max-width: 767px) {
                    width: 14px;
                    height: 14px;
                }

                &.slick-active {
                    button {
                        background-color: #a95634;
                    }
                }

                button {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    border-radius: 100%;
                    background-color: #fff;
                    border: 1px solid #f3dcce;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        &.sale__slider {
            margin-bottom: 0px;
        }
    }


    &__slider {
        height: 100%;
        border-width: 1px;
        border-color: rgb(242, 216, 201);
        border-style: solid;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
        // overflow: hidden;
        outline: none;


        &-item {
            text-align: center;
            background-size: cover;
            background-position: right bottom;
            outline: none;
            border-radius: 10px;
            overflow: hidden;

            em {
                color: #df9871;
                font-size: 17px;
                font-family: $mont-m;
                text-transform: uppercase;
                font-style: normal;
                line-height: 1;
                margin-bottom: 14px;
                display: inline-block;

                @media(max-width: 1200px) {
                    font-size: 14px;
                }

                @media(max-width: 992px) {
                    font-size: 15px;
                }

                @media(max-width: 767px) {
                    font-size: 10px;
                    margin-bottom: 7px;
                }
            }

            h2 {
                color: #f8444c;
                font-size: 63px;
                font-family: $aleg-b;
                line-height: 1;

                @media(max-width: 1200px) {
                    font-size: 50px;
                }

                @media(max-width: 992px) {
                    font-size: 56px;

                }

                @media(max-width: 767px) {
                    font-size: 32px;
                    margin-bottom: 6px;
                }
            }

            span {
                color: #ae6842;
                font-size: 43px;
                font-family: $aleg-b;
                line-height: 1;
                display: inline-block;
                margin-bottom: 39px;

                @media(max-width: 1200px) {
                    margin-bottom: 35px;
                }

                @media(max-width: 992px) {
                    margin-bottom: 36px;
                    font-size: 40px;
                }

                @media(max-width: 767px) {
                    font-size: 22px;
                    margin-bottom: 20px;

                }
            }

            b {
                width: 100%;
                display: inline-block;
                color: #f8444c;
                font-size: 36px;
                font-family: $mont-b;
                vertical-align: middle;
                line-height: 1;

                @media(max-width: 1200px) {
                    font-size: 30px;
                }

                @media(max-width: 767px) {
                    font-size: 18px;
                }

                i {
                    width: 33px;
                    height: 32px;
                    display: inline-block;
                    position: relative;
                    vertical-align: top;
                    top: -2px;

                    @media(max-width: 767px) {
                        width: 21px;
                        height: 19px;
                    }

                    >img {
                        width: 100%;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }

            &-wrap {
                width: 475px;
                padding-left: 9%;
                padding-top: 66px;
                padding-bottom: 72px;

                @media(max-width: 1200px) {
                    padding-top: 40px;
                    padding-left: 90px;
                    padding-right: 90px;
                    width: 100%;
                }

                @media(max-width: 992px) {
                    width: 550px;
                    padding-left: 70px;
                    padding-top: 58px;
                    padding-bottom: 67px;
                }

                @media(max-width: 767px) {
                    padding-top: 30px;
                    width: 66%;
                    padding-left: 0px;
                    padding-bottom: 38px;
                    padding-right: 0px;
                }

                @media(max-width: 420px) {
                    width: 100%;
                    background-color: rgba(#fff, .5)
                }
            }

        }
    }

    &__btn {
        text-align: center;
        border-width: 1px;
        border-color: rgb(242, 216, 201);
        border-style: solid;
        border-radius: 10px;
        background-color: rgb(255, 236, 219);
        box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
        height: 100%;
        background-image: url("../img/bn-bg.jpg");
        background-size: cover;
        background-position: center center;
        padding-top: 18px;

        @media(max-width: 992px) {
            height: 335px;
            margin-top: 20px;
            padding-top: 15px;
        }

        @media(max-width: 767px) {
            padding-top: 3px;
            height: 195px;
        }

        @media(max-width: 420px) {
            padding-top: 5px;
        }


        em {
            font-style: normal;
            font-family: $mont-m;
            font-size: 17px;
            color: #b07960;
            letter-spacing: 2.2px;
            line-height: 1;
            display: inline-block;
            margin-bottom: 15px;

            @media(max-width: 1200px) {
                font-size: 14px;
            }

            @media(max-widht: 992px) {
                margin-bottom: 13px;
            }

            @media(max-width: 767px) {
                font-size: 8px;
                margin-bottom: 8px;
            }

            @media(max-width: 420px) {
                line-height: 1.3;
            }
        }

        h3 {
            font-size: 38px;
            color: #c16448;
            font-family: $aleg-b;
            line-height: 32px;

            @media(max-width: 1200px) {
                font-size: 28px;
            }

            @media(max-width: 992px) {
                font-size: 35px;
                line-height: 30px;
            }

            @media(max-width: 767px) {
                font-size: 20px;
                line-height: 17px;
                margin-bottom: 0px;
            }

            @media(max-width: 420px) {
                font-size: 16px;
                line-height: 1.1;
                padding: 0px 5px;
            }
        }

        b {
            color: #fc8040;
            font-size: 25px;
            font-family: $mont-b;

            @media(max-width: 1200px) {
                font-size: 22px;
            }

            @media(max-width: 767px) {
                font-size: 13px;
            }

            @media(max-width: 420px) {
                font-size: 12px;
            }
        }
    }
}

.sale__btn-parent {
    @media(max-width: 992px) {
        padding: 0px 10px !important;
    }
}

.table-visible {
    display: none;

    @media(max-width: 992px) {
        display: block;
    }
}


.subscribe {
    background-color: #f8f0e9;
    margin-top: 80px;


    @media(max-width: 767px) {
        margin-top: 50px;
    }

    &__form {
        background: url("../img/envelope.png") left center no-repeat;
        padding-left: 50%;
        padding-top: 34px;
        padding-bottom: 40px;

        @media(max-width: 1200px) {
            padding-left: 40%;
        }

        @media(max-width: 992px) {
            padding-left: 0px;
            padding-bottom: 289px;
            background-position: center bottom;
        }

        @media(max-width: 576px) {
            padding-top: 46px;
            padding-bottom: 201px;
            background-size: 279px;
        }

        h3 {
            color: #6f4838;
            font-size: 36px;
            font-family: $aleg-b;
            margin-bottom: 9px;
            line-height: 1;

            @media(max-width: 576px) {
                font-size: 26px;
            }
        }

        p {
            color: #af9d96;
            font-size: 16px;
            line-height: 24px;
            font-family: $mont-r;
            margin-bottom: 33px;

            @media(max-width: 992px) {
                text-align: center;
            }

            @media(max-width: 576px) {
                font-size: 16px;
                text-align: center;
                margin-bottom: 38px;
            }
        }

        input {
            border-width: 1px;
            border-color: rgb(242, 216, 201);
            border-style: solid;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            height: 50px;
            font-size: 14px;
            font-family: $mont-r;
            padding-left: 14px;
            padding-right: 10px;
            transition: .2s;
            // width: 100%;

            // @media(max-width: 992px) {
            //     width: 100%;
            // }

            &::placeholder {
                color: #af9d96;
            }
        }

        button {}

        form {
            display: flex;
            justify-content: space-between;

            @media(max-width: 576px) {
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__name {
        width: 160px;

        @media(max-width: 576px) {
            width: 300px;
            margin-bottom: 15px;
        }

        @media(max-width: 380px) {
            width: 100%;
        }
    }

    &__mail {
        margin: 0px 10px;
        width: 100%;

        @media(max-width: 576px) {
            width: 300px;
            margin-bottom: 30px;
        }

        @media(max-width: 380px) {
            width: 100%;
        }
    }

    &__btn {
        border: none;
        min-width: auto;
        width: auto;
        padding-top: 15px;
        padding-bottom: 17px;
        line-height: 1;
        cursor: pointer;
        outline: none;
        padding-left: 46px;
        padding-right: 46px;

        @media(max-width: 992px) {
            padding-left: 85px;
            padding-right: 85px;
        }

        @media(max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media(max-width: 576px) {
            padding-left: 101px;
            padding-right: 101px;
        }

        @media(max-width: 380px) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }

        span {
            line-height: 1;
            font-size: 14px;
        }
    }
}