.testimonials {
    background: none;
    padding-bottom: 80px;

    @media(max-width: 576px) {
        padding-bottom: 49px;
    }

    h2 {
        margin-top: -10px;

        @media(max-width: 576px) {
            margin-top: -4px;
        }
    }

    .review-slide {
        @media(max-width: 768px) {
            padding-bottom: 29px;
        }

        @media(max-width: 576px) {
            padding-bottom: 18px;
        }
    }


    &__item {
        display: inline-block;
        vertical-align: top;
        width: 33.333%;
        height: auto;
        margin-bottom: 30px;

        @media(max-width: 992px) {
            width: 50%;
        }

        @media(max-width: 576px) {
            width: 100%;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;

        .btn__brown {
            // padding: 22px 74px 21px;

            span {
                line-height: 1;
            }
        }
    }
}