.request-call {
    background: #fff;
    border-width: 1px;
    border-color: rgb(242, 216, 201);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px rgba(81, 44, 29, 0.06);
    margin-top: 5px;
    margin-bottom: 21px;

    @media(max-width: 576px) {
        margin-top: 11px;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 24px 20px;

        @media(max-width: 768px) {
            flex-wrap: wrap;
        }

        @media(max-width: 576px) {
            padding-bottom: 28px;
        }
    }

    &__btn {
        @media(max-width: 768px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                margin-top: 23px;
            }
        }

        @media(max-width: 576px) {
            a {
                margin-top: 11px;
            }
        }
    }

    i {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 20px;

        @media(max-width: 576px) {
            display: none;
        }
    }

    p {
        font-size: 18px;
        font-family: $mont-sb;
        color: #6f4838;
        line-height: 24px;
        margin: 0px;
        margin-right: 23px;

        @media(max-width: 992px) {
            font-size: 16px;
        }

        @media(max-width: 768px) {
            margin-right: 0px;
        }

        @media(max-width: 576px) {
            text-align: center;
        }
    }

    a.btn__simple {
        @media(max-wdith: 768px) {}
    }
}