<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-2 footer__logo--wrap">
        <div>
          <img src="./img/logo-footer.png" alt="logo">
        </div>
        <div>
          <span class="footer__logo-desc">детские шоколадные праздники</span>
        </div>
        <div>
          <ul class="footer__social">
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#vk"></use></svg></a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#inst"></use></svg></a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#yt"></use></svg></a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#tw"></use></svg></a></li>
          </ul>
        </div>
      </div>
      <div class="col footer__menu--wrap">        
          <ul class="footer__menu">
            <li><a href="#"><span>О нас</span></a></li>
            <li><a href="#"><span>Новости</span></a></li>
            <li><a href="#"><span>Прайс-лист</span></a></li>
            <li><a href="#"><span>Меню</span></a></li>
            <li><a href="#"><span>Фото и видео</span></a></li>
            <li><a href="#"><span>Отзывы</span></a></li>
            <li><a href="#"><span>Подарки Конфаэль</span></a></li>
            <li><a href="#"><span>Сайт компании Конфаэль</span></a></li>
            <li><a href="#"><span>Контакты</span></a></li>
            <li><a href="#"><span>Акции</span></a></li>
            <li><a href="#"><span>Добро</span></a></li>
            <li><a href="#"><span>Праздники для взрослых</span></a></li>
          </ul>
      </div>
      <div class="col-12 col-lg-2 footer__phone--wrap">
        <ul class="footer__phone">
          <li><a href="#">+7 495 517-36-15&nbsp;</a></li>
          <li><a href="#">+7 495 777-13-33</a></li>
          <li><a href="#">+7 916 343-92-22</a></li>
        </ul>
      </div>      
    </div>
  </div>
</footer>