  <script src="./libs/jquery/jquery.min.js"></script> 
  <script src="./libs/jquery/jquery.mask.min.js"></script> 
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="./libs/slick/slick.min.js"></script> 
  <script src="./libs/simplebar/simplebar.js"></script> 
  <script src="./libs/svg4everybody/svg4everybody.js"></script>
  <script src="./libs/enllax/jquery.enllax.js"></script>
  <script src="./libs/bootstrap/bootstrap.bundle.min.js"></script> 
  <script src="./libs/fancybox/jquery.fancybox.min.js"></script>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  <script src="./js/scripts.js"></script>
</body>
</html>