<header class="@@class">
  <div class="menu__header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-lg-2">
          <div class="wrap--logo">
            <a href="/">
              <img src="./img/logo.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="col-3 col-lg-5 order-first first__menu">
          <span class="header__phone--wrap">
            <a href="tel:+74955173615"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="./img/sprite.svg#phone"></use>
              </svg></a>
          </span>
          <ul class="menu--left">
            <li class="active"><a href="#"><span>О нас</span></a></li>
            <li><a href="#"><span>Новость</span></a></li>
            <li><a href="#"><span>Прайс-лист</span></a></li>
            <li><a href="#"><span>Меню</span></a></li>
          </ul>
        </div>
        <div class="col-3 col-lg-5 second__menu">
          <ul class="menu--right">
            <li><a href="#"><span>Фото и Видео</span></a></li>
            <li><a href="#"><span>Отзывы</span></a></li>
            <li><a href="#"><span>Добро</span></a></li>
            <li><a href="#"><span>Контакты</span></a></li>
          </ul>
          <span class="header__menu--wrap">
            <a href="#" class="hamburger__menu"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="./img/sprite.svg#hamburger"></use>
              </svg></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>