<div class="popup" id="popup-consult">
    <div class="popup__wrap">
        <div class="popup__close" data-fancybox-close></div>
        
        <div class="popup__content">
            <h3>Бесплатная консультация</h3>
            <p>Мы позвоним и проконсультируем вас по всем интересующим вопросам</p>

            <form action="#">
                <div class="input-block">
                    <label for="pop-name-cons">Ваше имя:</label>
                    <input id="pop-name-cons" type="text" placeholder="Например, Иван">
                </div>
                <div class="input-block">
                    <label for="pop-tel-cons">Ваш телефон:</label>
                    <input id="pop-tel-cons" type="tel" placeholder="+7 000 000-00-00">
                </div>

                <button type="submit" class="btn__brown">
                    <span>Оставить заявку</span>
                </button>

                <div class="popup__check">
                    <div class="block-check">
                        <input type="checkbox" id="pop-check-cons">
                        <label for="pop-check-cons" class="block-check-box" ></label>
                        <label for="pop-check-cons" class="block-check-text">Я согласен на обработку <br><a href="#link">персональных данных</a></label>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>



<div class="popup" id="popup-call">
    <div class="popup__wrap">
        <div class="popup__close" data-fancybox-close></div>
        
        <div class="popup__content">
            <h3>Заказать звонок</h3>
            <p>Заполните форму, и мы позвоним вам</p>

            <form action="#">
                <div class="input-block">
                    <label for="pop-name-call">Ваше имя:</label>
                    <input id="pop-name-call" type="text" placeholder="Например, Иван">
                </div>
                <div class="input-block">
                    <label for="pop-tel-call">Ваш телефон:</label>
                    <input id="pop-tel-call" type="tel" placeholder="+7 000 000-00-00">
                </div>

                <button type="submit" class="btn__brown">
                    <span>Оставить заявку</span>
                </button>

                <div class="popup__check">
                    <div class="block-check">
                        <input type="checkbox" id="pop-check-call">
                        <label for="pop-check-call" class="block-check-box" ></label>
                        <label for="pop-check-call" class="block-check-text">Я согласен на обработку <br><a href="#link">персональных данных</a></label>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>