<section class="brithday__foto @@class">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Фото и видео с праздников</h2>
        <div class="foto-slide" id="foto-slide">
          <div class="slide-video">
            <span><em>Шоколадный мастер-класс для детей на международном шоколадном салоне в ЦДХ</em></span>
            <img src="./img/slider-1.png" alt="img">
            <a href="https://www.youtube.com/watch?v=EMUcqwZvWC0" data-fancybox class="btn__play"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="./img/sprite.svg#arrow-play"></use></svg></a>
          </div>
          <div class="slide-foto">
            <img src="./img/slider-2.png" alt="img">
          </div>
          <div class="slide-foto">
            <img src="./img/slider-3.png" alt="img">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Мы в Instagram</h2>
        <div class="insta-slide" id="insta-slide">
          <div>
            <a href="#!"><img src="./img/instagram/insta-1.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-2.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-3.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-4.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-5.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-6.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-7.png" alt="img"></a>
          </div>
          <div>
            <a href="#!"><img src="./img/instagram/insta-8.png" alt="img"></a>
          </div>
        </div>
        <div class="wrap--btn">
          <a href="#!" class="btn__simple">Подписаться</a>
        </div>
      </div>
    </div>
  </div>
</section>