<section class="service__list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card--wrap" id="service-slider">
          <div class="service--card">
            <a href="#!">
            <img src="./img/confetti.png" alt="alt">
            <p><strong>День рождения</strong> на шоколадной фабрике</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
            <img src="./img/chocolate.png" alt="alt">
            <p><strong>Экскурсии</strong> на шоколадную фабрику</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
            <img src="./img/map.png" alt="alt">
            <p><strong>Выездные праздники</strong></p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
            <img src="./img/gift.png" alt="alt">
            <p><strong>Акции</strong>и специальные предложения</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
            <img src="./img/bell.png" alt="alt">
            <p><strong>Шоколадный выпускной</strong></p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
            <img src="./img/menu.png" alt="alt">
            <p><strong>Меню</strong> Вкусный стол к мероприятию</p>
            </a>
          </div>
          <div class="service--card">
            <a href="#!">
            <img src="./img/confetti_2.png" alt="alt">
            <p><strong>Дополнения</strong> к вашему празднику</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
