<section class="review @@class">
  <div class="container">
    <div class="row">
      <div class="col">

        <h2>Отзывы о праздниках</h2>

        <div class="review-slide" id="review-slide">
          <div class="review__block">
            <div class="review--text">
              Татьяна, от лица родительского комитета и нашего педагога Татьяны Алексеевны выражаю Вам благодарность за
              проведение праздника для наших ребят. Дети в восторге, родители довольны. Спасибо за профессионализм,
              насыщенность и внимательное отношение!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-1.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Ирина Каледина</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Все замечательно. Девочки зажигательные, дети от них в восторге! Оптимизм через край! Как прекрасно, что
              в пасмурный день можно получить солнечное настроение всей семьей! Спасибо всем, кто придумал такие
              зажигательные праздники! Спасибо руководству, что набирают таких прекрасных сотрудников!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-2.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Голубева Оксана</span>
                <a href="#!"><span>Страница Одноклассники</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Радостное чувство удивления историей Ваших достижений; тем, что рассказ и действия экскурсовода были
              педагогически грамотны и очень интересны. Контакт с детьми был на удивление! Побольше Вам детей,
              интересных и любопытных!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-3.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Лариса Величко</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Татьяна, от лица родительского комитета и нашего педагога Татьяны Алексеевны выражаю Вам благодарность за
              проведение праздника для наших ребят. Дети в восторге, родители довольны. Спасибо за профессионализм,
              насыщенность и внимательное отношение!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-1.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Ирина Каледина</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Татьяна, от лица родительского комитета и нашего педагога Татьяны Алексеевны выражаю Вам благодарность за
              проведение праздника для наших ребят. Дети в восторге, родители довольны. Спасибо за профессионализм,
              насыщенность и внимательное отношение!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-1.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Ирина Каледина</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Все замечательно. Девочки зажигательные, дети от них в восторге! Оптимизм через край! Как прекрасно, что
              в пасмурный день можно получить солнечное настроение всей семьей! Спасибо всем, кто придумал такие
              зажигательные праздники! Спасибо руководству, что набирают таких прекрасных сотрудников!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-2.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Голубева Оксана</span>
                <a href="#!"><span>Страница Одноклассники</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Радостное чувство удивления историей Ваших достижений; тем, что рассказ и действия экскурсовода были
              педагогически грамотны и очень интересны. Контакт с детьми был на удивление! Побольше Вам детей,
              интересных и любопытных!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-3.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Лариса Величко</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Татьяна, от лица родительского комитета и нашего педагога Татьяны Алексеевны выражаю Вам благодарность за
              проведение праздника для наших ребят. Дети в восторге, родители довольны. Спасибо за профессионализм,
              насыщенность и внимательное отношение!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-1.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Ирина Каледина</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Татьяна, от лица родительского комитета и нашего педагога Татьяны Алексеевны выражаю Вам благодарность за
              проведение праздника для наших ребят. Дети в восторге, родители довольны. Спасибо за профессионализм,
              насыщенность и внимательное отношение!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-1.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Ирина Каледина</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Все замечательно. Девочки зажигательные, дети от них в восторге! Оптимизм через край! Как прекрасно, что
              в пасмурный день можно получить солнечное настроение всей семьей! Спасибо всем, кто придумал такие
              зажигательные праздники! Спасибо руководству, что набирают таких прекрасных сотрудников!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-2.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Голубева Оксана</span>
                <a href="#!"><span>Страница Одноклассники</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Радостное чувство удивления историей Ваших достижений; тем, что рассказ и действия экскурсовода были
              педагогически грамотны и очень интересны. Контакт с детьми был на удивление! Побольше Вам детей,
              интересных и любопытных!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-3.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Лариса Величко</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
          <div class="review__block">
            <div class="review--text">
              Татьяна, от лица родительского комитета и нашего педагога Татьяны Алексеевны выражаю Вам благодарность за
              проведение праздника для наших ребят. Дети в восторге, родители довольны. Спасибо за профессионализм,
              насыщенность и внимательное отношение!
            </div>
            <div class="review--author">
              <div class="review--icon">
                <div class="image--wrap">
                  <img src="./img/review/review-1.png" alt="img">
                </div>
              </div>
              <div class="review--name">
                <span>Ирина Каледина</span>
                <a href="#!"><span>Страница ВКонтакте</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="review-slide__nav">
      </div>
    </div>
  </div>

  <img src="./img/blowout-open-yellow.png" alt="img" data-enllax-ratio="0.2" data-enllax-type="foreground"
    data-enllax-direction="vertical" class="parallax parallax-gift-a">
  <img src="./img/balloon-orange.png" alt="img" data-enllax-ratio="0.15" data-enllax-type="foreground"
    data-enllax-direction="vertical" class="parallax parallax-gift-b">
  <img src="./img/gift-ribbon-yellow.png" alt="img" data-enllax-ratio="0.2" data-enllax-type="foreground"
    data-enllax-direction="vertical" class="parallax parallax-gift-c">

</section>