<section class="contact__gift">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>Шоколадные подарки на все случаи жизни</h2>
        <p>В интернет-магазине «Конфаэль» вы можете приобрести оригинальные шоколадные подарки на любой праздник и
          повод. Настоящий бельгийский шоколад и оригинальное оформление подарков — лучшее поздравление с праздником</p>
        <a href="#!" class="btn__simple hover-brown">Выбрать подарок</a>
      </div>
      <div class="col-12 col-lg-6">
        <div class="image--wrap">
          <img src="./img/gift-image.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>